---
import Layout from '../layouts/Layout.astro';
---

<Layout>
<!--Start breadcrumb area-->     

<section class="breadcrumb-area" style="background-image: url(images/Productos/Vacio/academia-de-vacio-portada.webp);">
	<div class="container text-center">
		<h1>Academia de Vacío: Curso de Vacío Industrial</h1>
	</div>
</section>
<!--End breadcrumb area-->

<section id="blog-area" class="blog-with-sidebar-area blog-single-area">
    <div class="container">
        <div class="row">
                <div class="blog-post">
                    <div class="single-blog-post">
                        <div class="text-holder">
                            <div class="text">
                                <p>En este curso (Academia de Vacío) encontraras fundamentación y aplicación en el área de Vacío. <br>

                                    El Vacío es una presión menor a la presión atmosférica. A nivel del mar la presión atmosférica generalmente es de 14.7 psi, así que cualquier presión que se encuentre por debajo de esta se considera vacío. <br>
                                    
                                    La diferencia entre la presión de vacío y la presión atmosférica genera distintas operaciones como: levantamiento, sostenimiento, movimiento y producción de trabajo. El propósito del vacío es la reducción del impacto molecular dentro de un sistema. Entonces el vacío es la diferencial de presión producida por evacuar moléculas de aire de un sistema. <br>
                                    
                                    Existen dos clases de aplicaciones del vacío: sellado/no poroso y abierto/poroso, en un sistema cerrado no poroso la remoción progresiva del aire disminuye la densidad de aire dentro del espacio, esto hace que la presión del gas disminuya y se genere vacío. En los sistemas de vacío abiertos o porosos, una unidad de vacío debe ser capaz de eliminar más atmósfera (moléculas de aire) de lo que son capaces de penetrar de nuevo en el sistema.</p>
                               
                            </div>
                            <h3>Sistema de Vacío No Poroso</h3>
                            <div class="row justify-content-center">
                                    
                                <div class="col-8">
                                    <div class="img-holder">
                                        <img class="w-100" src="images/Productos/Vacio/sistema-no-poroso.webp" alt="Sistema No Poroso">
                                    </div>
                                </div>
                                
                            </div>

                            <h2 class="my-5">Academia de Vacío: Definiciones</h2>
                            <ul id="list">
                                <li><span class="fw-bold"> Vacío: </span>Cualquier presión menor a la presión atmosférica que es de 14.7 psi constituye un vacío.</li>
                                <li><span class="fw-bold">Caudal Vacío:</span> La velocidad a la que se elimina la presión atmosférica de un sistema o la cantidad de atmósfera externa que fluye a través de la bomba de vacío.  Esta tasa se mide en (scfm), la importancia del caudal es que determina la velocidad de evacuación o la capacidad para compensar las fugas.</li>
                                <li><span class="fw-bold">Capacidad de Aire Libre:</span> Cantidad de atmósfera o moléculas de aire que pueda desplazar una bomba de vacío a 0’’ Hg . Esta expresión se utiliza frecuentemente entre los fabricantes de bombas de vacío como indicador de tamaño y rendimiento.</li>
                                <li><span class="fw-bold">Fuerza de Vacío:</span> Es el nivel de presión dentro de un sistema, se mide en pulgadas de mercurio («Hg), generalmente determina la capacidad de levantamiento de una ventosa o la cantidad de atmósfera dejada en un sistema.</li>
                                <li><span class="fw-bold">Aire comprimido:</span> Es la fuente de energía que impulsa a una bomba de vacío neumática.</li>
                                <li><span class="fw-bold">Presión de Suministrado de Aire:</span> La presión del aire comprimido, generalmente se mide en psi, es la medida utilizada para conocer la presión optima de operación de una bomba de vacío.</li>
                                <li><span class="fw-bold">Tiempo de Evacuación:</span> tiempo que demora en evacuar un volumen a un nivel deseado de vacío.</li>
                                <li><span class="fw-bold">Consumo energía:</span> La cantidad de energía expresada en HP, KW, scfm.</li>
                                <li><span class="fw-bold">Fuerza de Levantamiento:</span> Capacidad de levantamiento de una ventosa, se determina multiplicando la presión por área.</li>
                                <li><span class="fw-bold">Volumen:</span> El total del área del vacío desde interior de la bomba hasta el área de aplicación.</li>
                            </ul>

                            <h2 class="my-5">Bombas de Aire Comprimido</h2>
                            <p>Existen diversas formas para crear vacío, una bomba es un generador de vacío, que puede ser alimentada por aire comprimido y electro-mecánicas. <br>

                                Las bombas de vacío también llamadas generadores, operan bajo el principio de Bernoulli, que dice en general que es una relación entre la presión y la velocidad, y que siempre que la velocidad de un fluido es alta la presión es baja y viceversa.</p>
                           
                            <h2 class="my-5">Eyector Simple</h2>
                            <p>Los generadores alimentados por aire comprimido utilizan este principio forzando el aire comprimido a través de un orificio que aumenta la velocidad a supersónica, creando aire de baja presión según el principio de Bernoulli (A). La presión atmosférica por fuera del sistema, fluye internamente tratando de crear un equilibrio (B). La mezcla de aire comprimido para crear la presión baja y el aire externo sale por el exosto (A+B), como lo muestra la imagen.</p>
                            <div class="row justify-content-center">
                                    
                                <div class="col-8">
                                    <div class="img-holder">
                                        <img class="w-100" src="images/Productos/Vacio/eyector-simple.webp" alt="eyector simple">
                                    </div>
                                </div>
                                
                            </div>
                            <p>El nivel de vacío que una unidad de vacío alimentada por aire puede producir depende del orificio o tobera. El diseño de esta determina la velocidad y por ende la presión.</p>
                            <h2 class="my-5">Eyector Multi-etapa</h2>
                            <p>Los eyectores multi-etapa son el segundo tipo de generadores, la unidad multi-etapa o multi-características funciona de forma parecida a los eyectores simples, solo que utiliza múltiples toberas y cámaras. <br>

                                El aire comprimido entra a la bomba (1), y es impulsado a la primera tobera Laval (2). En una unidad de múltiples etapas,  se agregan cámaras y toberas extra (3) para aumentar el caudal y maximizar el uso de energía motriz en el aire comprimido.  La secuencia con la que se abre cada etapa crea su propio nivel de vacío. Una vez que se alcanza cada nivel , el vacío de la cámara común (4) es mayor debido al funcionamiento de las cámaras combinadas, serie de toberas o eyectores (5) de tamaño creciente. <br>
                                
                                La presión atmosférica externa fluye en la cámara en un intento por igualar la presión del sistema (6). Este mayor nivel de vacío en la cámara común hace que se cierre (7) un disco de caucho o válvula anti retorno en secuencia , dejando abierta (8) únicamente la cámara de  alto vacío. Finalmente el aire comprimido y el aire de la atmósfera externa se combinan y salen por el exosto (1+6) . Como se ilustra en la imagen.</p>
                                <div class="row justify-content-center">
                                    
                                    <div class="col-8">
                                        <div class="img-holder">
                                            <img class="w-100" src="images/Productos/Vacio/eyectormulti.webp" alt="eyector simple">
                                        </div>
                                    </div>
                                    
                                </div>
                            <p>El proceso descrito se completa en milésimas de segundo y se repite continuamente en la medida que el nivel de vacío sube y baja, dependiendo del grado de fuga en el sistema</p>

                            <h2 class="my-5">Bombas Mecánicas</h2>
                            <p>Una bomba mecánica utiliza el mismo mecanismo de bombeo que un compresor, excepto que la unidad se instala de modo que el aire se extrae de un volumen cerrado y se evacua hacia la atmósfera. Existen tres tipos de bombas mecánicas.</p>


                            <h2 class="my-5">Sopladores Regenerativos y Centrífugos</h2>
                            <p>Los sopladores generalmente producen cantidades grandes de flujo a niveles muy bajos de fuerza de vacío. Las aplicaciones son: evacuación de humos (ventilación) y sostenimiento de telas en aplicaciones textiles.</p>
                            <div class="row justify-content-center">
                                <div class="col-4">
                                    <div class="img-holder">
                                        <img class="w-100" src="images/Productos/Vacio/academia-de-vacio-bomba1.webp" alt="eyector simple">
                                    </div>
                                </div>
                            </div>
                            <h2 class="my-5">Bombas de Paletas</h2>
                            <p>Las bombas de paletas son las bombas mecánicas comúnmente utilizadas. Estas bombas poseen rotores individuales, alrededor de un eje que gira a altas velocidades. Este movimiento giratorio atrapa el aire que entra al puerto de admisión y lo barre; creando un vacío detrás de él, la mayoría de las paletas están hechas de grafito y operan dentro de un compartimiento lo que hace necesario tolerancias muy exactas para el funcionamiento adecuado. <br>

                                Se encuentran en el rango industrial de las aplicaciones de vacío, pueden llegar a generar niveles de 28» Hg y con unidades de dos etapas alcanzan 29,5»Hg.
                            </p>
                            <div class="row justify-content-center">
                                <div class="col-4">
                                    <div class="img-holder">
                                        <img class="w-100" src="images/Productos/Vacio/academia-de-vacio-bomba2.webp" alt="eyector simple">
                                    </div>
                                </div>
                            </div>


                            <h2 class="my-5">Bombas de Paletas</h2>
                            <p>La bomba de pistón utiliza un movimiento oscilante para desplazar el aire de un lado a otro. son más silenciosas en su operación que la mayoría de las bombas mecánicas. Sus aplicaciones se limitan a las que requieren flujos de un rango de 2 a 3 scfm. Los niveles de vacío de 27,5» son posibles con unidades de una sola etapa y 29» Hg con unidades de dos etapas.
                                <br>
                                La selección de bombas lubricadas o no lubricadas esta determinada por la aplicación. Para las bombas no lubricadas  son obligatorias cuando el medio no puede tolerar ningún vapor de aceite en el aire del exosto. También pueden justificarse para evitar costos de mantenimiento de los sistemas de lubricación.
                                <br>
                                La bombas lubricadas con aceite poseen ventajas cuando se mantienen adecuadamente. Los niveles de vacío son típicamente altos, debido al mejor sello entre las partes principales dado por el lubricante. La bombas operan en forma más fría. Están menos sujetas están menos sujetas a corrosión y duran hasta 50% más.
                            </p>
                            <div class="row justify-content-center">
                                <div class="col-5">
                                    <div class="img-holder">
                                        <img class="w-100" src="images/Productos/Vacio/academia-de-vacio-bomba3.webp" alt="eyector simple">
                                    </div>
                                </div>
                            </div>
                            <p>Para más información relacionada con los productos de vacío (Ventosas, Bombas, Transportadores de Vacío) o la academia de vacío, comunícate con uno de nuestros asesores, por WhatsApp, para consultas rápidas.</p>


                            <h2 class="my-5">Ventosas</h2>

                            <p>Una ventosa se adhiere a la superficie de un objeto, debido a que la presión es menor por debajo de la ventosa, este fenómeno hace que la presión externa empuje hacia arriba a la superficie de la ventosa.
                                <br>
                                La presión baja se produce por conectar un dispositivo que elimina o reduce la presión en la ventosa.  Esto puede hacerse con un generador de vacío. La capacidad de vacío se determina por el nivel de vacío alcanzado por la ventosa y la capacidad de compensar cualquier escape.
                                <br>
                                Existe una amplia variedad de ventosas para diferentes aplicaciones. Los tipos más conocidos son: Planas, con Fuelles, Ovales y Profundas y variaciones de estas combinando tipos, montajes y dispositivos de filtración.
                            </p>
                            <div class="row justify-content-center">
                                <div class="col-8">
                                    <div class="img-holder">
                                        <img class="w-100" src="images/Productos/Vacio/ventosas.webp" alt="eyector simple">
                                    </div>
                                </div>
                            </div>

                            <h2 class="my-5">Ventosas Planas</h2>

                            <p>La ventosas planas son las más adecuadas para objetos de superficie plana o de levantamiento el paralelo, se agregan refuerzos (apoyos interiores, como se visualiza en la imagen), para distribuir la fuerza de vacío en todas las áreas de la ventosa y limitar el movimiento de la ventosa sobre el objeto que se va levantar.
                            </p>
                            <div class="row justify-content-center">
                                <div class="col-4">
                                    <div class="img-holder">
                                        <img class="w-100" src="images/Productos/Vacio/ventosa-plana.webp" alt="eyector simple">
                                    </div>
                                </div>
                            </div>
                            <p>Las ventosa planas con válvula es una variación de las ventosas planas que posee una válvula cónica, que funciona para limitar el escape, dado que es un fenómeno que suele ocurrir es las aplicaciones de este tipo. Esta válvula se acciona únicamente cuando se presiona contra el objeto que se va manipular, esto ofrece menos consumo de aire y respuesta más rápida del sistema.  Las aplicaciones pueden ser para abrir bolsas, manejar cajas de cartón pequeñas, entre otros.</p>

                            <h2 class="my-5">Ventosas con Fuelles</h2>
                            <p>La ventosas con fuelle son muy utilizadas en la industria, debido a la variedad de características inherentes al diseño. La forma de los fuelles permite dar a la ventosa un grado de ajuste, lo que significa que se puede compensar la irregularidades de la superficie y del objeto.
                                <br>
                                Entre las aplicaciones de estas ventosa están: manipulación de bolsas o bultos (con o sin producto), laminas corrugadas o grabadas hechas de diversos materiales (vidrio, metal, madera, plástico, etc.), tabletas de cerámica grabada o con algún acabado superficial rugoso.
                            </p>
                            <div class="row justify-content-center">
                                <div class="col-4">
                                    <div class="img-holder">
                                        <img class="w-100" src="images/Productos/Vacio/academia-de-vacio-bomba4.webp" alt="eyector simple">
                                    </div>
                                </div>
                            </div>
                            <p>Fuelles Múltiples: se usan para las mismas aplicaciones de fuelle pero pueden manejar diferencias mayores en alturas, y dar un levantamiento más prolongado, sin embargo no son adecuadas para vacío profundo.</p>

                            <h2 class="my-5">Ventosas con Fuelles</h2>
                            <p>Estas ventosas están disponibles en estilos fuelle y plano, su forma oval permite utilizarlas en áreas donde las limitaciones de espacio podrían impedir el uso de una ventosa redonda.     
                            </p>
                            <div class="row justify-content-center">
                                <div class="col-4">
                                    <div class="img-holder">
                                        <img class="w-100" src="images/Productos/Vacio/ventosa-oval.webp" alt="eyector simple">
                                    </div>
                                </div>
                            </div>

                            <h2 class="my-5">Ventosas Profundas</h2>

                            <p>Las ventosas profundas se utilizan para superficies curvas o irregulares. No son adecuadas para la manipulación de superficies planas, tienden a deformarse bajo niveles de vacío profundo.
                            </p>
                            <div class="row justify-content-center">
                                <div class="col-6">
                                    <div class="img-holder">
                                        <img class="w-100" src="images/Productos/Vacio/ventosa-profunda.webp" alt="eyector simple">
                                    </div>
                                </div>
                            </div>
                            <p>Para más información relacionada con los productos de vacío (Ventosas, Bombas, Transportadores de Vacío) o la academia de vacío, comunícate con uno de nuestros asesores, por WhatsApp, para consultas rápidas.
                            </p>
                            
                            <h2 class="my-5">Academia de Vacío: Accesorios</h2>

                            <p>La Selección de los Accesorios es un aspecto importante en el diseño de un sistema. La elección adecuada de accesorios aumenta el rendimiento y permite el éxito de las aplicaciones, por ello este es un factor importante en nuestra academia de vacío.
                                <br>
                                Si el posicionamiento en relación con la horizontal o vertical es susceptible de cambio, el alineamiento del producto difiere o la altura del manipuleo varia, hay accesorios que sirven para compensar esta diferencia.
                            </p>

                            <h2 class="my-5">Compensador de Nivel</h2>
                            <p>El compensador de nivel sirve tanto «Amortiguador de Shock» como ajustador de altura, permite hacer contacto con el objeto sin aplastarlo, y sin dañar las ventosas.
                                <br>
                                Este accesorio se ajusta automáticamente a diferentes alturas (dentro de los limites de recorrido), eliminando la necesidad de programar el brazo de manipuleo para parada milímetros del producto.
                            </p>
                            <div class="row justify-content-center">
                                <div class="col-3">
                                    <div class="img-holder">
                                        <img class="w-100" src="images/Productos/Vacio/compensador-de-nivel.webp" alt="eyector simple">
                                    </div>
                                </div>
                            </div>

                            <h2 class="my-5">Rotula</h2>

                            <p>Si la presentación del producto no es completamente horizontal o vertical, una rotula ofrece hasta 24° de ángulo de desviación (12° en cualquier lado), Se utiliza para superficies curvas o para combinar ventajas de una ventosa curva y otra plana.
                            </p>
                            <div class="row justify-content-center">
                                <div class="col-3">
                                    <div class="img-holder">
                                        <img class="w-100" src="images/Productos/Vacio/rotula.webp" alt="eyector simple">
                                    </div>
                                </div>
                            </div>
                            <h2 class="my-5">Adaptadores Angulares</h2>
                            <p>Este accesorio es usado para espacios de acceso limitado, o para acomodar conexiones a una ventosa para detectar vacío o una parte. Si la pieza se va a manipular verticalmente el adaptador angular es la mejor opción. Dentro de las variaciones hay algunos que ofrecen capacidad de no retorno, capacidad de detectar o señalización.
                            </p>
                            <div class="row justify-content-center">
                                <div class="col-3">
                                    <div class="img-holder">
                                        <img class="w-100" src="images/Productos/Vacio/adaptador-angular.webp" alt="eyector simple">
                                    </div>
                                </div>
                            </div>

                            <h2 class="my-5">Filtros</h2>
                            <p>Los filtros son importantes en el mantenimiento de cualquier, tipo de bomba de vacío. El material particulado, como polvo puede producir desgaste innecesario en las paletas  y motores de una bomba mecánica, y atascar los eyectores de una bomba alimentada por aire comprimido.</p> <br>

                            <p>Existe distintos tipos de filtros de vacío como:</p>
                            <ul id="list">
                                <li>Filtros Tipo T, con deposito transparente para mantenimiento visual.</li>
                                <li>Filtros en Línea.</li>
                            </ul>

                            <h2 class="my-5">Línea: Manguera y Distribuidor</h2>
                            <p>La elección adecuada de tubería o manguera mejora el funcionamiento de cualquier aplicación, cuando la manguera de diámetro interna es pequeña se escoge con el fin de reducir el volumen que se va a evacuar.
                                <br>
                                Una de las restricciones que no se tiene en cuenta es que el flujo tiene efecto nocivo en el funcionamiento del sistema en general. Por ejemplo en una aplicación que se utilice una manguera de 1/4» de diámetro interno versus una 1/2», aún cuando el volumen sea más pequeño, el tiempo de evacuación puede ser mayor.
                                <br>
                                Otro aspecto a considerar es el tipo de manguera o tubería, se recomienda un producto que tenga una capacidad nominal de vacío, por ejemplo el tubo de poliuretano delgado no es recomendable para vacío porque puede que colapse. La bomba realiza su trabajo según su capacidad, al restringirse el flujo de vacío mediante manguera todo el sistema se limita, y se opta por sustituir la bomba y modificar sistema.
                            </p>

                            <h2 class="my-5">Controles</h2>
                            <p>Los controles son un opción secundaria que detecta la presencia de una parte o pieza. Generalmente se utiliza un vacuostato para realizar esto. Se fija un nivel de vacío fijo y  cuando la ventosa hace contacto con la superficie se acciona el control.
                                <br>
                                Otra aplicación es indicar cuando es seguro levantar o mover un producto. En este caso el nivel de vacío se determina en un vacuostato. Este nivel corresponde al factor de seguridad determinado en la fase de diseño con base un factor 2:1, si se desea 18″Hg.
                                <br>
                                Estos controles se utilizan para activar o desactivar el sistema alimentado por aire, pero dan mejores resultados en funcionamiento de aplicaciones de manipuleo y sostenimiento.
                            </p>

                            <h2 class="my-5">Consumo de Energía y Nivel de Vacío</h2>
                            <p>El consumo de energía aumenta con el aumento de un nivel de vacío, sin embargo el aumento no es lineal, es asintótico, por esto es preferible operar un nivel de vacío lo más bajo posible para obtener un intercambio optimo de energía. Mientras más alto sea el nivel de vacío alcanzado menor será el impacto molecular. Es decir si se usa una bomba más grande el tiempo se acorta, pero el consumo de energía se aumenta.
                                <br>
                                Por lo tanto en la aplicaciones es prudente trabajar con niveles de vacío bajos. En operaciones de levantamiento o manipulación, se puede utilizar una ventosa más grande. porque entre mayor sea el área que esta haciendo el levantamiento mayor será la capacidad de levantamiento, como se muestra en la imagen.
                            </p>
                            <div class="row justify-content-center">
                                <div class="col-5">
                                    <div class="img-holder">
                                        <img class="w-100" src="images/Productos/Vacio/vaco.webp" alt="eyector simple">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>

<div class="call-out2">
    <div class="container">
        <div class="clearfix">
            <div class="float_left">
                <h4>¿Tiene alguna pregunta o necesita alguna consulta comercial?</h4>
            </div>
            <div class="float_right">
                <a href="/" class="thm-btn bg-clr2 text-decoration-none ">Solicitud De Cotización</a>
            </div>
        </div>
                
    </div>
</div>
</Layout>

<style>

.text-box h3{
  color: #ad2727 !important;
  font-weight: bold !important;
}


    #blog-area {
  padding-bottom: 80px;
  padding-top: 80px;
}
#blog-area .blog-post {

}
.blog-with-sidebar-area .blog-post .single-blog-post {
    margin-bottom: 60px;
}
#blog-area .single-blog-post .img-holder .published-date {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70px;
    height: 70px;
    padding: 10px 10px;
}
#blog-area .single-blog-post:hover .img-holder .published-date{
    left: 0;  
    top: 0;
}
#blog-area .single-blog-post .img-holder .published-date h3 {
    font-size: 18px;
    line-height: 24px;
}
#blog-area .single-blog-post .text-holder .blog-title{
    font-size: 24px;
    line-height: 30px;
}

.blog-single-area .single-blog-post:hover .img-holder img {
  transform: none;    
}
.blog-single-area .single-blog-post .text-holder .blog-title:hover{
  color: #222222;
}

.blog-single-area .middle-content-box {
    margin: 10px 0 33px;
    overflow: hidden;
}
.blog-single-area .middle-content-box .img-holder {
  width: 300px;
}
.blog-single-area .middle-content-box .img-holder,
.blog-single-area .middle-content-box .text-box{
  display: table-cell;
  vertical-align: top;
}
.blog-single-area .middle-content-box .text-box {
  padding-left: 30px; 
  position: relative;
}
.blog-single-area .middle-content-box .text-box:before{
  content: "\f10d";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #f1f1f1;
  font-size: 24px;
  padding-right: ;
  position: absolute;
  top: -3px;
  left: 30px;    
}
.blog-single-area .middle-content-box .text-box {
  padding-left: 30px;
  padding-top: 32px;
  position: relative;
}
.blog-single-area .middle-content-box .text-box h3 {
  color: #222222;
  font-size: 20px;
  font-weight: 400;
  margin: 20px 0 7px;
}
.blog-single-area .middle-content-box .text-box h5 {
  color: #ad2727;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  font-family: 'Hind', sans-serif;
}

.blog-single-area .bottom-content-box {
  padding-bottom: 21px;
}

.blog-single-area .comment-box {
    overflow: hidden;
    padding-bottom: 50px;
    padding-top: 30px;
}
.blog-single-area .comment-box .sec-title{
  padding-bottom: 31px;
}
.blog-single-area .comment-box .sec-title h3 {
  color: #222222;
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
}
.blog-single-area .comment-box .single-comment-box {
  padding-left: 60px;
  position: relative;
  margin-bottom: 30px;
}
.blog-single-area .comment-box .single-comment-box .img-holder {
  left: 0;
  position: absolute;
  top: 16px;
  width: 70px;
}
.blog-single-area .comment-box .single-comment-box .text-holder {
  border: 1px solid #f7f7f7;
  margin-left: 20px;
  padding: 15px 20px 5px;
}
.blog-single-area .comment-box .single-comment-box .text-holder .top {
  overflow: hidden;
  padding-bottom: 8px;
}
.blog-single-area .comment-box .single-comment-box .text-holder .top .date h5 {
  color: #222222;
  font-size: 16px;
  font-weight: 400;
}
.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box {
  position: relative;
  top: -3px;
}
.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box ul {
  margin-left: -0.5px;
  margin-right: -0.5px;
  overflow: hidden;
}
.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box ul li {
  display: inline-block;
  margin: 0 0.5px;
}
.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box ul li i {
  color: #ad2727;
  font-size: 14px;
}

.blog-single-area .add-comment-box {
  overflow: hidden;
}
.blog-single-area .add-comment-box .sec-title {
  padding-bottom: 30px;
}
.blog-single-area .add-comment-box .sec-title h3 {
  color: #222222;
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
}
.blog-single-area .add-comment-box .add-rating-box {
  padding-bottom: 17px;
}
.blog-single-area .add-comment-box .add-rating-box h4 {
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 12px;
}
.blog-single-area .add-comment-box .add-rating-box ul {}
.blog-single-area .add-comment-box .add-rating-box ul li {
  border-right: 1px solid #ebebeb;
  display: inline-block;
  line-height: 20px;
  margin-right: 6px;
  padding-right: 10px;
}
.blog-single-area .add-comment-box .add-rating-box ul li:last-child{
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}
.blog-single-area .add-comment-box .add-rating-box ul li a i{
  color: #d6d6d6;
  font-size: 12px;
}
.blog-single-area .add-comment-box .add-rating-box ul li a:hover i{
  color: #ad2727;
  transition: all 500ms ease;
}

.blog-single-area .add-comment-box form {}
.blog-single-area .add-comment-box form .field-label {
  color: #222222;
  display: block;
  font-size: 16px;
  font-weight: 400;
  padding: 0 0 2px;
}
.blog-single-area .add-comment-box form input[type="text"],
.blog-single-area .add-comment-box form input[type="email"],
.blog-single-area .add-comment-box form textarea{
  background: #fff none repeat scroll 0 0;
  border: 2px solid #f4f4f4;
  display: block;
  font-size: 14px;
  font-weight: 400;
  height: 50px;
  padding: 0 15px;
  width: 100%;  
  margin-bottom: 15px;
  transition: all 500ms ease;
}
.blog-single-area .add-comment-box form textarea {
  height: 160px;
  padding: 10px 15px;
  margin-bottom: 30px;
}
.blog-single-area .add-comment-box form button {
    padding: 0;
    width: 100%;
}
.blog-single-area .add-comment-box form input[type="text"]:focus{
  border-color: #ad2727;
}
.blog-single-area .add-comment-box form input[type="email"]:focus{
  border-color: #ad2727;
}
.blog-single-area .add-comment-box form textarea:focus{
  border-color: #ad2727;
}
.blog-single-area .add-comment-box form button:hover{}



.single-blog-post .text-holder .meta-info {
    overflow: hidden;
    margin-left: -20px;
    margin-right: -20px;
    border-top: 1px solid #f4f4f4;
    display: block;
    padding: 0px 20px 0px;
}

.single-blog-post .text-holder .meta-info .left {
    display: block;
    padding: 15px 0 15px;
}
.recent-posts.post-thumb .post .post-info{
    font-size: 14px;
    font-weight:400;
    margin:0px;
    line-height:1.6em;
    color: #9c9c9c;
}
.popular-post .item .post-info {
  color: #ad2727;
  font-size: 16px;
}
.recent-posts.post-thumb .post .post-info{
    font-size: 14px;
    font-weight:400;
    margin:0px;
    line-height:1.6em;
    color: #9c9c9c;
}
.popular-post .item .post-info {
  color: #ad2727;
  font-size: 16px;
}




.bg-clr2{
  background: #222;
  color: #fff;
  position: relative;
}
.bg-clr2:before {
  background-color: #ad2727;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0.5, 1);
  transition: all 0.4s ease 0s;
  width: 100%;
  z-index: -1;
}
.bg-clr2:hover:before{
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);    
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}

.call-out2 {
  background: #ad2727;
  padding: 5px 0 25px;
}
.call-out2 .logo {
  margin-top: 23px;
}
.call-out2 h4 {
  color: #fff;
  margin-top: 30px;
  font-size: 20px;
}
.call-out2 .thm-btn {
  margin-top: 20px;
  line-height: 50px;
  padding: 0 21px;
}
.call-out2 .thm-btn:hover {
  color: #ad2727
}

.call-out2 .thm-btn.bg-clr2:before {
  background-color: #fff;
}


.thm-btn {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  transition: all 0.5s ease 0s;
  cursor: pointer;
  padding: 0 30px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  z-index: 1;
}

.thm-btn:hover{
  color: #fff;
}


.thm-btn:before {
  background-color: #444;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0.5, 1);
  transition: all 0.4s ease 0s;
  width: 100%;
  z-index: -1;
}
.bg-clr1{
  background: #ad2727;  
  color: #fff;
}
.thm-btn:hover::before{
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.bg-clr2{
  background: #222;
  color: #fff;
  position: relative;
}
.bg-clr2:before {
  background-color: #ad2727;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0.5, 1);
  transition: all 0.4s ease 0s;
  width: 100%;
  z-index: -1;
}
.bg-clr2:hover:before{
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);    
}



</style>