---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<section class="breadcrumb-area"
		style="background-image: url(images/Productos/Accesorios/accesorios-exair-portada.webp);">
		<div class="container text-center">
			<h1>Accesorios</h1>
		</div>
	</section>
	<!--End breadcrumb area-->
	<section class="blog-section2 sec-padd2">
		<div class="container">
		
            <div class="text">
                <div class="section-title">
                    <h2>Tipos de Purgadores de Accesorios</h2>
                </div>
                <div class="row">
					<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
						<button type="button" class="btn btn-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalSilenciadores">
							<div class="default-blog-news wow fadeInUp animated animated"
								style="visibility: visible; animation-name: fadeInUp;">
								<figure class="img-holder align-items-center">
									<img class="mt-5" src="images/Productos/Accesorios/filtros-reguladores.webp" alt="News">
									<figcaption class="overlay">
										<div class="box">
											<div class="content">
												<i class="bi bi-arrows-angle-expand"></i>
											</div>
										</div>
									</figcaption>
								</figure>
								<div class="lower-content">		
									<a class="text-decoration-none">
										<h4>Silenciadores</h4>
									</a>	
								</div>
							</div>
						</button>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
						<button type="button" class="btn btn-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalFiltros">
							<div class="default-blog-news wow fadeInUp animated animated"
								style="visibility: visible; animation-name: fadeInUp;">
								<figure class="img-holder">
									<img class="mt-5" src="images/Productos/Accesorios/filtros-accesorios.webp" alt="News">
									<figcaption class="overlay">
										<div class="box">
											<div class="content">
												<i class="bi bi-arrows-angle-expand"></i>
											</div>
										</div>
									</figcaption>
								</figure>
								<div class="lower-content">		
									<a class="text-decoration-none">
										<h4>Filtros</h4>
									</a>	
								</div>
							</div>
						</button>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
						<button type="button" class="btn btn-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalReguladores">
							<div class="default-blog-news wow fadeInUp animated animated"
								style="visibility: visible; animation-name: fadeInUp;">
								<figure class="img-holder">
									<img class="mt-5" src="images/Productos/Accesorios/reguladores.webp" alt="News">
									<figcaption class="overlay">
										<div class="box">
											<div class="content">
												<i class="bi bi-arrows-angle-expand"></i>
											</div>
										</div>
									</figcaption>
								</figure>
								<div class="lower-content">		
									<a class="text-decoration-none">
										<h4>Reguladores</h4>
									</a>	
								</div>
							</div>
						</button>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
						<button type="button" class="btn btn-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalGiratorias">
							<div class="default-blog-news wow fadeInUp animated animated"
								style="visibility: visible; animation-name: fadeInUp;">
								<figure class="img-holder">
                                    <img class="mt-5" src="images/Productos/Accesorios/conexiones-giratorias2.webp" alt="News">
									<figcaption class="overlay">
										<div class="box">
											<div class="content">
												<i class="bi bi-arrows-angle-expand"></i>
											</div>
										</div>
									</figcaption>
								</figure>
								<div class="lower-content">		
									<a class="text-decoration-none">
										<h4>Conexiones Giratorias</h4>
									</a>	
								</div>
							</div>
						</button>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
						<button type="button" class="btn btn-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalMangueras">
							<div class="default-blog-news wow fadeInUp animated animated"
								style="visibility: visible; animation-name: fadeInUp;">
								<figure class="img-holder">
									<img class="mt-1" src="images/Productos/Accesorios/mangueras-exair.webp" alt="News">
									<figcaption class="overlay">
										<div class="box">
											<div class="content">
												<i class="bi bi-arrows-angle-expand"></i>
											</div>
										</div>
									</figcaption>
								</figure>
								<div class="lower-content">		
									<a class="text-decoration-none">
										<h4>Mangueras</h4>
									</a>	
								</div>
							</div>
						</button>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
						<button type="button" class="btn btn-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalBases">
							<div class="default-blog-news wow fadeInUp animated animated"
								style="visibility: visible; animation-name: fadeInUp;">
								<figure class="img-holder">
                                    <img class="mt-5" src="images/Productos/Accesorios/bases-magneticas-exair.webp" alt="News">
									<figcaption class="overlay">
										<div class="box">
											<div class="content">
												<i class="bi bi-arrows-angle-expand"></i>
											</div>
										</div>
									</figcaption>
								</figure>
								<div class="lower-content">		
									<a class="text-decoration-none">
										<h4>Bases Magnéticas </h4>
									</a>	
								</div>
							</div>
						</button>
					</div>    
                    
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
						<button type="button" class="btn btn-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalManguerasFlexibles">
							<div class="default-blog-news wow fadeInUp animated animated"
								style="visibility: visible; animation-name: fadeInUp;">
								<figure class="img-holder">
                                    <img class="mt-2" src="images/Productos/Accesorios/manguera-flexible.webp" alt="News">
									<figcaption class="overlay">
										<div class="box">
											<div class="content">
												<i class="bi bi-arrows-angle-expand"></i>
											</div>
										</div>
									</figcaption>
								</figure>
								<div class="lower-content">		
									<a class="text-decoration-none">
										<h4>Mangueras Flexibles Semi-Regidas</h4>
									</a>	
								</div>
							</div>
						</button>
					</div>  
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
						<button type="button" class="btn btn-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalValvulas">
							<div class="default-blog-news wow fadeInUp animated animated"
								style="visibility: visible; animation-name: fadeInUp;">
								<figure class="img-holder">
                                    <img class="mt-5" src="images/Productos/Accesorios/valvulas-manuales-exair.webp" alt="News">
									<figcaption class="overlay">
										<div class="box">
											<div class="content">
												<i class="bi bi-arrows-angle-expand"></i>
											</div>
										</div>
									</figcaption>
								</figure>
								<div class="lower-content">		
									<a class="text-decoration-none">
										<h4>Valvulas</h4>
									</a>	
								</div>
							</div>
						</button>
					</div>  
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
						<button type="button" class="btn btn-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalTermostatos">
							<div class="default-blog-news wow fadeInUp animated animated"
								style="visibility: visible; animation-name: fadeInUp;">
								<figure class="img-holder">
                                    <img src="images/Productos/Accesorios/termostato-exair.webp" alt="News">
									<figcaption class="overlay">
										<div class="box">
											<div class="content">
												<i class="bi bi-arrows-angle-expand"></i>
											</div>
										</div>
									</figcaption>
								</figure>
								<div class="lower-content">		
									<a class="text-decoration-none">
										<h4>Termostatos</h4>
									</a>	
								</div>
							</div>
						</button>
					</div>  


               </div>
            </div>
		</div>
	</section>
	<div class="call-out2">
		<div class="container">
			<div class="clearfix">
				<div class="float_left">
					<h4>¿Tiene alguna pregunta o necesita alguna consulta comercial?</h4>
				</div>
				<div class="float_right">
					<a href="contact.html" class="thm-btn bg-clr2 text-decoration-none">Solicitud De Cotización</a>
				</div>
			</div>

		</div>
	</div>



	<!-- Modal -->
	<div class="modal fade" id="ModalSilenciadores" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
		  <div class="modal-content">
			<div class="modal-header">
			  <h1 class="modal-title fs-5" id="exampleModalLabel">Silenciadores</h1>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="text">
                    <div class="row">
                        <div class="col-4">
									<img src="images/Productos/Accesorios/filtros-reguladores.webp" alt="News">
                        </div>
                        <div class="col-8">
                            <p>Los silenciadores como accesorios industriales ayudan a reducir el ruido por el aire que sale de los cilindros, válvulas y equipos neumáticos en el área de trabajo. Según la norma OSHA 1910.95, un trabajador no debe estar expuesto a niveles de ruido de 90 decibeles en cualquier turno de ocho horas  en una semana laboral de 40 horas. Los silenciadores ayudan a las plantas a cumplir con este requisito reduciendo el sonido a niveles seguros por debajo de 90 decibeles.
                                <br>
                                También evitan los perjudicables bloqueos de presión.  Cada estilo de silenciador tiene una gran capacidad de caudal de aire con baja presión trasera. Los tamaños populares de NPT son ideales para instalaciones nuevas y ya existentes.
                            </p>
                            <h4>Accesorios Industriales Tipos de Silenciadores</h4>
                            <ul id="list">
                                <li>Silenciadores de Bronce Sinterizado.</li>
                                <li>Silenciadores de Reclasificación.</li>
                                <li>Silenciadores de Conexión Directa.</li>
                                <li>Silenciadores de Trabajo Pesado.</li>
                            </ul>
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			  
			</div>
		  </div>
		</div>
	  </div>


      <!-- Modal -->
	<div class="modal fade" id="ModalFiltros" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
		  <div class="modal-content">
			<div class="modal-header">
			  <h1 class="modal-title fs-5" id="exampleModalLabel">Silenciadores</h1>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="text">
                    <div class="row">
                        <div class="col-4">
									<img src="images/Productos/Accesorios/filtros-accesorios.webp" alt="News">
                        </div>
                        <div class="col-8">
                            <p>Los filtros , son los accesorios industriales que eliminan el agua, la suciedad y el oxido de sus sistema de aire comprimido para prevenir la obstrucción o daño de cualquiera de los productos de aire comprimido de la línea. ofrece separadores de filtro con drenaje manual y automático.
                                <br>
                                Los Filtros Removedores de Aceite remueven las partículas de aceite que suele haber en muchos sistemas de compresión de aire. Un flotador interno activa automáticamente el drenaje cuando está lleno.
                            </p>
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			  
			</div>
		  </div>
		</div>
	  </div>

        <!-- Modal -->
	<div class="modal fade" id="ModalReguladores" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
		  <div class="modal-content">
			<div class="modal-header">
			  <h1 class="modal-title fs-5" id="exampleModalLabel">Reguladores</h1>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="text">
                    <div class="row">
                        <div class="col-4">
									<img src="images/Productos/Accesorios/reguladores.webp" alt="News">
                        </div>
                        <div class="col-8">
                            <p>Los reguladores de presión de como accesorios industriales permiten seleccionar fácilmente la presión operativa. Se incluye un medidor de presión Modelo 9011.
                            </p>
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			  
			</div>
		  </div>
		</div>
	  </div>

      <div class="modal fade" id="ModalGiratorias" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
		  <div class="modal-content">
			<div class="modal-header">
			  <h1 class="modal-title fs-5" id="exampleModalLabel">Conexiones Giratorias</h1>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="text">
                    <div class="row">
                        <div class="col-4">
									<img src="images/Productos/Accesorios/conexiones-giratorias2.webp" alt="News">
                        </div>
                        <div class="col-8">
                            <p>Las conexiones giratorias es de los accesorios industriales que están disponibles para todas nuestras boquillas de hasta 1 NPT. Facilitan el ajuste del objetivo de nuestras boquillas de aire que ayuda a optimizar el rendimiento y mejorar la eficiencia. Todas nuestras conexiones giratorias están fabricadas en resistente acero inoxidable tipo 303.
                            </p>
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			  
			</div>
		  </div>
		</div>
	  </div>

      <div class="modal fade" id="ModalMangueras" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
		  <div class="modal-content">
			<div class="modal-header">
			  <h1 class="modal-title fs-5" id="exampleModalLabel">Mangueras</h1>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="text">
                    <div class="row">
                        <div class="col-4">
									<img src="images/Productos/Accesorios/mangueras-exair.webp" alt="News">
                        </div>
                        <div class="col-8">
                            <p>Ofrecemos como accesorios industriales una variedad de mangueras:
                            </p>
                            <ul id="list">
                                <li>1/8 NPT, ¼ NPT Y 3/8 NPT manguera de aire comprimido en espiral con acopladores giratorios.</li>
                                <li>Transportación de la manguera en longitudes a partir de 10 pies (3.05m) a 50 pies (15.24m) y a una variedad de diámetros.</li>
                                <li>¼ NPT y ½ NPT manguera de aire comprimido en longitudes de 10 pies (3.05m) a 50 pies (15.25m).</li>
                            </ul>
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			  
			</div>
		  </div>
		</div>
	  </div>





      <div class="modal fade" id="ModalBases" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
		  <div class="modal-content">
			<div class="modal-header">
			  <h1 class="modal-title fs-5" id="exampleModalLabel">Bases Magnéticas</h1>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="text">
                    <div class="row">
                        <div class="col-4">
									<img src="images/Productos/Accesorios/bases-magneticas-exair.webp" alt="News">
                        </div>
                        <div class="col-8">
                            <p>Las bases magnéticas son accesorios industriales adecuadas para aplicaciones donde se requiere movimiento frecuente del instrumento. El poderoso imán permite el montaje horizontal o vertical. 
                                <br>
                                Trae una válvula de cierre que se puede utilizar para variar infinitamente la fuerza y el caudal.
                            </p>
                           
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			  
			</div>
		  </div>
		</div>
	  </div>



      <div class="modal fade" id="ModalManguerasFlexibles" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
		  <div class="modal-content">
			<div class="modal-header">
			  <h1 class="modal-title fs-5" id="exampleModalLabel">Mangueras Flexibles Semi-Regidas</h1>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="text">
                    <div class="row">
                        <div class="col-3">
									<img src="images/Productos/Accesorios/manguera-flexible.webp" alt="News">
                        </div>
                        <div class="col-9">
                            <p>Para aplicaciones donde se requiere el reposicionamiento frecuente del instrumento, entre los accesorios industriales tenemos las Mangueras Flexibles Semi-Rígidas que son ideales en este caso. Solo hay que montar la manguera cerca del lugar de aplicación y doblarla. Dado que la manguera tiene «memoria», ésta no cambiara de posición ni se doblará. Se mantendrá siempre en su lugar hasta que se cambie de posición.
                            </p>
                           
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			  
			</div>
		  </div>
		</div>
	  </div>

      <div class="modal fade" id="ModalValvulas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
		  <div class="modal-content">
			<div class="modal-header">
			  <h1 class="modal-title fs-5" id="exampleModalLabel">Valvulas</h1>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="text">
                    <div class="row">
                        <div class="col-4">
									<img src="images/Productos/Accesorios/valvulas-manuales-exair.webp" alt="News">
                        </div>
                        <div class="col-8">
                            <p>La selección de válvulas como accesorios industrialesincluye válvulas solenoide de accionamiento eléctrico, válvulas manuales, y la válvula Modelo 9040 operada con el pie.
                            </p>
                           
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			  
			</div>
		  </div>
		</div>
	  </div>




      <div class="modal fade" id="ModalTermostatos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
		  <div class="modal-content">
			<div class="modal-header">
			  <h1 class="modal-title fs-5" id="exampleModalLabel">Termostatos</h1>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="text">
                    <div class="row">
                        <div class="col-4">
									<img src="images/Productos/Accesorios/termostato-exair.webp" alt="News">
                        </div>
                        <div class="col-8">
                            <p>Por ultimo como accesorios industriales tenemos el termostato regulable que viene configurado de fabrica a 35°C. Normalmente se mantiene a 1°C de la temperatura de configuración deseada. Tienen una capacidad de 24V-240V CA o CC, 50-60 Hz con homologación UL  y certificación  CSA.
                            </p>
                           
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			  
			</div>
		  </div>
		</div>
	  </div>
</Layout>

<style>
	.text img {
		text-align: center;
		width: 100%;
	}
	.modal-body img{
		text-align: center;
		width: 100%;
	}

	#blog-area {
		padding-bottom:0px;
		padding-top: 80px;
	}

	#blog-area .blog-post {}

	.blog-with-sidebar-area .blog-post .single-blog-post {
		margin-bottom: 60px;
	}

	#blog-area .single-blog-post .img-holder .published-date {
		position: absolute;
		top: 20px;
		left: 20px;
		width: 70px;
		height: 70px;
		padding: 10px 10px;
	}

	#blog-area .single-blog-post:hover .img-holder .published-date {
		left: 0;
		top: 0;
	}

	#blog-area .single-blog-post .img-holder .published-date h3 {
		font-size: 18px;
		line-height: 24px;
	}

	#blog-area .single-blog-post .text-holder .blog-title {
		font-size: 24px;
		line-height: 30px;
	}

	.blog-single-area .single-blog-post:hover .img-holder img {
		transform: none;
	}

	.blog-single-area .single-blog-post .text-holder .blog-title:hover {
		color: #222222;
	}

	.blog-single-area .middle-content-box {
		margin: 10px 0 33px;
		overflow: hidden;
	}

	.blog-single-area .middle-content-box .img-holder {
		width: 300px;
	}

	.blog-single-area .middle-content-box .img-holder,
	.blog-single-area .middle-content-box .text-box {
		display: table-cell;
		vertical-align: top;
	}

	.blog-single-area .middle-content-box .text-box {
		padding-left: 30px;
		position: relative;
	}

	.blog-single-area .middle-content-box .text-box:before {
		content: "\f10d";
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		color: #f1f1f1;
		font-size: 24px;
		padding-right: ;
		position: absolute;
		top: -3px;
		left: 30px;
	}

	.blog-single-area .middle-content-box .text-box {
		padding-left: 30px;
		padding-top: 32px;
		position: relative;
	}

	.blog-single-area .middle-content-box .text-box h3 {
		color: #222222;
		font-size: 20px;
		font-weight: 400;
		margin: 20px 0 7px;
	}

	.blog-single-area .middle-content-box .text-box h5 {
		color: #ad2727;
		font-size: 16px;
		font-weight: 300;
		margin: 0;
		font-family: 'Hind', sans-serif;
	}

	.blog-single-area .bottom-content-box {
		padding-bottom: 21px;
	}

	.blog-single-area .comment-box {
		overflow: hidden;
		padding-bottom: 50px;
		padding-top: 30px;
	}

	.blog-single-area .comment-box .sec-title {
		padding-bottom: 31px;
	}

	.blog-single-area .comment-box .sec-title h3 {
		color: #222222;
		font-size: 24px;
		font-weight: 400;
		text-transform: capitalize;
	}

	.blog-single-area .comment-box .single-comment-box {
		padding-left: 60px;
		position: relative;
		margin-bottom: 30px;
	}

	.blog-single-area .comment-box .single-comment-box .img-holder {
		left: 0;
		position: absolute;
		top: 16px;
		width: 70px;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder {
		border: 1px solid #f7f7f7;
		margin-left: 20px;
		padding: 15px 20px 5px;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder .top {
		overflow: hidden;
		padding-bottom: 8px;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder .top .date h5 {
		color: #222222;
		font-size: 16px;
		font-weight: 400;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box {
		position: relative;
		top: -3px;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box ul {
		margin-left: -0.5px;
		margin-right: -0.5px;
		overflow: hidden;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box ul li {
		display: inline-block;
		margin: 0 0.5px;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box ul li i {
		color: #ad2727;
		font-size: 14px;
	}

	.blog-single-area .add-comment-box {
		overflow: hidden;
	}

	.blog-single-area .add-comment-box .sec-title {
		padding-bottom: 30px;
	}

	.blog-single-area .add-comment-box .sec-title h3 {
		color: #222222;
		font-size: 24px;
		font-weight: 400;
		text-transform: capitalize;
	}

	.blog-single-area .add-comment-box .add-rating-box {
		padding-bottom: 17px;
	}

	.blog-single-area .add-comment-box .add-rating-box h4 {
		color: #999999;
		font-size: 14px;
		font-weight: 400;
		margin: 0 0 12px;
	}

	.blog-single-area .add-comment-box .add-rating-box ul {}

	.blog-single-area .add-comment-box .add-rating-box ul li {
		border-right: 1px solid #ebebeb;
		display: inline-block;
		line-height: 20px;
		margin-right: 6px;
		padding-right: 10px;
	}

	.blog-single-area .add-comment-box .add-rating-box ul li:last-child {
		border-right: none;
		margin-right: 0;
		padding-right: 0;
	}

	.blog-single-area .add-comment-box .add-rating-box ul li a i {
		color: #d6d6d6;
		font-size: 12px;
	}

	.blog-single-area .add-comment-box .add-rating-box ul li a:hover i {
		color: #ad2727;
		transition: all 500ms ease;
	}

	.blog-single-area .add-comment-box form {}

	.blog-single-area .add-comment-box form .field-label {
		color: #222222;
		display: block;
		font-size: 16px;
		font-weight: 400;
		padding: 0 0 2px;
	}

	.blog-single-area .add-comment-box form input[type="text"],
	.blog-single-area .add-comment-box form input[type="email"],
	.blog-single-area .add-comment-box form textarea {
		background: #fff none repeat scroll 0 0;
		border: 2px solid #f4f4f4;
		display: block;
		font-size: 14px;
		font-weight: 400;
		height: 50px;
		padding: 0 15px;
		width: 100%;
		margin-bottom: 15px;
		transition: all 500ms ease;
	}

	.blog-single-area .add-comment-box form textarea {
		height: 160px;
		padding: 10px 15px;
		margin-bottom: 30px;
	}

	.blog-single-area .add-comment-box form button {
		padding: 0;
		width: 100%;
	}

	.blog-single-area .add-comment-box form input[type="text"]:focus {
		border-color: #ad2727;
	}

	.blog-single-area .add-comment-box form input[type="email"]:focus {
		border-color: #ad2727;
	}

	.blog-single-area .add-comment-box form textarea:focus {
		border-color: #ad2727;
	}

	.blog-single-area .add-comment-box form button:hover {}













	/* Cards */
	.blog-section2 {
	}

	.blog-section2 .section-title {
		margin-bottom: 30px;
		border-bottom: solid #ad2727 3px;
		-webkit-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.5);
		box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.5);
	}

	.default-blog-news {
		max-width: 300px;
		height: 400px;
		position: relative;
		transition: .5s ease-in-out;
		margin-bottom: 50px;
		border: solid 1px #ad2727 ;
	}
	.default-blog-news figure{
		height: 70%;
	}
	.default-blog-news img{
		max-height: 100%;
	}


	.default-blog-news:hover {
		box-shadow: 0 15px 16px 0 rgba(0, 0, 0, 0.03), 0 0px 82px 0 rgba(0, 0, 0, 0.02);
		-webkit-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.5);
		box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.5);
		transition: .2s cubic-bezier(0.4, 0, 1, 1);
	}

	.default-blog-news .lower-content {
		position: relative;
		padding: 30px 20px 20px;
		border: 1px solid #f4f4f4;
		border-top: 0;
	}

	.default-blog-news .date {
		position: absolute;
		left: 0px;
		top: 30px;
		height: 64px;
		width: 64px;
		background: #ad2727;
		line-height: 20px;
		padding-top: 13px;
		z-index: 9;
		color: #fff;
		text-align: center;
	}

	.default-blog-news .lower-content .text p {
		margin-bottom: 10px;
	}

	.default-blog-news .lower-content h4 {
		color: #303030;
		font-weight: 400;
		margin-bottom: 10px;
		line-height: 26px;
	}

	.default-blog-news .lower-content h4 a {
		color: #222;
		transition: all 300ms ease;
		font-size: 18px;
	}

	.default-blog-news .lower-content h4 a:hover {
		color: #ad2727;
		transition: all 300ms ease;
	}

	.default-blog-news .lower-content .post-meta {
		color: #888;
		font-size: 16px;
		margin-bottom: 7px;
	}


	.default-blog-news .lower-content .default_link {
		text-transform: uppercase;
		color: #303030;
		transition: .5s ease;
		font-family: 'Montserrat', sans-serif;
	}

	.default-blog-news .lower-content .default_link:hover {
		transition: .5s ease;
		color: #ad2727;
	}


	.default-blog-news .img-holder {
		display: block;
		overflow: hidden;
		position: relative;
	}

	.default-blog-news .img-holder a {
		width: 100%;
	}

	.default-blog-news .img-holder img {
		transform: scale(1);
		transition: all 0.5s ease 0s;
		width: 100%;
	}

	.default-blog-news:hover .img-holder img {
		transform: scale(1.1);
	}

	.default-blog-news .overlay {
		background-color: rgba(3, 15, 27, 0.77);
		text-align: center;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		color: #fff;
		opacity: 0;
		filter: alpha(opacity=0);
		transition: all 450ms ease-out 0s;
		transform: rotateY(180deg) scale(0.5, 0.5);
	}

	.default-blog-news:hover .img-holder .overlay {
		opacity: 1;
		filter: alpha(opacity=100);
		transform: rotateY(0deg) scale(1, 1);
	}

	.default-blog-news .overlay .box {
		display: table;
		height: 100%;
		width: 100%;
	}

	.default-blog-news .overlay .box .content {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}

	.default-blog-news .img-holder .overlay .box .content a i {
		background: #ad2727;
		border-radius: 50%;
		color: #ffffff;
		display: inline-block;
		font-size: 16px;
		height: 45px;
		line-height: 48px;
		transition: all 500ms ease 0s;
		width: 45px;
	}

	.default-blog-news .img-holder .overlay .box .content a:hover i {
		background: #ad2727;
	}


	.bg-clr2{
  background: #222;
  color: #fff;
  position: relative;
}
.bg-clr2:before {
  background-color: #ad2727;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0.5, 1);
  transition: all 0.4s ease 0s;
  width: 100%;
  z-index: -1;
}
.bg-clr2:hover:before{
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);    
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}

.call-out2 {
  background: #ad2727;
  padding: 5px 0 25px;
}
.call-out2 .logo {
  margin-top: 23px;
}
.call-out2 h4 {
  color: #fff;
  margin-top: 30px;
  font-size: 20px;
}
.call-out2 .thm-btn {
  margin-top: 20px;
  line-height: 50px;
  padding: 0 21px;
}
.call-out2 .thm-btn:hover {
  color: #ad2727
}

.call-out2 .thm-btn.bg-clr2:before {
  background-color: #fff;
}


.thm-btn {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  transition: all 0.5s ease 0s;
  cursor: pointer;
  padding: 0 30px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  z-index: 1;
}

.thm-btn:hover{
  color: #fff;
}


.thm-btn:before {
  background-color: #444;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0.5, 1);
  transition: all 0.4s ease 0s;
  width: 100%;
  z-index: -1;
}
.bg-clr1{
  background: #ad2727;  
  color: #fff;
}
.thm-btn:hover::before{
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.bg-clr2{
  background: #222;
  color: #fff;
  position: relative;
}
.bg-clr2:before {
  background-color: #ad2727;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0.5, 1);
  transition: all 0.4s ease 0s;
  width: 100%;
  z-index: -1;
}
.bg-clr2:hover:before{
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);    
}



</style>