---
import Layout from '../layouts/Layout.astro';
---

<Layout>
<!--Start breadcrumb area-->     

<section class="breadcrumb-area" style="background-image: url(images/audotoria/audit-portada.webp);">
	<div class="container text-center">
		<h1>Servicio de Auditoría en Lubricación</h1>
	</div>
</section>
<!--End breadcrumb area-->

<section id="blog-area" class="blog-with-sidebar-area blog-single-area">
    <div class="container">
        <div class="row">
                <div class="blog-post">
                    <div class="single-blog-post">
                        <div class="text-holder">
                            <div class="text">
                                <h3>¿Sabía que una pobre lubricación causa un 36% de todas las fallas prematuras en rodamientos y elementos mecánicos?</h3>

                                <div class="row">
                                    <div class="col-9">
                                        <p>Pero con una adecuada solución en lubricación, se puede crear nuevas oportunidades para aumentar el tiempo de funcionamiento de la maquinaria y productividad. Junto con ayudar a reducir los fallos prematuros de los elementos mecánicos y el tiempo de paradas de la maquinaria, una lubricación adecuada disminuye el consumo de energía por consiguiente la eficiencia energética.
        
                                            Nuestras soluciones de lubricación van desde maquinaria individual hasta sistemas de lubricación de vanguardia. Las soluciones de lubricación integradas combinan nuestra experiencia en rodamientos, sellos y control de estado con nuestro conocimiento de la tribología – el estudio de la fricción, el desgaste y la lubricación.
                                            
                                            Nos asociamos con fabricantes líderes para proporcionar a su empresa la solución de lubricación adecuada, y usted puede contar con nuestro liderazgo en soporte técnico y servicios. Esto incluye programadores de gestión de lubricación para ayudar con los diseños de sistemas de lubricación, planificación, monitoreo y auditoría en lubricación- todos con nuestros experimentados profesionales.</p>
                                    </div>
                                    <div class="col-3">
                                        <img class="w-100" src="images/audotoria/auditoria-lubricacion2.webp" alt="">

                                    </div>
                                </div>
                                <h2>Diseño de Sistemas / Ingeniería de Proyectos</h2>
                                <h3>Sistemas de lubricación centralizados para mejorar el desempeño y confiabilidad de equipos industriales estacionarios y móviles.</h3>
                                <p>En colaboración con nuestro departamento de Investigación y Desarrollo, nuestros ingenieros y técnicos de aplicaciones de proyectos altamente calificados desarrollan auditoría en lubricación para satisfacer las necesidades de nuestros  clientes.

                                    Nuestros ingenieros y técnicos de proyectos proporcionan competencia, flexibilidad y décadas de experiencia en la planificación y el diseño de sistemas de lubricación de vanguardia.
                                    
                                    Tenemos la capacidad y los recursos para proporcionar soluciones para industria de la construcción, minería, alimentos, embalaje, máquinas de energía renovable o grandes soluciones de plantas industriales ligadas a los requisitos únicos del cliente.
                                    
                                    Como resultado, nuestros clientes reciben una solución ( auditoría en lubricación y otros servicios) individual que se basa en décadas de experiencia en tecnología de lubricación e innovación.
                                    
                                    </p>
                                <h2 class="mt-5">Instalación de Equipos</h2>
                                <h3>Todos los sistemas instalados en campo son realizados por técnicos altamente calificados con muchos años de experiencia.</h3>
                                <p>Como parte de nuestro paquete completo de servicios, ofrecemos la instalación de sistemas y componentes. Nuestras experiencias aseguran que el trabajo de instalación se llevará a cabo de manera económica y con mano de obra de alta calidad. En el caso de sistemas instalados por el cliente, proporcionamos asistencia desde la instalación hasta la puesta en marcha. <br>

                                    Técnicos calificados y experimentados calibran el equipo, miden el rendimiento y registran los datos de puesta en marcha para el cliente.
                                    <br>
                                    La ventaja: garantía completa del sistema.
                                    <br>
                                    También ofrecemos soporte para clientes que deseen ellos mismos llevar a cabo el trabajo de instalación. A petición, ofrecemos a los clientes un técnico de servicio que proporciona asesoramiento de instalación o supervisa el trabajo de instalación.</p>
                                <h2 class="mt-5">Mantenimiento de Equipos</h2>
                                    <h3>Estamos totalmente autorizados por las casas fabricantes para el mantenimiento de los equipos.</h3>
                                <div class="row align-items-center">
                                    <div class="col-3">
                                        <img class="w-100" src="images/audotoria/auditoria-lubricacion4.webp" alt="">

                                    </div>
                                    <div class="col-9">
                                        <p>El mantenimiento de los diseños de los sistemas de lubricación y las soluciones personalizadas son esenciales para su buen funcionamiento, confiabilidad y vida útil de los equipos.
                                            <br>
                                            Estamos en condiciones de dar un excelente servicio y  garantizar un buen funcionamiento que resulta en una mayor productividad, ahorros significativos en la reparación y los costos de reemplazo de piezas.
                                            <br>
                                            Esto a su vez resulta en menos paradas y pérdidas de producción. Contáctenos hoy para saber cómo podemos ayudar a su empresa con sus soluciones de lubricación, diseño, desarrollo y mantenimiento de los sistemas.</p>
                                    </div>
                                </div>
                                <h2 class="mt-5">Capacitación y Entrenamiento (Auditoría en Lubricación)</h2>
                                <h3>Proveemos experiencia profesional, capacitación y entrenamiento de todos los sistemas de lubricación.</h3>
                                <div class="row">
                                    <div class="col-9">
                                        <p>Entrenadores experimentados enseñan todos los aspectos de los sistemas de lubricación, diseño, volúmenes de dosificación, selección de equipos y mantenimiento.
                                            <br>
                                            Asesoramos a nuestros clientes desde su inicio hasta los toques finales de un proyecto. Desde el principio, nuestros experimentados representantes de ventas analizan cuidadosamente los requisitos del cliente en el lugar y establecen las bases para la solución ideal del sistema.
                                            <br>
                                            Nuestros profesionales internos y la red perfecta de representantes de ventas consultan a nuestros clientes antes, durante y después de que nuestros sistemas de lubricación se hayan instalado.</p>
                                    </div>
                                    <div class="col-3">
                                        <img class="w-100" src="images/audotoria/auditoria-lubricacion5.webp" alt="">

                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>

<div class="call-out2">
    <div class="container">
        <div class="clearfix">
            <div class="float_left">
                <h4>¿Tiene alguna pregunta o necesita alguna consulta comercial?</h4>
            </div>
            <div class="float_right">
                <a href="/" class="thm-btn bg-clr2 text-decoration-none ">Solicitud De Cotización</a>
            </div>
        </div>
                
    </div>
</div>

</Layout>

<style>
    #blog-area {
  padding-bottom: 80px;
  padding-top: 80px;
}
#blog-area .blog-post {

}
.blog-with-sidebar-area .blog-post .single-blog-post {
    margin-bottom: 60px;
}
#blog-area .single-blog-post .img-holder .published-date {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70px;
    height: 70px;
    padding: 10px 10px;
}
#blog-area .single-blog-post:hover .img-holder .published-date{
    left: 0;  
    top: 0;
}
#blog-area .single-blog-post .img-holder .published-date h3 {
    font-size: 18px;
    line-height: 24px;
}
#blog-area .single-blog-post .text-holder .blog-title{
    font-size: 24px;
    line-height: 30px;
}

.blog-single-area .single-blog-post:hover .img-holder img {
  transform: none;    
}
.blog-single-area .single-blog-post .text-holder .blog-title:hover{
  color: #222222;
}

.blog-single-area .middle-content-box {
    margin: 10px 0 33px;
    overflow: hidden;
}
.blog-single-area .middle-content-box .img-holder {
  width: 300px;
}
.blog-single-area .middle-content-box .img-holder,
.blog-single-area .middle-content-box .text-box{
  display: table-cell;
  vertical-align: top;
}
.blog-single-area .middle-content-box .text-box {
  padding-left: 30px; 
  position: relative;
}
.blog-single-area .middle-content-box .text-box:before{
  content: "\f10d";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #f1f1f1;
  font-size: 24px;
  padding-right: ;
  position: absolute;
  top: -3px;
  left: 30px;    
}
.blog-single-area .middle-content-box .text-box {
  padding-left: 30px;
  padding-top: 32px;
  position: relative;
}
.blog-single-area .middle-content-box .text-box h3 {
  color: #222222;
  font-size: 20px;
  font-weight: 400;
  margin: 20px 0 7px;
}
.blog-single-area .middle-content-box .text-box h5 {
  color: #ad2727;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  font-family: 'Hind', sans-serif;
}

.blog-single-area .bottom-content-box {
  padding-bottom: 21px;
}

.blog-single-area .comment-box {
    overflow: hidden;
    padding-bottom: 50px;
    padding-top: 30px;
}
.blog-single-area .comment-box .sec-title{
  padding-bottom: 31px;
}
.blog-single-area .comment-box .sec-title h3 {
  color: #222222;
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
}
.blog-single-area .comment-box .single-comment-box {
  padding-left: 60px;
  position: relative;
  margin-bottom: 30px;
}
.blog-single-area .comment-box .single-comment-box .img-holder {
  left: 0;
  position: absolute;
  top: 16px;
  width: 70px;
}
.blog-single-area .comment-box .single-comment-box .text-holder {
  border: 1px solid #f7f7f7;
  margin-left: 20px;
  padding: 15px 20px 5px;
}
.blog-single-area .comment-box .single-comment-box .text-holder .top {
  overflow: hidden;
  padding-bottom: 8px;
}
.blog-single-area .comment-box .single-comment-box .text-holder .top .date h5 {
  color: #222222;
  font-size: 16px;
  font-weight: 400;
}
.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box {
  position: relative;
  top: -3px;
}
.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box ul {
  margin-left: -0.5px;
  margin-right: -0.5px;
  overflow: hidden;
}
.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box ul li {
  display: inline-block;
  margin: 0 0.5px;
}
.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box ul li i {
  color: #ad2727;
  font-size: 14px;
}

.blog-single-area .add-comment-box {
  overflow: hidden;
}
.blog-single-area .add-comment-box .sec-title {
  padding-bottom: 30px;
}
.blog-single-area .add-comment-box .sec-title h3 {
  color: #222222;
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
}
.blog-single-area .add-comment-box .add-rating-box {
  padding-bottom: 17px;
}
.blog-single-area .add-comment-box .add-rating-box h4 {
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 12px;
}
.blog-single-area .add-comment-box .add-rating-box ul {}
.blog-single-area .add-comment-box .add-rating-box ul li {
  border-right: 1px solid #ebebeb;
  display: inline-block;
  line-height: 20px;
  margin-right: 6px;
  padding-right: 10px;
}
.blog-single-area .add-comment-box .add-rating-box ul li:last-child{
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}
.blog-single-area .add-comment-box .add-rating-box ul li a i{
  color: #d6d6d6;
  font-size: 12px;
}
.blog-single-area .add-comment-box .add-rating-box ul li a:hover i{
  color: #ad2727;
  transition: all 500ms ease;
}

.blog-single-area .add-comment-box form {}
.blog-single-area .add-comment-box form .field-label {
  color: #222222;
  display: block;
  font-size: 16px;
  font-weight: 400;
  padding: 0 0 2px;
}
.blog-single-area .add-comment-box form input[type="text"],
.blog-single-area .add-comment-box form input[type="email"],
.blog-single-area .add-comment-box form textarea{
  background: #fff none repeat scroll 0 0;
  border: 2px solid #f4f4f4;
  display: block;
  font-size: 14px;
  font-weight: 400;
  height: 50px;
  padding: 0 15px;
  width: 100%;  
  margin-bottom: 15px;
  transition: all 500ms ease;
}
.blog-single-area .add-comment-box form textarea {
  height: 160px;
  padding: 10px 15px;
  margin-bottom: 30px;
}
.blog-single-area .add-comment-box form button {
    padding: 0;
    width: 100%;
}
.blog-single-area .add-comment-box form input[type="text"]:focus{
  border-color: #ad2727;
}
.blog-single-area .add-comment-box form input[type="email"]:focus{
  border-color: #ad2727;
}
.blog-single-area .add-comment-box form textarea:focus{
  border-color: #ad2727;
}
.blog-single-area .add-comment-box form button:hover{}



.single-blog-post .text-holder .meta-info {
    overflow: hidden;
    margin-left: -20px;
    margin-right: -20px;
    border-top: 1px solid #f4f4f4;
    display: block;
    padding: 0px 20px 0px;
}

.single-blog-post .text-holder .meta-info .left {
    display: block;
    padding: 15px 0 15px;
}
.recent-posts.post-thumb .post .post-info{
    font-size: 14px;
    font-weight:400;
    margin:0px;
    line-height:1.6em;
    color: #9c9c9c;
}
.popular-post .item .post-info {
  color: #ad2727;
  font-size: 16px;
}
.recent-posts.post-thumb .post .post-info{
    font-size: 14px;
    font-weight:400;
    margin:0px;
    line-height:1.6em;
    color: #9c9c9c;
}
.popular-post .item .post-info {
  color: #ad2727;
  font-size: 16px;
}




.bg-clr2{
  background: #222;
  color: #fff;
  position: relative;
}
.bg-clr2:before {
  background-color: #ad2727;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0.5, 1);
  transition: all 0.4s ease 0s;
  width: 100%;
  z-index: -1;
}
.bg-clr2:hover:before{
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);    
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}

.call-out2 {
  background: #ad2727;
  padding: 5px 0 25px;
}
.call-out2 .logo {
  margin-top: 23px;
}
.call-out2 h4 {
  color: #fff;
  margin-top: 30px;
  font-size: 20px;
}
.call-out2 .thm-btn {
  margin-top: 20px;
  line-height: 50px;
  padding: 0 21px;
}
.call-out2 .thm-btn:hover {
  color: #ad2727
}

.call-out2 .thm-btn.bg-clr2:before {
  background-color: #fff;
}


.thm-btn {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  transition: all 0.5s ease 0s;
  cursor: pointer;
  padding: 0 30px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  z-index: 1;
}

.thm-btn:hover{
  color: #fff;
}


.thm-btn:before {
  background-color: #444;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0.5, 1);
  transition: all 0.4s ease 0s;
  width: 100%;
  z-index: -1;
}
.bg-clr1{
  background: #ad2727;  
  color: #fff;
}
.thm-btn:hover::before{
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.bg-clr2{
  background: #222;
  color: #fff;
  position: relative;
}
.bg-clr2:before {
  background-color: #ad2727;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0.5, 1);
  transition: all 0.4s ease 0s;
  width: 100%;
  z-index: -1;
}
.bg-clr2:hover:before{
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);    
}



</style>