---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
    <Header />
<!--Start breadcrumb area-->     

<section class="breadcrumb-area" style="background-image: url(images/Blog/Blog1/airjet_partswasherPR_900x300.jpg);">
	<div class="container text-center">
		<h1>Servicio de Auditoría en Aire Comprimido</h1>
	</div>
</section>
<!--End breadcrumb area-->

<section id="blog-area" class="blog-with-sidebar-area blog-single-area">
    <div class="container">
        <div class="row">
                <div class="blog-post">
                    <div class="single-blog-post">
                        <div class="text-holder">
                            <div class="text">
                                <p>La utilización del aire comprimido, está directamente relacionada con el consumo de la energía eléctrica que lo produce. <br>

                                    Es importante hacer una auditoría en aire comprimido para crear un histórico de todo el sistema de generación, distribución y utilizaciones de aire comprimido, con la finalidad de tener instalada un sistema industrial de aire comprimido eficiente, y con el objetivo de importantes reducciones en los costos operativos. <br>
                                    
                                    </p>
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <p>El conocimiento y registro de la capacidad del sistema de aire comprimido  instalado, permitirá documentar como está siendo operado el sistema y la capacidad real de generación para futuras ampliaciones de la demanda. <br>
                                            
                                            En la actualidad, el 90 % de las Industrias, utilizan aire comprimido en sus procesos productivos.
                                            <br> <br>
                                            La sencillez de operación, la disponibilidad, la facilidad y la seguridad en el manejo de los equipos, dispositivos y herramientas neumáticas, han propiciado una gran utilización de la energía de presión producida por el aire comprimido.
                                            <br> <br>
                                            El aire comprimido no es visto en general como un costo de producción. Pero no es gratis, y su generación requiere una gran cantidad de energía.
                                            <br>
                                            Realizar mejoras al sistema de aire comprimido puede significar un ahorro energético del 20% al 50% del consumo energético actual, es posible que en algunas ocasiones se pueda generar un porcentaje de ahorro energético mayor, por eso ofrecemos el servicio de auditoría en aire comprimido</p>
                                    </div>
                                    <div class="col-4">
                                        <img class="w-100" src="images/audotoria/grafico-auditoria-aire-comprimido.webp" alt="">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <img  class="w-80" src="images/audotoria/asesoria-aire-comprimido1.webp" alt="">
                                    </div>
                                    <div class="col-9">
                                         <h2>LP Meter</h2>

                                        <p>Con el aumento de los costos de energía, el aire comprimido se ha convertido en uno de los servicios generales más costosos en una planta. Debido a las fugas de aire y las altas pérdidas anuales en millones de pesos por el ineficiente funcionamiento en los compresores de aire comprimido. <br>

                                            El medidor de flujo de aire comprimido LP de múltiples orificios calibrados le permitirá tener un control sobre las pérdidas, dando acceso a una cuantificación de las fugas de aire y a evaluar el rendimiento de los compresores industriales de aire comprimido. <br> <br></p>
                                    </div>
                                    
                                </div>
                                <p>
                                    
                                    <span class="fw-bold">Medir las fugas de aire en el sistema de aire comprimido</span> <br> <br>
                                    A diferencia de una fuga hidráulica, el personal de mantenimiento de planta a menudo se pasa por alto las fugas de aire, simplemente porque el aire no visible, mientras el compresor utiliza energía eléctrica para satisfacer una demanda ficticia que no añade nada a su productividad. La planta utilizará promedio entre 20% – 30% de su potencia en funcionamiento para producir aire sólo para satisfacer las fugas de aire. ¡Que desperdicio!  las fugas de aire son el dinero justo al lado de su cuenta de resultados. <br>
                                    
                                    Por ello desde nuestra auditoría en aire comprimido recomendamos el medidor de LP, este le permitirá cuantificar el volumen de aire que se pierde en fugas, además de verificaciones periódicas que permiten mantener las fugas de aire bajo control y los costos de aire comprimido bajos. <br> <br>
                                    
                                    <span class="fw-bold">Medir el rendimiento de su compresor</span> <br> <br>
                                    Un área de ahorro en el aire comprimido que no se suele ser aborda por el fabricante del compresor es la de rendimiento del compresor. Compresores de tornillo rotativo (tipo de modulación), en particular, son propensos a algo que llamamos «modulación prematura». <br>
                                    
                                    En nuestra auditoría de aire comprimido hemos encontrado que en el 80% de los compresores instalados en la industria, no les funciona correctamente la pequeña válvula que controla la modulación de mariposa o el acelerador de entrada. El mal funcionamiento o indebido de estos controles de entrada significa que los compresores de aire llevan menos que el valor nominal normal. No es sorprendente ver algunos compresores que operan a 60% de su capacidad nominal. <br>
                                    
                                    Con el fin de conseguir una dato optimo sobre este problema, se tiene que probar el compresor a presiones diferentes con el fin de obtener una «Curva de Rendimiento». <br>

                                    La auditoría en aire comprimido revelará a qué presión la válvula de mariposa comienza a cerrarse prematuramente. El medidor de LP le permitirá probar sus compresores de aire comprimido con diferentes ajustes de presión y le dará el volumen de aire entregado a diferentes presiones. El medidor de LP también le proporcionará la información necesaria para determinar los ajustes de mantenimiento o reparaciones en cualquier compresor de tornillo rotativo, alternativo, de tipo centrífugo o de paletas. <br>

                                    Medir el consumo de aire de la planta antes de instalar un nuevo compresor industrial de aire comprimido, es necesario para determinar cuál es su verdadero consumo de aire de la planta y si es su compresor (s) suficiente para satisfacer las demandas actuales y futuras. Después de haber fijado las fugas de aire y verificado el rendimiento de su compresor (s) existente, se utiliza el medidor de LP para establecer el verdadero volumen que se consume en su planta. <br>
                                    </p>
                                    

                                    

                                <h3>Características Estándar.</h3>
                                <p>Cuando se trata de frenar el calentamiento global, utilizando el medidor de LP para controlar sus pérdidas en el sistema de aire comprimido hace la diferencia. La implementación de este producto significa un ahorro energético en la producción de su empresa, generando un ahorro económico importante en su factura eléctrica. Esto se traduce directamente en la reducción de emisiones de gases de efecto invernadero. Cuando se guarda en la electricidad se reduce el gas dióxido de carbono (CO2) y las emisiones de gas metano (CH4)</p>
                                <ul id="list">
                                    <li>La precisión dentro de un 2% de precisión</li>
                                    <li>ASME codificado y sellado</li>
                                    <li>CRN Aprobado orificios de acero inoxidable</li>
                                    <li>Manómetro Glicerina de precisión</li>
                                    <li>Robusta termómetro de montaje directo</li>
                                    <li>Generar un ahorro energético que ayude al medio ambiente</li>
                                </ul>
                                <img class="w-30" src="images/audotoria/asesoria-aire-comprimido2.webp" alt="">
                                    <h3>Lo que no se mide no se puede controlar</h3>
                                    <ul id="list">
                                        <li>Si su objetivo es mejorar la eficiencia energética en su sistema de Aire comprimido</li>
                                        <li>Si necesita aumentar el ahorro energético en sus procesos de producción</li>
                                        <li>si está deseando saber si su sistema está optimizado, diseñado u operando satisfactoriamente</li>
                                        Entonces usted debe encontrar un adecuado asesoramiento, contáctenos, tenemos el servicio de auditoría en aire comprimido, ideal para este caso.
                                    </ul>
                                <h3>Auditoría en Aire Comprimido: Medición</h3>
                                <p>Global Automation a través de la auditoría en aire comprimido puede indicarle como ahorrar energía con el sistema de aire comprimido actual instalado. Tres etapas de medición le permitirán administrar mejor su sistema y ahorrar dinero a través de la reducción en el consumo de energía, análisis del desempeño de los compresores industriales de aire comprimido y control de las fugas.
                                <br>
                                    A continuación se indican las tres etapas de medición en el sistema:</p>
                                <div class="row">
                                    
                                    <div class="col-9">
                                        <p> <span class="fw-bold">Conociendo la real capacidad de generación</span>
                                            Se debe encontrar primero, que es lo que el sistema está realmente generando; en consecuencia, se deben implementar medidores de caudal de aire comprimido para verificar el caudal real de salida y la capacidad total de generación del sistema de aire comprimido instalado. <br>

                                            Con nuestro servicio de auditoría en aire comprimido hemos encontrado que muchos compresores no producen el caudal nominal indicado por el fabricante o problemas con los anillos del pistón en compresores reciprocantes, o modulación prematura en los compresores a tornillo, estos casos son más comunes de lo que se piensa (aprox. 80% de casos). <br>

                                            Esta modulación prematura es causada por un ajuste impreciso de la válvula que controla la modulación. Una falla en esta válvula, o una inadecuada regulación, causa que el tornillo estrangule la entrada y produzca un volumen de aire menor que el verdaderamente especificado. <br>

                                            Si el compresor, no está generando lo que debería, entonces se necesita instalar otro compresor para absorber la diferencia en esta ineficiencia. <br>

                                            
                                            Si el compresor no está produciendo eficientemente, esto significa que mayores modulaciones causan innecesarios desgastes en cojinetes y motores. <br>

                                            La calibración puede ser muy simple utilizando el medidor LP. La instalación del LP Meter le permite medir el caudal de aire comprimido a la salida del compresor con una precisión de ± 2%.
                                        </p>
                                    </div>
                                    
                                    <div class="col-3">
                                        <img class="w-100" src="images/audotoria/asesoria-aire-comprimido3.webp" alt="">

                                    </div>
                                </div>
                                <div class="row">
                                    
                                    <div class="col-9">
                                        <p> <span class="fw-bold">
                                            Cuantificación de gas</span> <br>
                                            Basados en cientos de instalaciones con el medidor LP y los resultados del servicio de auditoría en aire comprimido, se ha encontrado que el promedio de las pérdidas de un sistema de aire comprimido instalado respecto al caudal nominal de salida, pueden llegar a un valor del 30% o más de la capacidad de generación. La cantidad de aire perdido (por fugas) en una planta industrial es la mayor pérdida de energía desperdiciada de aire comprimido. ¿De cuánto dinero estamos hablando?</p>
                                    </div>
                                    
                                    <div class="col-3">
                                        <img class="w-100" src="images/audotoria/asesoria-aire-comprimido4.png" alt="">

                                    </div>
                                </div>
                                <p> <span class="fw-bold">Medición de consumo</span> <br>
                                    La medición del consumo, puede ser desarrollada utilizando el mismo principio que el empleado para medir las fugas (ver principio de funcionamiento del LP). La diferencia entre el caudal realmente generado y el caudal de fugas, será el verdadero caudal de consumo medido a la misma presión.
                                    <br>
                                    En la mayoría de las plantas industriales, solo un Modelo de LP será suficiente para medir todos los compresores que conforman la generación. El medidor podrá ser rápidamente desconectado de un compresor y colocado en otro. Los tiempos de medición solo estarán limitados a cuán rápido el compresor podrá reaccionar a los cambios en la demanda.</p>

                                <h2>Principio de Funcionamiento del Medidor LP</h2>
                                <p> <span class="fw-bold">Medición de compresores</span> <br>
                                    El proceso de la auditoría en aire comprimido se procede con la medición, que consiste en aislar cada compresor de aire de la planta, permitiendo a todo el aire generado, pasar a través del medidor a la atmósfera. El medidor está compuesto por una serie de válvulas esféricas independientes, con orificios (toberas) mecanizados y calibrados de precisión que permiten simular un consumo de aire del compresor a una presión determinada. <br>

                                    Varios orificios son abiertos hasta que el compresor mantenga el valor de presión deseado. Los caudales de,  las válvulas abiertas son sumados para obtener una medición correcta del caudal de aire comprimido generado por el compresor (FAD- Free Air Delivery) a la presión de prueba. <br>

                                    Una serie de puntos de medición son obtenidos para construir una curva característica; correcciones por presión y temperatura son realizadas. Simultáneamente una lectura de potencia es registrada, definiendo un cuadro completo de operación.
                                    </p>
                                
                                    <p> <span class="fw-bold">Cuantificación de fugas</span> <br>
                                        Luego que la capacidad de generación de un compresor ha sido determinada, el caudal a la planta y al equipamiento es reanudado pero sin ninguna línea de producción habilitada. <br>

                                        Nuevamente las válvulas son abiertas hasta que la presión se estabilice al setpoint de presión predeterminado. El caudal a través del medidor es nuevamente sumado, y la diferencia entre este valor de caudal y el caudal obtenido con el medidor a la misma presión de generación, será el valor cuantificado de las fugas de aire comprimido en la red de distribución y en  los equipos involucrados en el proceso industrial.
                                    </p>
                                    <p> <span class="fw-bold">Cuantificación de los consumos</span> <br>
                                        El consumo de cada máquina o línea utilizada en la planta podrá medirse sí la misma pudiera ser aislada, y tomando como resultado el caudal real generado menos el caudal de fugas cuantificado.
                                    </p>
                                    <p> <span class="fw-bold">Cuantificación de los consumos</span> <br>
                                        El consumo de cada máquina o línea utilizada en la planta podrá medirse sí la misma pudiera ser aislada, y tomando como resultado el caudal real generado menos el caudal de fugas cuantificado.
                                    </p>
                                    <p> <span class="fw-bold">Esquema de conexión del medidor LP Meter en la instalación</span> <br>
                                        El medidor de LP le proporcionará la información necesaria para determinar los ajustes de mantenimiento o reparaciones en cualquier tornillo rotativo, alternativo, de tipo centrífugo o de paletas.
                                        <br>
                                        Medir el consumo de aire de la planta antes de comprar un nuevo compresor, es necesario determinar cuál es su verdadero consumo de aire de la planta y si es su compresor (s) existente o no satisfacer sus demandas actuales y futuras. Después de haber fijado sus fugas de aire y verificado el rendimiento de su compresor (s) existente, utilice el medidor de LP para establecer el verdadero volumen que se consume en su planta.
                                    </p>
                            </div>
                           
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>

<div class="call-out2">
    <div class="container">
        <div class="clearfix">
            <div class="float_left">
                <h4>¿Tiene alguna pregunta o necesita alguna consulta comercial?</h4>
            </div>
            <div class="float_right">
                <a href="/" class="thm-btn bg-clr2 text-decoration-none ">Solicitud De Cotización</a>
            </div>
        </div>
                
    </div>
</div>



    <Footer />
</Layout>

<style>

    .text span{
        color: #ad2727;
    }

    #blog-area {
  padding-bottom: 80px;
  padding-top: 80px;
}
#blog-area .blog-post {

}
.blog-with-sidebar-area .blog-post .single-blog-post {
    margin-bottom: 60px;
}
#blog-area .single-blog-post .img-holder .published-date {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70px;
    height: 70px;
    padding: 10px 10px;
}
#blog-area .single-blog-post:hover .img-holder .published-date{
    left: 0;  
    top: 0;
}
#blog-area .single-blog-post .img-holder .published-date h3 {
    font-size: 18px;
    line-height: 24px;
}
#blog-area .single-blog-post .text-holder .blog-title{
    font-size: 24px;
    line-height: 30px;
}

.blog-single-area .single-blog-post:hover .img-holder img {
  transform: none;    
}
.blog-single-area .single-blog-post .text-holder .blog-title:hover{
  color: #222222;
}

.blog-single-area .middle-content-box {
    margin: 10px 0 33px;
    overflow: hidden;
}
.blog-single-area .middle-content-box .img-holder {
  width: 300px;
}
.blog-single-area .middle-content-box .img-holder,
.blog-single-area .middle-content-box .text-box{
  display: table-cell;
  vertical-align: top;
}
.blog-single-area .middle-content-box .text-box {
  padding-left: 30px; 
  position: relative;
}
.blog-single-area .middle-content-box .text-box:before{
  content: "\f10d";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #f1f1f1;
  font-size: 24px;
  padding-right: ;
  position: absolute;
  top: -3px;
  left: 30px;    
}
.blog-single-area .middle-content-box .text-box {
  padding-left: 30px;
  padding-top: 32px;
  position: relative;
}
.blog-single-area .middle-content-box .text-box h3 {
  color: #222222;
  font-size: 20px;
  font-weight: 400;
  margin: 20px 0 7px;
}
.blog-single-area .middle-content-box .text-box h5 {
  color: #ad2727;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  font-family: 'Hind', sans-serif;
}

.blog-single-area .bottom-content-box {
  padding-bottom: 21px;
}

.blog-single-area .comment-box {
    overflow: hidden;
    padding-bottom: 50px;
    padding-top: 30px;
}
.blog-single-area .comment-box .sec-title{
  padding-bottom: 31px;
}
.blog-single-area .comment-box .sec-title h3 {
  color: #222222;
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
}
.blog-single-area .comment-box .single-comment-box {
  padding-left: 60px;
  position: relative;
  margin-bottom: 30px;
}
.blog-single-area .comment-box .single-comment-box .img-holder {
  left: 0;
  position: absolute;
  top: 16px;
  width: 70px;
}
.blog-single-area .comment-box .single-comment-box .text-holder {
  border: 1px solid #f7f7f7;
  margin-left: 20px;
  padding: 15px 20px 5px;
}
.blog-single-area .comment-box .single-comment-box .text-holder .top {
  overflow: hidden;
  padding-bottom: 8px;
}
.blog-single-area .comment-box .single-comment-box .text-holder .top .date h5 {
  color: #222222;
  font-size: 16px;
  font-weight: 400;
}
.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box {
  position: relative;
  top: -3px;
}
.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box ul {
  margin-left: -0.5px;
  margin-right: -0.5px;
  overflow: hidden;
}
.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box ul li {
  display: inline-block;
  margin: 0 0.5px;
}
.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box ul li i {
  color: #ad2727;
  font-size: 14px;
}

.blog-single-area .add-comment-box {
  overflow: hidden;
}
.blog-single-area .add-comment-box .sec-title {
  padding-bottom: 30px;
}
.blog-single-area .add-comment-box .sec-title h3 {
  color: #222222;
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
}
.blog-single-area .add-comment-box .add-rating-box {
  padding-bottom: 17px;
}
.blog-single-area .add-comment-box .add-rating-box h4 {
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 12px;
}
.blog-single-area .add-comment-box .add-rating-box ul {}
.blog-single-area .add-comment-box .add-rating-box ul li {
  border-right: 1px solid #ebebeb;
  display: inline-block;
  line-height: 20px;
  margin-right: 6px;
  padding-right: 10px;
}
.blog-single-area .add-comment-box .add-rating-box ul li:last-child{
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}
.blog-single-area .add-comment-box .add-rating-box ul li a i{
  color: #d6d6d6;
  font-size: 12px;
}
.blog-single-area .add-comment-box .add-rating-box ul li a:hover i{
  color: #ad2727;
  transition: all 500ms ease;
}

.blog-single-area .add-comment-box form {}
.blog-single-area .add-comment-box form .field-label {
  color: #222222;
  display: block;
  font-size: 16px;
  font-weight: 400;
  padding: 0 0 2px;
}
.blog-single-area .add-comment-box form input[type="text"],
.blog-single-area .add-comment-box form input[type="email"],
.blog-single-area .add-comment-box form textarea{
  background: #fff none repeat scroll 0 0;
  border: 2px solid #f4f4f4;
  display: block;
  font-size: 14px;
  font-weight: 400;
  height: 50px;
  padding: 0 15px;
  width: 100%;  
  margin-bottom: 15px;
  transition: all 500ms ease;
}
.blog-single-area .add-comment-box form textarea {
  height: 160px;
  padding: 10px 15px;
  margin-bottom: 30px;
}
.blog-single-area .add-comment-box form button {
    padding: 0;
    width: 100%;
}
.blog-single-area .add-comment-box form input[type="text"]:focus{
  border-color: #ad2727;
}
.blog-single-area .add-comment-box form input[type="email"]:focus{
  border-color: #ad2727;
}
.blog-single-area .add-comment-box form textarea:focus{
  border-color: #ad2727;
}
.blog-single-area .add-comment-box form button:hover{}



.single-blog-post .text-holder .meta-info {
    overflow: hidden;
    margin-left: -20px;
    margin-right: -20px;
    border-top: 1px solid #f4f4f4;
    display: block;
    padding: 0px 20px 0px;
}

.single-blog-post .text-holder .meta-info .left {
    display: block;
    padding: 15px 0 15px;
}
.recent-posts.post-thumb .post .post-info{
    font-size: 14px;
    font-weight:400;
    margin:0px;
    line-height:1.6em;
    color: #9c9c9c;
}
.popular-post .item .post-info {
  color: #ad2727;
  font-size: 16px;
}
.recent-posts.post-thumb .post .post-info{
    font-size: 14px;
    font-weight:400;
    margin:0px;
    line-height:1.6em;
    color: #9c9c9c;
}
.popular-post .item .post-info {
  color: #ad2727;
  font-size: 16px;
}




.bg-clr2{
  background: #222;
  color: #fff;
  position: relative;
}
.bg-clr2:before {
  background-color: #ad2727;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0.5, 1);
  transition: all 0.4s ease 0s;
  width: 100%;
  z-index: -1;
}
.bg-clr2:hover:before{
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);    
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}

.call-out2 {
  background: #ad2727;
  padding: 5px 0 25px;
}
.call-out2 .logo {
  margin-top: 23px;
}
.call-out2 h4 {
  color: #fff;
  margin-top: 30px;
  font-size: 20px;
}
.call-out2 .thm-btn {
  margin-top: 20px;
  line-height: 50px;
  padding: 0 21px;
}
.call-out2 .thm-btn:hover {
  color: #ad2727
}

.call-out2 .thm-btn.bg-clr2:before {
  background-color: #fff;
}


.thm-btn {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  transition: all 0.5s ease 0s;
  cursor: pointer;
  padding: 0 30px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  z-index: 1;
}

.thm-btn:hover{
  color: #fff;
}


.thm-btn:before {
  background-color: #444;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0.5, 1);
  transition: all 0.4s ease 0s;
  width: 100%;
  z-index: -1;
}
.bg-clr1{
  background: #ad2727;  
  color: #fff;
}
.thm-btn:hover::before{
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.bg-clr2{
  background: #222;
  color: #fff;
  position: relative;
}
.bg-clr2:before {
  background-color: #ad2727;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0.5, 1);
  transition: all 0.4s ease 0s;
  width: 100%;
  z-index: -1;
}
.bg-clr2:hover:before{
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);    
}



</style>