---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
<!--Start breadcrumb area-->     

<section class="breadcrumb-area" style="background-image: url(images/Blog/Blog1/airjet_partswasherPR_900x300.jpg);">
	<div class="container text-center">
		<h1>VENTAJAS DE LOS AIR JETS</h1>
	</div>
</section>
<!--End breadcrumb area-->

<section id="blog-area" class="blog-with-sidebar-area blog-single-area">
    <div class="container">
        <div class="row">
                <div class="blog-post">
                    <div class="single-blog-post">
                        <div class="text-holder">
                            <div class="text">
                                <p>Los Air Jets proveen una solución superior para minimizar el uso de aire
                                    comprimido y reducir los niveles de ruido para las operaciones de soplado con aire
                                    comprimido
                                    Cuando se comparan uso de tuberías abiertas con las Air Jet el ahorro de aire
                                    comprimido puede llegar a ser del 80%. Con menos aire comprimido saliendo del
                                    Aire Jet, los niveles de ruido son reducidos a niveles manejables con reducciones
                                    de hasta 10 dBA. Todos los Air Jets de EXAIR cumplen con pautas de exposición
                                    a la presión y nivel de ruido expuesto.</p>
                                <p>Las boquillas y Jets de EXAIR utilizan el efecto Coanda (adherencia a las pareces
                                    internas de un fluido de alta velocidad) para amplificar el caudal de salida 25 veces
                                    o más. El aire comprimido sale a través de un pequeño espacio en el área de la
                                    boquilla (#1) que arrastra el aire circundante desde detrás de la boquilla. Se
                                    arrastra un volumen de aire adicional desde atrás y alrededor de la salida del Air
                                    Jet (#2) para proporcionar al usuario un flujo de aire &quot;amplificado&quot; o multiplicado
                                    para hacer el trabajo o proporcionar el efecto deseado (#3). Más fuerza con menos
                                    consumo de aire y menos ruido es el objetivo.</p>
                            </div>
                            <div class="middle-content-box">
                                <div class="row">
                                    
                                    <div class="col-lg-4">
                                      <div class="img-holder">
                                        <img src="images/Blog/Blog1/Airjet.png" alt="Como Funciona Air Jet">
                                    </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="text-box">
                                            <h3>Como trabaja el  Air Jet</h3>
                                            <p>Los Aire Jets se suministran con rosca macho 1/8NPT y expulsan el aire en ángulo recto. Ellos producen un vacío en el lado de mayor diámetro que atrae el aire circundante hacia el flujo de la salida total. Los Aire Jets están disponibles en  Latón o 303 SST. Se puede elegir entre un estilo de flujo fijo o ajustable para brindar flexibilidad a sus aplicaciones.  Los modelos de flujo ajustable tienen un indicador micrometrico que asegura resultados consistentes y precisos.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="middle-content-box">
                                <div class="row">
                                  <div class="col-lg-8">
                                    <div class="text-box">
                                      <p>Las boquillas cumplen la norma OSHA CFR 29 - 1910.95(a) sobre niveles de exposición al ruido permitidos. Esto significa que puede utilizarlos con presiones de entrada muy por encima de 30 PSIG para obtener fuerzas de impacto más duras sin dejar de cumplir con la OSHA. </p>
                                  </div>
                                  </div>
                                    <div class="col-lg-4">      
                                        <div class="img-holder">
                                            <img src="images/Blog/Blog1/Boquilla.png" width="370px" alt="Boquilla">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>

<div class="call-out2">
    <div class="container">
        <div class="clearfix">
            <div class="float_left">
                <h4>¿Tiene alguna pregunta o necesita alguna consulta comercial?</h4>
            </div>
            <div class="float_right">
                <a href="/" class="thm-btn bg-clr2 text-decoration-none ">Solicitud De Cotización</a>
            </div>
        </div>
                
    </div>
</div>



    <Footer />
</Layout>

<style>

.text-box h3{
  color: #ad2727 !important;
  font-weight: bold !important;
}


    #blog-area {
  padding-bottom: 80px;
  padding-top: 80px;
}
#blog-area .blog-post {

}
.blog-with-sidebar-area .blog-post .single-blog-post {
    margin-bottom: 60px;
}
#blog-area .single-blog-post .img-holder .published-date {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70px;
    height: 70px;
    padding: 10px 10px;
}
#blog-area .single-blog-post:hover .img-holder .published-date{
    left: 0;  
    top: 0;
}
#blog-area .single-blog-post .img-holder .published-date h3 {
    font-size: 18px;
    line-height: 24px;
}
#blog-area .single-blog-post .text-holder .blog-title{
    font-size: 24px;
    line-height: 30px;
}

.blog-single-area .single-blog-post:hover .img-holder img {
  transform: none;    
}
.blog-single-area .single-blog-post .text-holder .blog-title:hover{
  color: #222222;
}

.blog-single-area .middle-content-box {
    margin: 10px 0 33px;
    overflow: hidden;
}
.blog-single-area .middle-content-box .img-holder {
  width: 300px;
}
.blog-single-area .middle-content-box .img-holder,
.blog-single-area .middle-content-box .text-box{
  display: table-cell;
  vertical-align: top;
}
.blog-single-area .middle-content-box .text-box {
  padding-left: 30px; 
  position: relative;
}
.blog-single-area .middle-content-box .text-box:before{
  content: "\f10d";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #f1f1f1;
  font-size: 24px;
  padding-right: ;
  position: absolute;
  top: -3px;
  left: 30px;    
}
.blog-single-area .middle-content-box .text-box {
  padding-left: 30px;
  padding-top: 32px;
  position: relative;
}
.blog-single-area .middle-content-box .text-box h3 {
  color: #222222;
  font-size: 20px;
  font-weight: 400;
  margin: 20px 0 7px;
}
.blog-single-area .middle-content-box .text-box h5 {
  color: #ad2727;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  font-family: 'Hind', sans-serif;
}

.blog-single-area .bottom-content-box {
  padding-bottom: 21px;
}

.blog-single-area .comment-box {
    overflow: hidden;
    padding-bottom: 50px;
    padding-top: 30px;
}
.blog-single-area .comment-box .sec-title{
  padding-bottom: 31px;
}
.blog-single-area .comment-box .sec-title h3 {
  color: #222222;
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
}
.blog-single-area .comment-box .single-comment-box {
  padding-left: 60px;
  position: relative;
  margin-bottom: 30px;
}
.blog-single-area .comment-box .single-comment-box .img-holder {
  left: 0;
  position: absolute;
  top: 16px;
  width: 70px;
}
.blog-single-area .comment-box .single-comment-box .text-holder {
  border: 1px solid #f7f7f7;
  margin-left: 20px;
  padding: 15px 20px 5px;
}
.blog-single-area .comment-box .single-comment-box .text-holder .top {
  overflow: hidden;
  padding-bottom: 8px;
}
.blog-single-area .comment-box .single-comment-box .text-holder .top .date h5 {
  color: #222222;
  font-size: 16px;
  font-weight: 400;
}
.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box {
  position: relative;
  top: -3px;
}
.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box ul {
  margin-left: -0.5px;
  margin-right: -0.5px;
  overflow: hidden;
}
.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box ul li {
  display: inline-block;
  margin: 0 0.5px;
}
.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box ul li i {
  color: #ad2727;
  font-size: 14px;
}

.blog-single-area .add-comment-box {
  overflow: hidden;
}
.blog-single-area .add-comment-box .sec-title {
  padding-bottom: 30px;
}
.blog-single-area .add-comment-box .sec-title h3 {
  color: #222222;
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
}
.blog-single-area .add-comment-box .add-rating-box {
  padding-bottom: 17px;
}
.blog-single-area .add-comment-box .add-rating-box h4 {
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 12px;
}
.blog-single-area .add-comment-box .add-rating-box ul {}
.blog-single-area .add-comment-box .add-rating-box ul li {
  border-right: 1px solid #ebebeb;
  display: inline-block;
  line-height: 20px;
  margin-right: 6px;
  padding-right: 10px;
}
.blog-single-area .add-comment-box .add-rating-box ul li:last-child{
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}
.blog-single-area .add-comment-box .add-rating-box ul li a i{
  color: #d6d6d6;
  font-size: 12px;
}
.blog-single-area .add-comment-box .add-rating-box ul li a:hover i{
  color: #ad2727;
  transition: all 500ms ease;
}

.blog-single-area .add-comment-box form {}
.blog-single-area .add-comment-box form .field-label {
  color: #222222;
  display: block;
  font-size: 16px;
  font-weight: 400;
  padding: 0 0 2px;
}
.blog-single-area .add-comment-box form input[type="text"],
.blog-single-area .add-comment-box form input[type="email"],
.blog-single-area .add-comment-box form textarea{
  background: #fff none repeat scroll 0 0;
  border: 2px solid #f4f4f4;
  display: block;
  font-size: 14px;
  font-weight: 400;
  height: 50px;
  padding: 0 15px;
  width: 100%;  
  margin-bottom: 15px;
  transition: all 500ms ease;
}
.blog-single-area .add-comment-box form textarea {
  height: 160px;
  padding: 10px 15px;
  margin-bottom: 30px;
}
.blog-single-area .add-comment-box form button {
    padding: 0;
    width: 100%;
}
.blog-single-area .add-comment-box form input[type="text"]:focus{
  border-color: #ad2727;
}
.blog-single-area .add-comment-box form input[type="email"]:focus{
  border-color: #ad2727;
}
.blog-single-area .add-comment-box form textarea:focus{
  border-color: #ad2727;
}
.blog-single-area .add-comment-box form button:hover{}



.single-blog-post .text-holder .meta-info {
    overflow: hidden;
    margin-left: -20px;
    margin-right: -20px;
    border-top: 1px solid #f4f4f4;
    display: block;
    padding: 0px 20px 0px;
}

.single-blog-post .text-holder .meta-info .left {
    display: block;
    padding: 15px 0 15px;
}
.recent-posts.post-thumb .post .post-info{
    font-size: 14px;
    font-weight:400;
    margin:0px;
    line-height:1.6em;
    color: #9c9c9c;
}
.popular-post .item .post-info {
  color: #ad2727;
  font-size: 16px;
}
.recent-posts.post-thumb .post .post-info{
    font-size: 14px;
    font-weight:400;
    margin:0px;
    line-height:1.6em;
    color: #9c9c9c;
}
.popular-post .item .post-info {
  color: #ad2727;
  font-size: 16px;
}




.bg-clr2{
  background: #222;
  color: #fff;
  position: relative;
}
.bg-clr2:before {
  background-color: #ad2727;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0.5, 1);
  transition: all 0.4s ease 0s;
  width: 100%;
  z-index: -1;
}
.bg-clr2:hover:before{
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);    
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}

.call-out2 {
  background: #ad2727;
  padding: 5px 0 25px;
}
.call-out2 .logo {
  margin-top: 23px;
}
.call-out2 h4 {
  color: #fff;
  margin-top: 30px;
  font-size: 20px;
}
.call-out2 .thm-btn {
  margin-top: 20px;
  line-height: 50px;
  padding: 0 21px;
}
.call-out2 .thm-btn:hover {
  color: #ad2727
}

.call-out2 .thm-btn.bg-clr2:before {
  background-color: #fff;
}


.thm-btn {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  transition: all 0.5s ease 0s;
  cursor: pointer;
  padding: 0 30px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  z-index: 1;
}

.thm-btn:hover{
  color: #fff;
}


.thm-btn:before {
  background-color: #444;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0.5, 1);
  transition: all 0.4s ease 0s;
  width: 100%;
  z-index: -1;
}
.bg-clr1{
  background: #ad2727;  
  color: #fff;
}
.thm-btn:hover::before{
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.bg-clr2{
  background: #222;
  color: #fff;
  position: relative;
}
.bg-clr2:before {
  background-color: #ad2727;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0.5, 1);
  transition: all 0.4s ease 0s;
  width: 100%;
  z-index: -1;
}
.bg-clr2:hover:before{
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);    
}



</style>