---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Header />


	<section class="breadcrumb-area"
		style="background-image: url(images/Productos/LubricacionIndustrial/lubricacion-automatica-portada.webp);">
		<div class="container text-center">
			<h1>Bombas de Vacío</h1>
		</div>
	</section>
	<!--End breadcrumb area-->

	<section id="blog-area" class="blog-with-sidebar-area blog-single-area">
		<div class="container">
			<div class="row">
				<div class="blog-post">
					<div class="single-blog-post">
						<div class="text-holder">
							<div class="text ">
								<p>Poseemos una gran variedad de Bombas de Vacío EDCO que cubren todas las necesidades
									en aplicaciones industriales.</p>
								<div class="row">
									<h2>Bombas de Vacío Clásicas</h2>
									<div class="col-lg-4 col-md-4 col-sm-12">
										<img class="text-center"
											src="images/Productos/Vacio/bombas-de-vacio-clasicas.webp" alt="">
									</div>
									<div class="col-lg-8 col-md-8 col-sm-12">
										<p>Cuando EDCO decidió fabricar las bombas de vacío clásicas, en 1994 se
											realizaron pruebas exhaustivas del comportamiento de las bombas de vacío
											multi-etapas de la competencia, actualmente la competencia promueven sus
											productos como de menor consumo de energía y mayor nivel de flujo y vacío,
											esto debido al hecho de utilizar un sistema multi-etapas, conocido también
											como multi-ejector, o eyector de varias fases, a continuación una breve
											explicación de su comportamiento.</p>
										<br>
										<p>Al igual que los eyectores de una fase o venturi simple, también los de
											varias fases tienen una tovera convergente (Tovera Laval o Venturi) en la
											que el aire comprimido alcanza una velocidad equivalente al quíntuplo de la
											velocidad del sonido, posteriormente atraviesa la primera tovera receptora,
											de la cual detrás hay otras toveras cuyo diámetro aumenta en proporción a la
											disminución del aire.
											<br>
											De este modo el aire aspirado en la primera cámara mezclado con el aire
											comprimido proveniente de la tovera convergente, se aprovecha como chorro
											que consigue el mismo efecto de aspiración en las cámaras subsecuentes,
											detrás de la ultima tovera receptora suele haber un silenciador a través del
											cual pasa el aire antes de salir a la atmósfera.</p>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-9 col-md-8 col-sm-12">
										<p>Este principio de utilizar 3 ó mas toveras es común en todos los fabricantes
											con excepción de EDCO ya que se determino: Que a partir de la segunda tovera
											las posteriores no incrementan el desempeño de la bomba de vacío solo
											incrementan los precios de adquisición, flete.</p>
										<br>
										<p>Adicionalmente requieren un mayor espacio para su instalación. La disposición
											del puerto de alimentación de aire comprimido no es ergonómico ni amigable
											ya que sale en perpendicular a lo largo de la bomba de vacío.</p>
									</div>
									<div class="col-lg-3 col-md-4 col-sm-12">
										<img class="text-center" src="images/Productos/Vacio/bombas-clasicas.webp"
											alt="">
									</div>
								</div>
								<div class="row">
									<h2>Nuestros Equipos</h2>
									<p>Son mas compactos debido a que solo utilizamos una combinación de 2 toveras una
										llamada de alto vacío bajo flujo y bajo vacío bajo flujo. <br>

										La forma interna de nuestras toveras ó venturi permite que el aire inducido se
										expanda de una manera mas optima que los competidores ayudando a tener: tiempos
										de evacuación menores ya que aumenta el flujo de vacío, con su correspondiente
										aumento en el nivel de vacío. <br>

										El consumo de energía se reduce y el desempeño aumenta ya que nuestros equipos
										son apilables para aumento en la potencia del mismo. <br>

										Nuestros materiales son metálicos siendo el de mayor uso el Aluminio Grado
										Aeronáutico que nos distingue por ser la única compañía que lo oferta. <br>

										Adicionalmente nuestros precios y tiempo de entrega no tienen rival.</p>
								</div>
								<div class="row">
									<h3>Bombas de Vacío Serie Chip</h3>
									<div class="col-lg-4 col-md-12 col-sm-12">
										<img class="text-center"
											src="images/Productos/Vacio/bombas-de-vacio-serie-chip.webp" alt="">
									</div>
									<div class="col-lg-8 col-md-12 col-sm-12">
										<p>Las Bombas de vacío serie chip de EDCO, fueron llamadas así debido al
											desarrollo de la industria electrónica que se nombra a este concepto como
											compacto, amigable y económico, el desarrollo de esta bomba esta basado en
											un sistema multi-eyector y consta de dos etapas: alto vacío bajo flujo y
											alto flujo bajo vacío. <br>

											Estas se caracterizan por ser las de mejor desempeño en el mercado, por su
											tamaño compacto y alto flujo, y para comprobar su desempeño contamos con
											nuestro laboratorio de vacío, el cual demuestra el consumo de aire, flujo y
											nivel de vacío.
											<br>
											Con las bombas de vacío serie chip se ahorra y mejora el desempeño. La
											aplicación principalmente es como fuente de Vacío en manipulación de
											materiales en industria de empaque.
										</p>

									</div>

								</div>
								<div class="row">
									<h3>Bombas de Vacío Serie AX</h3>
									<div class="col-lg-8 col-md-12 col-sm-12">
										<p>El concepto AX significa axial dado que la definición es: circunferencias que
											tienen su eje en común. <br>

											Este tipo de bombas de vacío tienen varias versiones: <br>

											Versión M: una presión de trabajo de 50 psi lo que evita que las oscilación
											de presión afecten su desempeño. <br>

											Versión L: es una versión para superficies porosas y que proporciona un
											mayor flujo de vacío, este tipo de bombas cuentan con una amplia variedad de
											configuraciones desde la simple con sub base hasta un manifold con bombas y
											controles individuales de solenoide para generar vacío y soplado de
											separación de piezas. <br>

											Versión Z: es para que pueda realizar los diseños personalizados que
											requiera su aplicación o fabricación de equipos originales.
											<br>
											Llámenos si necesita el desarrollo de alguna aplicación o equipo a la medida
											de sus necesidades, nuestro enfoque en desarrollo de Valor Agregado de
											soluciones a la medida le dará los beneficios necesarios que requiere para
											sus aplicaciones mas exigentes.
										</p>
									</div>
									<div class="col-lg-4 col-md-12 col-sm-12">
										<img class="text-center"
											src="images/Productos/Vacio/bombas-de-vacio-serie-ax.webp" alt="">
									</div>

								</div>
								<div class="row">
									<h3>Bombas de Vacío Serie ER</h3>
									<div class="col-lg-4 col-md-12 col-sm-12">
										<img class="text-center"
											src="images/Productos/Vacio/bombas-de-vacio-serie-er.webp" alt="">
									</div>
									<div class="col-lg-8 col-md-12 col-sm-12">
										<p>En EDCO se fabrican 2 tipos de generadores de vacío de: una fase y de 2
											fases. <br>

											Nuestros competidores incluso manejan de 3 y 4 fases, los generadores de
											varias fases son muy útiles a niveles de presión baja pero no necesariamente
											consumen menos energía ya que se mide en SCFM que son pies cúbicos por
											minuto estándar, la regla de pulgar para compresores reciprocantes indica
											que por cada 4 SCFM requerirá de 1 HP de su compresor de ahí puede partir a
											realizar los gastos de Kilowatt Hora que es como se mide el consumo de
											energía y su correspondiente pago. <br>

											Por lo tanto si usted utiliza 80 Psi no necesariamente tiene un alto consumo
											de SCFM pero si su curva de comportamiento optimo para trabajar esta ligada
											a esa presión. La disminución de la misma afectara el comportamiento de la
											bomba de vacío, por lo cual una bomba de vacío de bajo requerimiento de
											presión podrá ser su mejor opción. <br>

											Pero si adicionalmente usted maneja sistemas porosos o contaminados usted
											tendrá problemas con los generadores de vacío de varias etapas llamados
											también multi-ejectores, ya que son propensos a taparse por contaminación y
											tener severos problemas de paro en la producción. <br>

											Adicionalmente este tipo de multi-etapas, en niveles de vacío superiores al
											50% reduce drásticamente el caudal por lo que es una practica común aumentar
											la presión a niveles de 80 Psi y por consiguiente el aumento en el consumo
											de SCFM, por lo que la ventaja inicial de ahorro de energía es solo teórica,
											para comprobar esto solicite una demostración de nuestro Laboratorio de
											Vacío EDCO.
										</p>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-9 col-md-12 col-sm-12">
										<p>En referencia a lo anterior se desarrollaron las bombas de vacío tipo ER que
											son de una fase llamados también venturi simple, que están constituidos por:
											<br>

											Una tovera convergente (tovera Laval ó Venturi) y una tovera receptora. <br>

											Cualquiera diría que es el mismo concepto que los competidores pero la forma
											interna de las Bombas de vacío tipo ER se diferencian por: <br>
											La expansión del aire comprimido lo que permite generar un mayor flujo de
											vacío a mayores niveles de vacío en relación a las bombas de vacío
											multi-etapa. <br>

											Adicionalmente las bombas de vacío ER son superiores en el manejo de
											contaminantes inclusive líquidos. <br>

											La presión de trabajo puede alcanzar los 60Psi obteniendo mayor nivel de
											vacío y flujo. <br>

											Además, cuenta con una gran variedad de configuraciones, controles internos
											y externos para generar o soplar en módulos compactos ideales para áreas
											reducidas o en versiones sencillas en línea, también cuenta con la forma
											clásica tipo «T».
										</p>
									</div>
									<div class="col-lg-3 col-md-12 col-sm-12">
										<img class="text-center" src="images/Productos/Vacio/bombas-ar.webp" alt="">
									</div>
								</div>
								<div class="row">
									<h3>Bombas de Vacío Serie V</h3>
									<div class="col-lg-4 col-md-12 col-sm-12">
										<img class="text-center"
											src="images/Productos/Vacio/bombas-de-vacio-serie-v.webp" alt="">
									</div>
									<div class="col-lg-8 col-md-12 col-sm-12">
										<p>Las bombas de vacío serie V están disponibles en 24 modelos en cuerpos de
											aluminio anodizado que incluyen una variedad de 12 modelos de cartucho. Con
											los cuales podrá fabricar los sistemas de módulos que mas se adapten a sus
											necesidades. <br>

											Cuenta con alta capacidad para manejar contaminantes por lo que es una
											solución fiable para sistemas porosos y manipulación en industria cerámica.
											<br>

											El diseño de flujo sin atascos de nuestras bombas de vacío serie V es
											perfectamente adecuado para el envasado y otras aplicaciones que impliquen
											fibras de papel u otros desechos que puedan ser ingeridos en el sistema de
											vacío. El silenciador de paso estrecho opcional pasa el escape directamente
											a la atmósfera después de absorber el ruido de alta frecuencia de la
											corriente de aire.
										</p>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-9 col-md-12 col-sm-12">
										<p>Muchos de nuestros competidores utilizan silenciadores de escape de plástico
											de extremo cerrado donde el escape pasa a través de un medio filtrante que
											acumula los desechos y eventualmente causa una pérdida de rendimiento de la
											bomba. <br>

											En los sistemas donde las condiciones son muy sucias, como en la
											carpintería, se debe usar un filtro de vacío para eliminar el polvo y los
											desechos, de manera que no se dispersen en el escape o sean inhalados por
											los trabajadores.
										</p>
									</div>
									<div class="col-lg-3 col-md-12 col-sm-12">
										<img class="text-center" src="images/Productos/Vacio/bombas-v.webp" alt="">
									</div>
								</div>
								<div class="row">
									<h3>Pinzas Vacío</h3>
									<div class="col-lg-3 col-md-12 col-sm-12">
										<img class="text-center" src="images/Productos/Vacio/pinzas-de-vacio.webp"
											alt="">
									</div>
									<div class="col-lg-9 col-md-12 col-sm-12">
										<p>Una pinza de vacío integra una bomba de vacío y una ventosa en una unidad
											compacta para eliminar todos los volúmenes excesivos del sistema, lo que
											minimiza el tiempo de evacuación. Cada parte funciona de forma
											independiente. Las fugas en una copa sin sellar solo pueden afectar el nivel
											de vacío de esa copa. Cualquier problema de fuga se aísla automáticamente.
											Esto le da al sistema en general la mejor oportunidad posible de operar de
											manera confiable incluso con un número reducido de ventosas activas. <br>
											Un sistema discreto de pinzas de vacío se puede dividir en varias zonas,
											cada una controlada por válvulas de suministro de aire separadas para
											permitir la operación de una o todas las zonas a medida que cambian los
											requisitos de la aplicación, esto hace que sean independientes. Todas las
											unidades discretas en una zona se encienden o apagan simultáneamente a
											través del suministro de aire comprimido. Sin embargo, cada unidad aún
											funciona independientemente en el lado del vacío.
										</p>
									</div>
								</div>








							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="call-out2">
		<div class="container">
			<div class="clearfix">
				<div class="float_left">
					<h4>¿Tiene alguna pregunta o necesita alguna consulta comercial?</h4>
				</div>
				<div class="float_right">
					<a href="contact.html" class="thm-btn bg-clr2 text-decoration-none">Solicitud De Cotización</a>
				</div>
			</div>

		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Sistemas de Resistencia de Línea Única (SRL)
					</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Los sistemas de resistencia de línea simple son sistemas de lubricación por aceite a baja presión
						que están diseñados para maquinaria ligera o media que requiere hasta 100 puntos de lubricación.
						Estos sistemas son compactos, económicos y relativamente sencillos de manejar y mantener.
						Existen dos tipos de sistemas (manual y automático) para satisfacer prácticamente cualquier
						aplicación industrial.

						Los sistemas manuales son ideales para la maquinaria que puede ser lubricada por un sistema de
						descarga de aceite accionado manualmente y alimentado de forma intermitente de forma ocasional.

						Los sistemas automáticos son ideales para la maquinaria que requiere una descarga ininterrumpida
						de aceite, ya sea de forma regular o continua. Los sistemas automáticos se accionan mediante un
						mecanismo de temporización autónomo o mediante un mecanismo de accionamiento mecánico conectado
						al equipo que se está lubricando.
					</p>
					<img src="images/Productos/LubricacionIndustrial/lubricacion-Resistencia.webp" alt="">
					<p>
						Los sistemas de resistencia de línea única son compactos, económicos y relativamente sencillos
						de manejar y mantener. El sistema es ideal para máquinas o equipos que presentan grupos de
						rodamientos estrechamente configurados.

						Se suministra una descarga de aceite controlada con precisión a cada punto mientras la máquina
						está en funcionamiento. El sistema proporciona una película limpia de aceite entre las
						superficies críticas de los rodamientos para mantener la fricción y el desgaste al mínimo. Se
						prolonga la vida útil de la maquinaria y se mantiene la eficiencia de la producción.

					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>







	<Footer />
</Layout>

<style>
	.text img {
		text-align: center;
		width: 100%;
	}

	.modal-body img {
		text-align: center;
		width: 100%;
	}

	#blog-area {
		padding-bottom: 0px;
		padding-top: 80px;
	}

	#blog-area .blog-post {}

	.blog-with-sidebar-area .blog-post .single-blog-post {
		margin-bottom: 60px;
	}

	#blog-area .single-blog-post .img-holder .published-date {
		position: absolute;
		top: 20px;
		left: 20px;
		width: 70px;
		height: 70px;
		padding: 10px 10px;
	}

	#blog-area .single-blog-post:hover .img-holder .published-date {
		left: 0;
		top: 0;
	}

	#blog-area .single-blog-post .img-holder .published-date h3 {
		font-size: 18px;
		line-height: 24px;
	}

	#blog-area .single-blog-post .text-holder .blog-title {
		font-size: 24px;
		line-height: 30px;
	}

	.blog-single-area .single-blog-post:hover .img-holder img {
		transform: none;
	}

	.blog-single-area .single-blog-post .text-holder .blog-title:hover {
		color: #222222;
	}

	.blog-single-area .middle-content-box {
		margin: 10px 0 33px;
		overflow: hidden;
	}

	.blog-single-area .middle-content-box .img-holder {
		width: 300px;
	}

	.blog-single-area .middle-content-box .img-holder,
	.blog-single-area .middle-content-box .text-box {
		display: table-cell;
		vertical-align: top;
	}

	.blog-single-area .middle-content-box .text-box {
		padding-left: 30px;
		position: relative;
	}

	.blog-single-area .middle-content-box .text-box:before {
		content: "\f10d";
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		color: #f1f1f1;
		font-size: 24px;
		padding-right: ;
		position: absolute;
		top: -3px;
		left: 30px;
	}

	.blog-single-area .middle-content-box .text-box {
		padding-left: 30px;
		padding-top: 32px;
		position: relative;
	}

	.blog-single-area .middle-content-box .text-box h3 {
		color: #222222;
		font-size: 20px;
		font-weight: 400;
		margin: 20px 0 7px;
	}

	.blog-single-area .middle-content-box .text-box h5 {
		color: #ad2727;
		font-size: 16px;
		font-weight: 300;
		margin: 0;
		font-family: 'Hind', sans-serif;
	}

	.blog-single-area .bottom-content-box {
		padding-bottom: 21px;
	}

	.blog-single-area .comment-box {
		overflow: hidden;
		padding-bottom: 50px;
		padding-top: 30px;
	}

	.blog-single-area .comment-box .sec-title {
		padding-bottom: 31px;
	}

	.blog-single-area .comment-box .sec-title h3 {
		color: #222222;
		font-size: 24px;
		font-weight: 400;
		text-transform: capitalize;
	}

	.blog-single-area .comment-box .single-comment-box {
		padding-left: 60px;
		position: relative;
		margin-bottom: 30px;
	}

	.blog-single-area .comment-box .single-comment-box .img-holder {
		left: 0;
		position: absolute;
		top: 16px;
		width: 70px;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder {
		border: 1px solid #f7f7f7;
		margin-left: 20px;
		padding: 15px 20px 5px;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder .top {
		overflow: hidden;
		padding-bottom: 8px;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder .top .date h5 {
		color: #222222;
		font-size: 16px;
		font-weight: 400;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box {
		position: relative;
		top: -3px;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box ul {
		margin-left: -0.5px;
		margin-right: -0.5px;
		overflow: hidden;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box ul li {
		display: inline-block;
		margin: 0 0.5px;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box ul li i {
		color: #ad2727;
		font-size: 14px;
	}

	.blog-single-area .add-comment-box {
		overflow: hidden;
	}

	.blog-single-area .add-comment-box .sec-title {
		padding-bottom: 30px;
	}

	.blog-single-area .add-comment-box .sec-title h3 {
		color: #222222;
		font-size: 24px;
		font-weight: 400;
		text-transform: capitalize;
	}

	.blog-single-area .add-comment-box .add-rating-box {
		padding-bottom: 17px;
	}

	.blog-single-area .add-comment-box .add-rating-box h4 {
		color: #999999;
		font-size: 14px;
		font-weight: 400;
		margin: 0 0 12px;
	}

	.blog-single-area .add-comment-box .add-rating-box ul {}

	.blog-single-area .add-comment-box .add-rating-box ul li {
		border-right: 1px solid #ebebeb;
		display: inline-block;
		line-height: 20px;
		margin-right: 6px;
		padding-right: 10px;
	}

	.blog-single-area .add-comment-box .add-rating-box ul li:last-child {
		border-right: none;
		margin-right: 0;
		padding-right: 0;
	}

	.blog-single-area .add-comment-box .add-rating-box ul li a i {
		color: #d6d6d6;
		font-size: 12px;
	}

	.blog-single-area .add-comment-box .add-rating-box ul li a:hover i {
		color: #ad2727;
		transition: all 500ms ease;
	}

	.blog-single-area .add-comment-box form {}

	.blog-single-area .add-comment-box form .field-label {
		color: #222222;
		display: block;
		font-size: 16px;
		font-weight: 400;
		padding: 0 0 2px;
	}

	.blog-single-area .add-comment-box form input[type="text"],
	.blog-single-area .add-comment-box form input[type="email"],
	.blog-single-area .add-comment-box form textarea {
		background: #fff none repeat scroll 0 0;
		border: 2px solid #f4f4f4;
		display: block;
		font-size: 14px;
		font-weight: 400;
		height: 50px;
		padding: 0 15px;
		width: 100%;
		margin-bottom: 15px;
		transition: all 500ms ease;
	}

	.blog-single-area .add-comment-box form textarea {
		height: 160px;
		padding: 10px 15px;
		margin-bottom: 30px;
	}

	.blog-single-area .add-comment-box form button {
		padding: 0;
		width: 100%;
	}

	.blog-single-area .add-comment-box form input[type="text"]:focus {
		border-color: #ad2727;
	}

	.blog-single-area .add-comment-box form input[type="email"]:focus {
		border-color: #ad2727;
	}

	.blog-single-area .add-comment-box form textarea:focus {
		border-color: #ad2727;
	}

	.blog-single-area .add-comment-box form button:hover {}













	/* Cards */
	.blog-section2 {}

	.blog-section2 .section-title {
		margin-bottom: 30px;
		border-bottom: solid #ad2727 3px;
		-webkit-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.5);
		box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.5);
	}

	.default-blog-news {
		position: relative;
		transition: .5s ease-in-out;
		margin-bottom: 50px;
	}

	.default-blog-news:hover {
		box-shadow: 0 15px 16px 0 rgba(0, 0, 0, 0.03), 0 0px 82px 0 rgba(0, 0, 0, 0.02);
		-webkit-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.5);
		box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.5);
		transition: .2s cubic-bezier(0.4, 0, 1, 1);
	}

	.default-blog-news .lower-content {
		position: relative;
		padding: 30px 20px 20px;
		border: 1px solid #f4f4f4;
		border-top: 0;
	}

	.default-blog-news .date {
		position: absolute;
		left: 0px;
		top: 30px;
		height: 64px;
		width: 64px;
		background: #ad2727;
		line-height: 20px;
		padding-top: 13px;
		z-index: 9;
		color: #fff;
		text-align: center;
	}

	.default-blog-news .lower-content .text p {
		margin-bottom: 10px;
	}

	.default-blog-news .lower-content h4 {
		color: #303030;
		font-weight: 400;
		margin-bottom: 10px;
		line-height: 26px;
	}

	.default-blog-news .lower-content h4 a {
		color: #222;
		transition: all 300ms ease;
		font-size: 18px;
	}

	.default-blog-news .lower-content h4 a:hover {
		color: #ad2727;
		transition: all 300ms ease;
	}

	.default-blog-news .lower-content .post-meta {
		color: #888;
		font-size: 16px;
		margin-bottom: 7px;
	}


	.default-blog-news .lower-content .default_link {
		text-transform: uppercase;
		color: #303030;
		transition: .5s ease;
		font-family: 'Montserrat', sans-serif;
	}

	.default-blog-news .lower-content .default_link:hover {
		transition: .5s ease;
		color: #ad2727;
	}


	.default-blog-news .img-holder {
		display: block;
		overflow: hidden;
		position: relative;
	}

	.default-blog-news .img-holder a {
		width: 100%;
	}

	.default-blog-news .img-holder img {
		transform: scale(1);
		transition: all 0.5s ease 0s;
		width: 100%;
	}

	.default-blog-news:hover .img-holder img {
		transform: scale(1.1);
	}

	.default-blog-news .overlay {
		background-color: rgba(3, 15, 27, 0.77);
		text-align: center;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		color: #fff;
		opacity: 0;
		filter: alpha(opacity=0);
		transition: all 450ms ease-out 0s;
		transform: rotateY(180deg) scale(0.5, 0.5);
	}

	.default-blog-news:hover .img-holder .overlay {
		opacity: 1;
		filter: alpha(opacity=100);
		transform: rotateY(0deg) scale(1, 1);
	}

	.default-blog-news .overlay .box {
		display: table;
		height: 100%;
		width: 100%;
	}

	.default-blog-news .overlay .box .content {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}

	.default-blog-news .img-holder .overlay .box .content a i {
		background: #ad2727;
		border-radius: 50%;
		color: #ffffff;
		display: inline-block;
		font-size: 16px;
		height: 45px;
		line-height: 48px;
		transition: all 500ms ease 0s;
		width: 45px;
	}

	.default-blog-news .img-holder .overlay .box .content a:hover i {
		background: #ad2727;
	}


	.bg-clr2 {
		background: #222;
		color: #fff;
		position: relative;
	}

	.bg-clr2:before {
		background-color: #ad2727;
		content: "";
		height: 100%;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		transform: scale(0.5, 1);
		transition: all 0.4s ease 0s;
		width: 100%;
		z-index: -1;
	}

	.bg-clr2:hover:before {
		opacity: 1;
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}

	.float_left {
		float: left;
	}

	.float_right {
		float: right;
	}

	.call-out2 {
		background: #ad2727;
		padding: 5px 0 25px;
	}

	.call-out2 .logo {
		margin-top: 23px;
	}

	.call-out2 h4 {
		color: #fff;
		margin-top: 30px;
		font-size: 20px;
	}

	.call-out2 .thm-btn {
		margin-top: 20px;
		line-height: 50px;
		padding: 0 21px;
	}

	.call-out2 .thm-btn:hover {
		color: #ad2727
	}

	.call-out2 .thm-btn.bg-clr2:before {
		background-color: #fff;
	}


	.thm-btn {
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
		position: relative;
		transition: all 0.5s ease 0s;
		cursor: pointer;
		padding: 0 30px;
		line-height: 50px;
		display: inline-block;
		text-align: center;
		z-index: 1;
	}

	.thm-btn:hover {
		color: #fff;
	}


	.thm-btn:before {
		background-color: #444;
		content: "";
		height: 100%;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		transform: scale(0.5, 1);
		transition: all 0.4s ease 0s;
		width: 100%;
		z-index: -1;
	}

	.bg-clr1 {
		background: #ad2727;
		color: #fff;
	}

	.thm-btn:hover::before {
		opacity: 1;
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}

	.bg-clr2 {
		background: #222;
		color: #fff;
		position: relative;
	}

	.bg-clr2:before {
		background-color: #ad2727;
		content: "";
		height: 100%;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		transform: scale(0.5, 1);
		transition: all 0.4s ease 0s;
		width: 100%;
		z-index: -1;
	}

	.bg-clr2:hover:before {
		opacity: 1;
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
</style>