---
import Layout from '../layouts/Layout.astro';
---

<Layout>

	<section class="breadcrumb-area"
		style="background-image: url(images/Productos/Caudalimetro/Caudalimefugas.webp);">
		<div class="container text-center">
			<h1>Caudalímetro / Detector de Fugas</h1>
		</div>
	</section>
	<!--End breadcrumb area-->

	<section id="blog-area" class="blog-with-sidebar-area blog-single-area">
		<div class="container">
			<div class="row">
				<div class="blog-post">
					<div class="single-blog-post">
						<div class="text-holder">
							<div class="text ">
								<h2>Optimización: Caudalímetro para Aire / Detector de Fugas</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

    <section class="blog-section2 sec-padd2">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<button type="button" class="btn btn-link text-decoration-none " data-bs-toggle="modal" data-bs-target="#ModalCaudalimetro">
						<div class="default-blog-news wow fadeInUp animated animated"
							style="visibility: visible; animation-name: fadeInUp;">
							<figure class="img-holder">
								<img class="object-fit-contain" src="images/Productos/Caudalimetro/CAUDALIMETRO.webp" alt="">
								<figcaption class="overlay">
									<div class="box">
										<div class="content">
											<i class="fa fa-link" aria-hidden="true"></i>
										</div>
									</div>
								</figcaption>
							</figure>
							<div class="lower-content">		
								<a class="text-decoration-none">
									<h4>Caudalimetro de aire</h4>
								</a>	
							</div>
						</div>
					</button>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<button type="button" class="btn btn-link text-decoration-none " data-bs-toggle="modal" data-bs-target="#ModalDectector">
						<div class="default-blog-news wow fadeInUp animated animated"
							style="visibility: visible; animation-name: fadeInUp;">
							<figure class="img-holder">
								<img class="object-fit-contain" src="images/Productos/Caudalimetro/DetectorFugas.jpg" alt="">
								<figcaption class="overlay">
									<div class="box">
										<div class="content">
											<i class="fa fa-link" aria-hidden="true"></i>
										</div>
									</div>
								</figcaption>
							</figure>
							<div class="lower-content">		
								<a class="text-decoration-none">
									<h4>Detector de fugas</h4>
								</a>	
							</div>
						</div>
					</button>
				</div>
				
			</div>
		</div>
	</section>



	<div class="call-out2">
		<div class="container">
			<div class="clearfix">
				<div class="float_left">
					<h4>¿Tiene alguna pregunta o necesita alguna consulta comercial?</h4>
				</div>
				<div class="float_right">
					<a href="contact.html" class="thm-btn bg-clr2 text-decoration-none">Solicitud De Cotización</a>
				</div>
			</div>

		</div>
	</div>
  
 

<!-- Modal -->
<div class="modal fade" id="ModalCaudalimetro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Caudalímetro</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
			<div class="text ">
				<div class="row">
					<h2>Caudalímetro para Aire Electrónico</h2>
					<div class="col-lg-4 col-md-4 col-sm-12">
						<img class="text-center"
							src="images/Productos/Caudalimetro/CAUDALIMETROINT.webp"
							alt="">
					</div>
					<div class="col-lg-8 col-md-8 col-sm-12">
						<p>El caudalímetro para aire electrónico  es muy fácil de usar y está
							diseñado para minimizar el consumo de aire comprimido durante las
							operaciones de soplado, secado, enfriamiento, transporte y eliminación de
							estática. Combina un sensor fotoeléctrico con control de tiempo que limita
							el consumo de aire comprimido, apagándolo cuando no detecta la presencia de
							ningún elemento.
							<br>

							El control de tiempo se ajusta fácilmente a las necesidades de la operación
							y provee flexibilidad en la distancia sensorial.
							<br>
							Para la mayoría de las empresas el compresor de aire consume más
							electricidad que cualquier otro equipo. El caudalímetro para aire ha sido
							diseñado para mejorar la eficiencia minimizando el consumo de aire
							comprimido y reduciendo así su costo. Solo enciende el aire cuando detecta
							la presencia de un elemento y provee solo la cantidad necesaria de aire para
							realizar una tarea u operación.
						</p>
					</div>
				</div>
				<div class="row">

					<div class="col-lg-6 col-md-6 col-sm-12">
						<ul id="list">
							<h4>Aplicaciones</h4>
							<li>Soplado de carrocerías.</li>
							<li>Limpieza de paquetes.</li>
							<li>Secado de piezas.</li>
							<li>Remoción de polvo.</li>
							<li>Remoción de desechos metálicos.</li>
							<li>Operaciones de llenado.</li>
							<li>Limpieza de contaminantes.</li>
							<li>Enfriamiento.</li>
							<li>Neutralización de estática.</li>
						</ul>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<ul id="list">
							<h4>Ventajas</h4>
							<li>De fácil conexión eléctrica 100-240 VAC, 50/60 Hz.</li>
							<li>Nema 4/IP66.</li>
							<li>Sensor compacto ideal para espacios estrechos.</li>
							<li>Temporizador analógico de ocho funciones para control de
								encendido/apagado, pulsación y retrasos.</li>
							<li>Temporizador configurable de 0.10 segundos a 120 horas.</li>
							<li>Sensor resistente al agua y polvo, con lecturas exactas.</li>
							<li>Sensor con inmunidad superior al ruido y a las cargas inductivas.</li>
							<li>Detección de larga distancia, hasta 1 metro.</li>
						</ul>
					</div>
				</div>



				<div class="row">
					<h2>Caudalímetro para Aire Digital</h2>
					<div class="col-lg-3 col-md-4 col-sm-12">
						<img class="text-center mt-2"
							src="images/Productos/Caudalimetro/CAUDALIMETRO.webp" alt="">
					</div>
					<div class="col-lg-9 col-md-8 col-sm-12">
						<p>¡El caudalímetro para aire digital le permite monitorear fácilmente el
							consumo y el desperdicio del aire comprimido! La pantalla digital muestra la
							cantidad exacta de aire comprimido que se usa en el cauce descendiente y al
							ayudar a identificar las costosas fugas o los productos de aire
							ineficientes, es posible ahorrar cientos de dólares al año en desperdicio de
							aire comprimido. <br>
							Muchas compañías instalan el caudalímetro para aire digital en cada soporte
							principal de su sistema de distribución de aire para monitorearlo
							constantemente y disminuir el uso del aire comprimido. 
						</p>
					</div>
				</div>
				<p>El caudalímetro para aire digital tiene una pantalla LED que indica
					directamente la velocidad del flujo de aire (SCFM o m3/hr) en la tubería a
					la que está conectado. Otros medidores de flujo de aire comprimido requieren
					que se multiplique la lectura por un factor de conversión específico para
					ser exactos. Cada medidor de flujo digital está calibrado para un tamaño de
					tubería específico a la cual está montado. Un suministro de 18 VCC se
					incluye con una entrada de 100-240 VCA y adaptadores para tomas de corriente
					en todo el mundo. <br>

					El caudalímetro para aire digital está diseñado para estar montado
					permanentemente a la tubería. Requiere que el usuario haga dos agujeros a
					través de la tubería usando la broca y la guía que se incluyen. No se
					requiere de cortado, soldado, ajustes ni calibración.</p>
				<h4>Video Caudalímetro Para Aire </h4>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/DHZ-93aa8do?si=bZz6lbwpTHIlKSmv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>



<!-- Modal -->
<div class="modal fade" id="ModalDectector" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Detector de Fugas</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
			<div class="text ">
				<h2>Detector de Fugas</h2>

				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-12">
						<img class="text-center mt-3"
							src="images/Productos/Caudalimetro/DetectorFugas2.jpg"
							alt="">
					</div>
					<div class="col-lg-8 col-md-8 col-sm-12">
						<p>Las plantas mal mantenidas pueden perder fácilmente hasta el 30% de la producción del compresor por las fugas no detectadas. El detector de fugas ultrasónico es un instrumento de mano de alta calidad que puede localizar esas costosas fugas con solo apuntar al aparato hacia el lugar donde se sospecha que hay fuga. <br>

							Cuando se detecta una fuga, el aparato emite una señal sonora que se escucha por los auriculares que vienen incluidos y el visor LED se ilumina. <br>
							
							Se pueden testear rápida y efectivamente las uniones, tuberías, válvulas y accesorios de toda una instalación a distancia de hasta 6.1 metros. <br>
							
							En algunos casos la fuga sospechada se encuentra en un área caliente y/o cercana a partes móviles. La extensión tubular y la parábola permiten probar estos lugares difíciles desde lejos para detectar perdidas
						</p>
					</div>
				</div>
				<div class="row">
					
					<div class="col-lg-6 col-md-6 col-sm-12">
						<ul id="list">
							<h4>Aplicaciones</h4>
							<li>Detecta fugas en sistemas de aire, vapor, gas no inflamable, incluyendo tuberías, uniones, conexiones, válvulas, cilindros y tanques de presión.</li>
							<li>Detecta la fuente de desgaste de cojinetes o rodamientos.</li>
							<li>Detecta arcos eléctricos.</li>
							<li>Detecta fugas en sistemas de refrigeración y aire acondicionado.</li>
							<li>Detecta fugas en sistema de frenos, tuberías, neumáticos y radiadores.</li>
							<li>Detecta grietas en correas en V de caucho en movimiento.</li>
							<li>Detecta fugas de vacío.</li>
							<li>Controla el estado de los sellos de los motores.</li>

						</ul>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<ul id="list">
							<h4>Ventajas</h4>
							<li>Detecta cualquier fuga hasta 6.1 metros de distancia.</li>
							<li>Convierte el ultrasonido en una frecuencia audible.</li>
							<li>Visor led confirma la ubicación de la fuga.</li>
							<li>Detecta fugas en ambientes industriales ruidosos.</li>
							<li>Los controles de sensibilidad proporcionan una detección precisa.</li>
							<li>No lo afectan contaminantes ni el viento.</li>
							<li>Incluye accesorios para detectar fugas en áreas difíciles.</li>
							<li>Cumple con las normas ASTM.</li>
						</ul>
					</div>
				</div>
				<h4>Video Detector de Fugas</h4>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/LJRnD9RfOW8?si=yqbs_hy1BEtQCKee" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
									
			</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>

</Layout>

<style>
	.text img {
		text-align: center;
		width: 100%;
	}
	.modal-body img{
		text-align: center;
		width: 100%;
	}

	#blog-area {
		padding-bottom:0px;
		padding-top: 80px;
	}

	#blog-area .blog-post {}

	.blog-with-sidebar-area .blog-post .single-blog-post {
		margin-bottom: 60px;
	}

	#blog-area .single-blog-post .img-holder .published-date {
		position: absolute;
		top: 20px;
		left: 20px;
		width: 70px;
		height: 70px;
		padding: 10px 10px;
	}

	#blog-area .single-blog-post:hover .img-holder .published-date {
		left: 0;
		top: 0;
	}

	#blog-area .single-blog-post .img-holder .published-date h3 {
		font-size: 18px;
		line-height: 24px;
	}

	#blog-area .single-blog-post .text-holder .blog-title {
		font-size: 24px;
		line-height: 30px;
	}

	.blog-single-area .single-blog-post:hover .img-holder img {
		transform: none;
	}

	.blog-single-area .single-blog-post .text-holder .blog-title:hover {
		color: #222222;
	}

	.blog-single-area .middle-content-box {
		margin: 10px 0 33px;
		overflow: hidden;
	}

	.blog-single-area .middle-content-box .img-holder {
		width: 300px;
	}

	.blog-single-area .middle-content-box .img-holder,
	.blog-single-area .middle-content-box .text-box {
		display: table-cell;
		vertical-align: top;
	}

	.blog-single-area .middle-content-box .text-box {
		padding-left: 30px;
		position: relative;
	}

	.blog-single-area .middle-content-box .text-box:before {
		content: "\f10d";
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		color: #f1f1f1;
		font-size: 24px;
		padding-right: ;
		position: absolute;
		top: -3px;
		left: 30px;
	}

	.blog-single-area .middle-content-box .text-box {
		padding-left: 30px;
		padding-top: 32px;
		position: relative;
	}

	.blog-single-area .middle-content-box .text-box h3 {
		color: #222222;
		font-size: 20px;
		font-weight: 400;
		margin: 20px 0 7px;
	}

	.blog-single-area .middle-content-box .text-box h5 {
		color: #ad2727;
		font-size: 16px;
		font-weight: 300;
		margin: 0;
		font-family: 'Hind', sans-serif;
	}

	.blog-single-area .bottom-content-box {
		padding-bottom: 21px;
	}

	.blog-single-area .comment-box {
		overflow: hidden;
		padding-bottom: 50px;
		padding-top: 30px;
	}

	.blog-single-area .comment-box .sec-title {
		padding-bottom: 31px;
	}

	.blog-single-area .comment-box .sec-title h3 {
		color: #222222;
		font-size: 24px;
		font-weight: 400;
		text-transform: capitalize;
	}

	.blog-single-area .comment-box .single-comment-box {
		padding-left: 60px;
		position: relative;
		margin-bottom: 30px;
	}

	.blog-single-area .comment-box .single-comment-box .img-holder {
		left: 0;
		position: absolute;
		top: 16px;
		width: 70px;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder {
		border: 1px solid #f7f7f7;
		margin-left: 20px;
		padding: 15px 20px 5px;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder .top {
		overflow: hidden;
		padding-bottom: 8px;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder .top .date h5 {
		color: #222222;
		font-size: 16px;
		font-weight: 400;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box {
		position: relative;
		top: -3px;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box ul {
		margin-left: -0.5px;
		margin-right: -0.5px;
		overflow: hidden;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box ul li {
		display: inline-block;
		margin: 0 0.5px;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box ul li i {
		color: #ad2727;
		font-size: 14px;
	}

	.blog-single-area .add-comment-box {
		overflow: hidden;
	}

	.blog-single-area .add-comment-box .sec-title {
		padding-bottom: 30px;
	}

	.blog-single-area .add-comment-box .sec-title h3 {
		color: #222222;
		font-size: 24px;
		font-weight: 400;
		text-transform: capitalize;
	}

	.blog-single-area .add-comment-box .add-rating-box {
		padding-bottom: 17px;
	}

	.blog-single-area .add-comment-box .add-rating-box h4 {
		color: #999999;
		font-size: 14px;
		font-weight: 400;
		margin: 0 0 12px;
	}

	.blog-single-area .add-comment-box .add-rating-box ul {}

	.blog-single-area .add-comment-box .add-rating-box ul li {
		border-right: 1px solid #ebebeb;
		display: inline-block;
		line-height: 20px;
		margin-right: 6px;
		padding-right: 10px;
	}

	.blog-single-area .add-comment-box .add-rating-box ul li:last-child {
		border-right: none;
		margin-right: 0;
		padding-right: 0;
	}

	.blog-single-area .add-comment-box .add-rating-box ul li a i {
		color: #d6d6d6;
		font-size: 12px;
	}

	.blog-single-area .add-comment-box .add-rating-box ul li a:hover i {
		color: #ad2727;
		transition: all 500ms ease;
	}

	.blog-single-area .add-comment-box form {}

	.blog-single-area .add-comment-box form .field-label {
		color: #222222;
		display: block;
		font-size: 16px;
		font-weight: 400;
		padding: 0 0 2px;
	}

	.blog-single-area .add-comment-box form input[type="text"],
	.blog-single-area .add-comment-box form input[type="email"],
	.blog-single-area .add-comment-box form textarea {
		background: #fff none repeat scroll 0 0;
		border: 2px solid #f4f4f4;
		display: block;
		font-size: 14px;
		font-weight: 400;
		height: 50px;
		padding: 0 15px;
		width: 100%;
		margin-bottom: 15px;
		transition: all 500ms ease;
	}

	.blog-single-area .add-comment-box form textarea {
		height: 160px;
		padding: 10px 15px;
		margin-bottom: 30px;
	}

	.blog-single-area .add-comment-box form button {
		padding: 0;
		width: 100%;
	}

	.blog-single-area .add-comment-box form input[type="text"]:focus {
		border-color: #ad2727;
	}

	.blog-single-area .add-comment-box form input[type="email"]:focus {
		border-color: #ad2727;
	}

	.blog-single-area .add-comment-box form textarea:focus {
		border-color: #ad2727;
	}

	.blog-single-area .add-comment-box form button:hover {}













	/* Cards */
	.blog-section2 {
	}

	.blog-section2 .section-title {
		margin-bottom: 30px;
		border-bottom: solid #ad2727 3px;
		-webkit-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.5);
		box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.5);
	}

	.default-blog-news {
		max-width: 500px;
		height: 400px;
		position: relative;
		transition: .5s ease-in-out;
		margin-bottom: 50px;
		border: solid 1px #ad2727 ;
	}
	.default-blog-news figure{
		height: 70%;
	}
	.default-blog-news img{
		max-height: 100%;
	}


	.default-blog-news:hover {
		box-shadow: 0 15px 16px 0 rgba(0, 0, 0, 0.03), 0 0px 82px 0 rgba(0, 0, 0, 0.02);
		-webkit-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.5);
		box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.5);
		transition: .2s cubic-bezier(0.4, 0, 1, 1);
	}

	.default-blog-news .lower-content {
		position: relative;
		padding: 30px 20px 20px;
		border: 1px solid #f4f4f4;
		border-top: 0;
	}

	.default-blog-news .date {
		position: absolute;
		left: 0px;
		top: 30px;
		height: 64px;
		width: 64px;
		background: #ad2727;
		line-height: 20px;
		padding-top: 13px;
		z-index: 9;
		color: #fff;
		text-align: center;
	}

	.default-blog-news .lower-content .text p {
		margin-bottom: 10px;
	}

	.default-blog-news .lower-content h4 {
		color: #303030;
		font-weight: 400;
		margin-bottom: 10px;
		line-height: 26px;
	}

	.default-blog-news .lower-content h4 a {
		color: #222;
		transition: all 300ms ease;
		font-size: 18px;
	}

	.default-blog-news .lower-content h4 a:hover {
		color: #ad2727;
		transition: all 300ms ease;
	}

	.default-blog-news .lower-content .post-meta {
		color: #888;
		font-size: 16px;
		margin-bottom: 7px;
	}


	.default-blog-news .lower-content .default_link {
		text-transform: uppercase;
		color: #303030;
		transition: .5s ease;
		font-family: 'Montserrat', sans-serif;
	}

	.default-blog-news .lower-content .default_link:hover {
		transition: .5s ease;
		color: #ad2727;
	}


	.default-blog-news .img-holder {
		display: block;
		overflow: hidden;
		position: relative;
	}

	.default-blog-news .img-holder a {
		width: 100%;
	}

	.default-blog-news .img-holder img {
		transform: scale(1);
		transition: all 0.5s ease 0s;
		width: 100%;
	}

	.default-blog-news:hover .img-holder img {
		transform: scale(1.1);
	}

	.default-blog-news .overlay {
		background-color: rgba(3, 15, 27, 0.77);
		text-align: center;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		color: #fff;
		opacity: 0;
		filter: alpha(opacity=0);
		transition: all 450ms ease-out 0s;
		transform: rotateY(180deg) scale(0.5, 0.5);
	}

	.default-blog-news:hover .img-holder .overlay {
		opacity: 1;
		filter: alpha(opacity=100);
		transform: rotateY(0deg) scale(1, 1);
	}

	.default-blog-news .overlay .box {
		display: table;
		height: 100%;
		width: 100%;
	}

	.default-blog-news .overlay .box .content {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}

	.default-blog-news .img-holder .overlay .box .content a i {
		background: #ad2727;
		border-radius: 50%;
		color: #ffffff;
		display: inline-block;
		font-size: 16px;
		height: 45px;
		line-height: 48px;
		transition: all 500ms ease 0s;
		width: 45px;
	}

	.default-blog-news .img-holder .overlay .box .content a:hover i {
		background: #ad2727;
	}


	.bg-clr2{
  background: #222;
  color: #fff;
  position: relative;
}
.bg-clr2:before {
  background-color: #ad2727;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0.5, 1);
  transition: all 0.4s ease 0s;
  width: 100%;
  z-index: -1;
}
.bg-clr2:hover:before{
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);    
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}

.call-out2 {
  background: #ad2727;
  padding: 5px 0 25px;
}
.call-out2 .logo {
  margin-top: 23px;
}
.call-out2 h4 {
  color: #fff;
  margin-top: 30px;
  font-size: 20px;
}
.call-out2 .thm-btn {
  margin-top: 20px;
  line-height: 50px;
  padding: 0 21px;
}
.call-out2 .thm-btn:hover {
  color: #ad2727
}

.call-out2 .thm-btn.bg-clr2:before {
  background-color: #fff;
}


.thm-btn {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  transition: all 0.5s ease 0s;
  cursor: pointer;
  padding: 0 30px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  z-index: 1;
}

.thm-btn:hover{
  color: #fff;
}


.thm-btn:before {
  background-color: #444;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0.5, 1);
  transition: all 0.4s ease 0s;
  width: 100%;
  z-index: -1;
}
.bg-clr1{
  background: #ad2727;  
  color: #fff;
}
.thm-btn:hover::before{
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.bg-clr2{
  background: #222;
  color: #fff;
  position: relative;
}
.bg-clr2:before {
  background-color: #ad2727;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0.5, 1);
  transition: all 0.4s ease 0s;
  width: 100%;
  z-index: -1;
}
.bg-clr2:hover:before{
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);    
}



</style>