---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Header />


	<section class="breadcrumb-area"
		style="background-image: url(images/Productos/LubricacionIndustrial/lubricacion-automatica-portada.webp);">
		<div class="container text-center">
			<h1>Lubricación Centralizada</h1>
		</div>
	</section>
	<!--End breadcrumb area-->

	<section id="blog-area" class="blog-with-sidebar-area blog-single-area text">
		<div class="container">
			<div class="row">

				<div class="blog-post">
					<div class="single-blog-post">
						<div class="text-holder">
							<div class="text ">
								<p>Mantener la maquinaria correctamente lubricada es una parte importante de cualquier
									programa de lubricación. Si no se administra el lubricante a intervalos correctos y
									con la cantidad adecuada, una máquina puede sufrir costosas averías. Los sistemas de
									lubricación automática centralizada son una herramienta común utilizada en la
									industria para distribuir una cantidad precisa de lubricante a lugares específicos
									en momentos concretos mediante el uso de temporizadores programables, bombas de
									lubricante e inyectores de lubricante.</p>

								<div class="row">
									<div class="col-lg-4 col-md-4 col-sm-12">
										<img class="text-center"
											src="images/Productos/LubricacionIndustrial/lubricacion-automatica-i.webp"
											alt="">
									</div>
									<div class="col-lg-8 col-md-8 col-sm-12">
										<p>La lubricación centralizada puede suministrar grasa o aceite a un punto de
											lubricación. El funcionamiento básico de un sistema centralizado incluye lo
											siguiente: <br />

											El controlador del sistema y los inyectores están preconfigurados para
											suministrar una cantidad específica de lubricante en un intervalo
											específico. Para suministrar el lubricante, el controlador activa la bomba
											de lubricante a través de un solenoide de aire. Esto genera presión en los
											conductos, lo que hace que la grasa salga de los inyectores. El sistema
											incorpora un presostato para desactivar la bomba una vez que se ha
											completado la inyección de lubricante. En el último paso de este proceso, el
											sistema dirige el lubricante que queda en las líneas de vuelta al depósito
											mediante la ventilación.</p>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6 col-md-12 col-sm-12">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<h3>Aplicaciones de los Sistemas de Lubricación Automática</h3>
										</div>
										<div class="col-lg-12 col-md-12 col-sm-12">
											<p>Los sistemas de lubricación automática son bastante útil y se puede aplicar
												en:</p>
											<ul class="list list-i">
												<li class=""><i class="bi bi-tree-fill me-2"></i> Agricultura.</li>
												<li class=""><i class="bi bi-car-front me-2"></i> Industria Automotriz.</li>
												<li class=""><i class="bi bi-buildings me-2"></i> Cemento.</li>
												<li class=""><i class="bi bi-cup-straw me-2"></i> Alimentación y bebidas.</li>
												<li class=""><i class="bi bi-gear-wide-connected me-2"></i> Rociadores de engranajes.</li>
												<li class=""><i class="bi bi-tools me-2"></i>Máquina y herramienta.</li>
												<li class=""><i class="bi bi-minecart-loaded me-2"></i> Minería.</li>
												<li class=""><i class="bi bi-fuel-pump me-2"></i>Petróleo y gas.</li>
												<li class=""><i class="bi bi-droplet-half me-2"></i>Aguas residuales.</li>
												<li class=""><i class="bi bi-fan me-2"></i> Energía eólica.</li>
												<li class=""><i class="bi bi-three-dots me-2"></i> Y muchos más</li>
											</ul>
										</div>

									</div>
									<div class="col-lg-6 col-md-12 col-sm-12">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<h3>Beneficios de los Sistemas de Lubricación Automática</h3>
										</div>
										<div class="col-lg-12 col-md-12 col-sm-12">
											<ul  class="mt-5 list-group list-group-flush" id="list">
												<li class="list-group-item d-flex justify-content-start align-items-center" >Tecnología probada con un suministro fiable de lubricante a cada punto
													mientras el equipo está en funcionamiento.
													
												</li>
				
													<li class="list-group-item d-flex justify-content-start align-items-center">Mejora el rendimiento y el tiempo de funcionamiento al ganar más tiempo
													de operación por día y gastar menos tiempo en el mantenimiento.
												</li>
													<li class="list-group-item d-flex justify-content-start align-items-center">Maximizar la vida útil del equipo y ayudar a evitar paradas imprevistas
													del equipo, reparaciones costosas y tiempos de inactividad no
													programados.
												</li>
												<li class="list-group-item d-flex justify-content-start align-items-center">Proteger los equipos críticos con sistemas de supervisión avanzados que
													alertan de los problemas antes de que se produzcan los fallos.
												</li>
												<li class="list-group-item d-flex justify-content-start align-items-center">Crear un entorno de trabajo más seguro para el personal de
													mantenimiento.
													
												</li>
												<li class="list-group-item d-flex justify-content-start align-items-center">Eliminar los errores y la falta de frecuencia que conlleva la aplicación
													manual de grasa.
													
												</li>
												<li class="list-group-item d-flex justify-content-start align-items-center">Sistemas construidos para soportar entornos difíciles.
													
												</li>
												<li class="list-group-item d-flex justify-content-start align-items-center">Amigable con el medio ambiente al reducir el consumo de aceite y los
													residuos de grasa.
													
												</li>
												<li class="list-group-item d-flex justify-content-start align-items-center">Adecuados para muchas aplicaciones.
													
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="blog-section2 sec-padd2">
		<div class="container">
			<div class="section-title">
				<h2>Tipos de Sistemas de Lubricación Automática</h2>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">

					<button type="button" class="btn btn-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalSRL">
						<div class="default-blog-news wow fadeInUp animated animated"
							style="visibility: visible; animation-name: fadeInUp;">
							<figure class="img-holder">
								<img src="images/Productos/LubricacionIndustrial/lubricacion-Resistencia.webp" alt="News">
								<figcaption class="overlay">
									<div class="box">
										<div class="content">
											<i class="fa fa-link" aria-hidden="true"></i>
										</div>
									</div>
								</figcaption>
							</figure>
							<div class="lower-content">		
								<a class="text-decoration-none" href="/LubricacionDobleLinea">
									<h4>Sistemas de Resistencia de Línea Única (SRL)</h4>
								</a>	
							</div>
						</div>
					</button>

				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<button type="button" class="btn btn-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalDobleLinea">
						<div class="default-blog-news wow fadeInUp animated animated"
							style="visibility: visible; animation-name: fadeInUp;">
							<figure class="img-holder">
								<img src="images/Productos/LubricacionIndustrial/lubricacion-Resistencia2.webp" alt="News">
								<figcaption class="overlay">
									<div class="box">
										<div class="content">
											<i class="fa fa-link" aria-hidden="true"></i>
										</div>
									</div>
								</figcaption>
							</figure>
							<div class="lower-content">		
								<a class="text-decoration-none" href="/LubricacionDobleLinea">
									<h4>Sistema de Lubricación Doble Línea</h4>
								</a>	
							</div>
						</div>
					</button>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<button type="button" class="btn btn-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalProgresiva">
						<div class="default-blog-news wow fadeInUp animated animated"
							style="visibility: visible; animation-name: fadeInUp;">
							<figure class="img-holder">
								<img src="images/Productos/LubricacionIndustrial/lubricacion-automatica-3.jpg" alt="News">
								<figcaption class="overlay">
									<div class="box">
										<div class="content">
											<i class="fa fa-link" aria-hidden="true"></i>
										</div>
									</div>
								</figcaption>
							</figure>
							<div class="lower-content">		
								<a class="text-decoration-none">
									<h4>Sistema de Lubricación Progresiva</h4>
								</a>	
							</div>
						</div>
					</button>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<button type="button" class="btn btn-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalAireAceite">
						<div class="default-blog-news wow fadeInUp animated animated"
							style="visibility: visible; animation-name: fadeInUp;">
							<figure class="img-holder">
								<img src="images/Productos/LubricacionIndustrial/oilStreak.jpg" alt="News">
								<figcaption class="overlay">
									<div class="box">
										<div class="content">
											<i class="fa fa-link" aria-hidden="true"></i>
										</div>
									</div>
								</figcaption>
							</figure>
							<div class="lower-content">		
								<a class="text-decoration-none">
									<h4>Sistema de Lubricación Aire-Aceite</h4>
								</a>	
							</div>
						</div>
					</button>
				</div>


				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<button type="button" class="btn btn-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalPulverizacion">
						<div class="default-blog-news wow fadeInUp animated animated"
							style="visibility: visible; animation-name: fadeInUp;">
							<figure class="img-holder">
								<img class="mt-5" src="images/Productos/LubricacionIndustrial/lubricacion-automatica-5.jpg" alt="News">
								<figcaption class="overlay">
									<div class="box">
										<div class="content">
											<i class="fa fa-link" aria-hidden="true"></i>
										</div>
									</div>
								</figcaption>
							</figure>
							<div class="lower-content">		
								<a class="text-decoration-none">
									<h4>Sistema de Lubricación por Pulverización</h4>
								</a>	
							</div>
						</div>
					</button>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<button type="button" class="btn btn-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalCirculacionAire">
						<div class="default-blog-news wow fadeInUp animated animated"
							style="visibility: visible; animation-name: fadeInUp;">
							<figure class="img-holder">
								<img src="images/Productos/LubricacionIndustrial/lubricacion-automatica-6.webp" alt="News">
								<figcaption class="overlay">
									<div class="box">
										<div class="content">
											<i class="fa fa-link" aria-hidden="true"></i>
										</div>
									</div>
								</figcaption>
							</figure>
							<div class="lower-content">		
								<a class="text-decoration-none">
									<h4>Sistema Circulación de Aceite</h4>
								</a>	
							</div>
						</div>
					</button>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<button type="button" class="btn btn-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalDesplazamientoPositivo">
						<div class="default-blog-news wow fadeInUp animated animated"
							style="visibility: visible; animation-name: fadeInUp;">
							<figure class="img-holder">
								<img class="mt-5 " src="images/Productos/LubricacionIndustrial/lubricacion-automatica-7.jpg" alt="News">
								<figcaption class="overlay">
									<div class="box">
										<div class="content">
											<i class="fa fa-link" aria-hidden="true"></i>
										</div>
									</div>
								</figcaption>
							</figure>
							<div class="lower-content">		
								<a class="text-decoration-none">
									<h4>Sistemas de Inyectores de Desplazamiento Positivo</h4>
								</a>	
							</div>
						</div>
					</button>
				</div>
				
			</div>
		</div>
	</section>
	<div class="call-out2">
		<div class="container">
			<div class="clearfix">
				<div class="float_left">
					<h4>¿Tiene alguna pregunta o necesita alguna consulta comercial?</h4>
				</div>
				<div class="float_right">
					<a href="contact.html" class="thm-btn bg-clr2 text-decoration-none">Solicitud De Cotización</a>
				</div>
			</div>

		</div>
	</div>
  
  <!-- Modal -->
  <div class="modal fade" id="ModalSRL" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="exampleModalLabel">Sistemas de Resistencia de Línea Única (SRL)</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
		  	<div class="text">
				<div class="row">
					<div class="col-lg-5">
						<img class= src="images/Productos/LubricacionIndustrial/lubricacion-Resistencia.webp" alt="">	
					</div>	
					<div class="col-lg-7">
						<p>Los sistemas de resistencia de línea simple son sistemas de lubricación por aceite a baja presión que están diseñados para maquinaria ligera o media que requiere hasta 100 puntos de lubricación. Estos sistemas son compactos, económicos y relativamente sencillos de manejar y mantener. Existen dos tipos de sistemas (manual y automático) para satisfacer prácticamente cualquier aplicación industrial.

							Los sistemas manuales son ideales para la maquinaria que puede ser lubricada por un sistema de descarga de aceite accionado manualmente y alimentado de forma intermitente de forma ocasional.
							
							Los sistemas automáticos son ideales para la maquinaria que requiere una descarga ininterrumpida de aceite, ya sea de forma regular o continua. Los sistemas automáticos se accionan mediante un mecanismo de temporización autónomo o mediante un mecanismo de accionamiento mecánico conectado al equipo que se está lubricando.
							</p>
							
					</div>	
				</div>
				<p>
					Los sistemas de resistencia de línea única son compactos, económicos y relativamente sencillos de manejar y mantener. El sistema es ideal para máquinas o equipos que presentan grupos de rodamientos estrechamente configurados.
	
					Se suministra una descarga de aceite controlada con precisión a cada punto mientras la máquina está en funcionamiento. El sistema proporciona una película limpia de aceite entre las superficies críticas de los rodamientos para mantener la fricción y el desgaste al mínimo. Se prolonga la vida útil de la maquinaria y se mantiene la eficiencia de la producción.
					
				</p>
			</div>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  
		</div>
	  </div>
	</div>
  </div>


   <div class="modal fade" id="ModalDobleLinea" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="exampleModalLabel">Sistema de Lubricación Doble Línea</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<div class="text">
				<p class="fw-bold">Los sistemas de lubricación automática doble línea se encuentran en prácticamente todos los sectores en los que se requiere un funcionamiento continuo. Desde la producción de acero hasta la de pulpa y papel, desde los equipos de minería hasta las máquinas herramienta, la aplicación automática del lubricante proporciona importantes beneficios al usuario del equipo.</p>
				<p>
					Hay varios componentes que se utilizan en el diseño de un sistema de lubricación automática doble línea, incluyendo válvulas, lubricadores, válvulas de inversión, estaciones centrales, controladores y sistemas de pulverización.
					</p>
					<h3>VÁLVULAS</h3>
					<p>Las válvulas de medición son el corazón de los sistemas de lubricación automática doble línea. Se montan cerca de los puntos de lubricación y se accionan hidráulicamente mediante la presión de la primera y la segunda de las dos líneas de suministro. En cada ciclo de presurización, descargan indirectamente volúmenes fijos de lubricante al rodamiento o al punto de lubricación.</p>
					<h3>LUBRICADORES</h3>
					<p>Los lubricadores manuales, eléctricos y neumáticos almacenan y bombean lubricante a las válvulas doble línea en todo el sistema.</p>
					<h3>VÁLVULAS INVERSORAS</h3>
					<p>Estas válvulas cambian el flujo y la dirección de la presión, lo que hace que las válvulas divisoras del sistema realicen un ciclo.</p>
					<h3>ESTACIONES CENTRALES</h3>
					<p>Las estaciones centrales incluyen el lubricador, el interruptor de ciclo y la válvula de inversión. Algunas versiones están montadas en una placa para facilitar la instalación.</p>
					<h3>CONTROLADORES</h3>
					<p>Los controladores programables le dan acceso a las funciones clave del sistema, como el encendido y apagado del mismo, y pueden controlar lo que ocurre cuando hay un problema en el sistema.</p>
					<h3>SISTEMAS DE PULVERIZACIÓN</h3>
					<p>Se utilizan para lubricar grandes engranajes y conjuntos de piñones.</p>
					<div class="row">
						<div class="col-lg-4 col-md-12">
							<img src="images/Productos/LubricacionIndustrial/lubricacion-Resistencia2.webp" alt="">
						</div>
						<div class="col-lg-8 col-md-12">
							<h3>Ventajas</h3>
					<ul id="list">
						<li>Económico para un sistema con más de 20 puntos de rodamiento.</li>
						<li>Los puntos de lubricación pueden añadirse fácilmente sin necesidad de rediseñar todo el sistema.</li>
						<li>Una obstrucción entre la línea de alimentación y el rodamiento no parará el sistema; los rodamientos restantes seguirán siendo lubricados.</li>
						<li>Indicadores de lubricación positiva para cada punto de rodamiento.</li>
						<li>Capacidad para desplazar positivamente una amplia gama de lubricantes, desde aceite ligero hasta grasa de grado 2.</li>
						<li>El volumen de descarga de lubricación en cada rodamiento es totalmente ajustable, incluso después de la puesta en marcha.</li>
					</ul>
						</div>
					</div>      
			</div>

		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  
		</div>
	  </div>
	</div>
  </div>

  <div class="modal fade" id="ModalProgresiva" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="exampleModalLabel">Sistema de Lubricación Progresiva</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<div class="text">
				<p>Los sistemas de lubricación progresiva se emplean generalmente en maquinaria y equipos de uso medio. Las robustas bombas están conectadas a válvulas divisoras, algunas de las cuales son modulares, lo que permite una fácil instalación, modificación y mantenimiento, sin necesidad de retirar ninguna tubería.</p>
				<p>
					Los colectores de válvulas divisoras progresivas de las series M2500G, 3000 y PVBM distribuyen y dosifican el aceite o la grasa entrante a los puntos de apoyo. Un colector de válvulas divisoras típico consta de una sección de entrada, de tres a diez válvulas y una sección final. Un conjunto puede servir hasta un máximo de 20 puntos de lubricación. Los bloques de válvulas divisoras individuales tienen un pistón de descarga y válvulas de retención de salida incorporadas. Los bloques se ofrecen en varios tamaños de salida. La capacidad de descarga de un bloque se determina variando el diámetro del pistón en el bloque de válvulas.
					</p>
					<p>Los bloques de válvulas dobles tienen dos salidas situadas en cada extremo del conjunto y suministran una descarga nominal desde cada una de las dos salidas durante un ciclo completo de la válvula. Los bloques de una salida tienen una salida final tapada y suministran el doble de la salida nominal a la salida abierta. Se puede conseguir una conexión cruzada externa de las válvulas adyacentes con un kit de conexión cruzada para combinar las salidas.</p>
				
					<div class="row">
						<div class="col-lg-4 col-md-12">
							<img src="images/Productos/LubricacionIndustrial/lubricacion-automatica-3.jpg" alt="">
						</div>
						<div class="col-lg-8 col-md-12">
							<p>Los bloques de válvulas individuales funcionan en una secuencia «progresiva». Durante el funcionamiento, el pistón dentro del bloque debe completar un ciclo completo de descarga antes de que otro pistón comience a funcionar. Mientras se suministre lubricante a presión a la sección de entrada del divisor, los bloques de válvulas del distribuidor continuarán operando de forma progresiva.
							</p>
							<p>Cuando se interrumpe el flujo de lubricante al bloque de entrada, el movimiento del pistón se detiene. Cuando el flujo se reanuda, el movimiento del pistón comienza en el mismo punto del ciclo de descarga. Las líneas de alimentación llevan el lubricante desde el bloque de válvulas a los puntos de lubricación individuales. Si se bloquea una línea de descarga, se detendrá el funcionamiento de todas las válvulas. Se dispone de indicadores para alertar de un bloqueo.</p>
						</div>
					</div>      
					
			</div>

		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  
		</div>
	  </div>
	</div>
  </div>


  <div class="modal fade" id="ModalAireAceite" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="exampleModalLabel">Sistemas de Lubricación Automática Aire-Aceite</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<div class="text">
				<p>Los sistemas de lubricación automática aire/aceite proporcionan una lubricación y refrigeración de alta eficacia para los husillos de alta velocidad y otras superficies que requieren un suministro de aceite preciso. Este tipo de sistema elimina la deriva residual y las peligrosas «niebla de aceite» y «neblina de aceite» durante el funcionamiento.</p>
				<p>
					El sistema utiliza un inyector de desplazamiento positivo de diseño especial con salidas de aceite con un nivel de tolerancia muy ajustado, de hasta 0,01 cc/ciclo. Esto permite descargar volúmenes exactos de aceite en una válvula de mezcla de aire para controlar los flujos de aire y aceite a través de un tubo de plástico transparente hasta los puntos críticos de los rodamientos.
				</p>
					<div class="row">
						<div class="col-lg-4 col-md-12">
							<img src="images/Productos/LubricacionIndustrial/oilStreak.jpg" alt="">
						</div>
						<div class="col-lg-8 col-md-12">
							<h3>Beneficios</h3>
								<ul id="list">
									<li>Rápido retorno de la inversión.</li>
									<li>Aumento de la productividad.</li>
									<li>Instalación sencilla.</li>
									<li>Control preciso de las temperaturas del lubricante, del aire y del funcionamiento.</li>
									<li>Prolongación de la vida útil de los rodamientos y del husillo.</li>
									<li>Respetuoso con el medio ambiente, sin problemas de niebla.</li>
								</ul>
						</div>
					</div>      
			</div>

		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
  </div>

  <div class="modal fade" id="ModalPulverizacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="exampleModalLabel">Sistema de Lubricación por Pulverización</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<div class="text">
				<p>Mediante la utilización de sistemas de lubricación por pulverización, se pueden aplicar selectivamente cantidades dosificadas de lubricante en las superficies de fricción de los componentes (por ejemplo, las caras de los dientes de los engranajes), con el fin de garantizar una lubricación fiable. La frecuencia de la lubricación se basa en la aplicación a intervalos predefinidos.</p>
				<p>En la mayoría de los casos, los intervalos de lubricación son diferentes para los periodos de rodaje y el funcionamiento continuo; especialmente para los engranajes de alta resistencia. El acoplamiento de controles electrónicos fácilmente programables con los diversos componentes mecánicos del sistema de lubricación automática por pulverización satisface estos requisitos. A estos tipos de sistemas los denominamos «sistemas de lubricación por impulsos».</p>
				<p>Lo ideal sería rociar continuamente las superficies de fricción con una cantidad medida de lubricante adaptada a todas las condiciones de funcionamiento, especialmente en el caso de los engranajes pesados.</p>
					<div class="row">
						<div class="col-lg-7 col-md-12">
							<img class="mt-5" src="images/Productos/LubricacionIndustrial/lubricacion-automatica-5.jpg" alt="">
						</div>
						<div class="col-lg-5 col-md-12">
							
							<p>Sin embargo, esto no es posible debido a las limitaciones de la secuencia mecánica dentro del sistema de lubricación por pulverización. Además, el consumo constante de aire comprimido, necesario para afectar a la distribución del lubricante a través de las boquillas de pulverización, aumentaría considerablemente los costes de funcionamiento diarios, lo que lo haría prohibitivo.</p>
							<p>Sin embargo, durante años se ha demostrado que los sistemas de lubricación por pulsos funcionan con éxito en estas aplicaciones sin necesidad de considerar ningún compromiso.</p>
							   
						</div>
					</div>      
			</div>

		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
  </div>




  <div class="modal fade" id="ModalCirculacionAire" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="exampleModalLabel">Sistemas de Lubricación Automática Aire-Aceite</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<div class="text">
				<p>Los sistemas de lubricación automática de circulación de aceite junto con los distribuidores progresivos ZP-alimentan a un centenar de puntos de lubricación, sucesivamente, con una pequeña fija cantidad de aceite, incluso contra la alta presión.</p>
				<p>
					El proceso de lubricación para todos los puntos de lubricación conectados se repite mientras la bomba suministre aceite a los distribuidores lubricantes. El aceite sale corriendo desde los puntos de lubricación y es conducido de nuevo al depósito de aceite y se entra en circulación de nuevo.
				</p>
					<div class="row">
						<div class="col-lg-4 col-md-12">
							<img src="images/Productos/LubricacionIndustrial/lubricacion-automatica-6.webp" alt="">
						</div>
						<div class="col-lg-8 col-md-12">
							<h3>Ventajas</h3>
								<ul id="list">
									<li>Medición exacta de cada punto de lubricación.</li>
									<li>Lubricación fiable incluso en los puntos de lubricación con altas presiones contrarias, así como los puntos de lubricación a larga distancia.</li>
									<li>Bajo costo de inversión, pequeñas secciones de tubería.</li>
									<li>Breves tiempos de pausa.</li>
									<li>Fácil monitoreo de funcionamiento.</li>
									<li>Diseño compacto de los distribuidores.</li>
								</ul>
						</div>
					</div>      
			</div>

		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
  </div>

  <div class="modal fade" id="ModalDesplazamientoPositivo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="exampleModalLabel">Sistemas de Inyectores de Desplazamiento Positivo</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<div class="text">
				
					<div class="row">
						<div class="col-lg-6 col-md-12">
							<img src="images/Productos/LubricacionIndustrial/lubricacion-automatica-7.jpg" alt="">
						</div>
						<div class="col-lg-6">
							<p>Los sistemas de inyectores de desplazamiento positivo son para sistemas de lubricación de aceite o grasa de baja o media presión. Estos sistemas son precisos en su entrega de lubricación, y algunos modelos son ajustables, por lo que un solo colector de inyectores puede ser utilizado para entregar diferentes cantidades de aceite o grasa a diferentes puntos de fricción.</p>
				<p>Los inyectores se activan y desactivan alternativamente a intervalos regulares. El aceite y la grasa fluida salen de los inyectores cuando el sistema alcanza la presión operativa.
				</p>
			 </div>
					</div>      
			</div>

		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
  </div>

 
  <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="exampleModalLabel">Sistemas de Lubricación Automática Aire-Aceite</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			

		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
  </div>









	<Footer />
</Layout>

<style>
	#list{ 
            background: white; 
        } 
  
    
    #list li{ 
        list-style: none; 
    } 

  
    #list li::before{ 
        content: "\00BB"; 
		font-size: 30px; 
		margin-right: 5px;
		color: #ad2727
    } 
	.list li {
		list-style-type: none;
		height: 3rem;
	}


	.list-i i{
		color: #ad2727
	}
	.bg-color{
		background-color: #ad2727;
	}

	.text img {
		text-align: center;
		width: 100%;
	}
	.modal-body img{
		text-align: center;
		width: 100%;
	}

	#blog-area {
		padding-bottom:0px;
		padding-top: 80px;
	}

	#blog-area .blog-post {}

	.blog-with-sidebar-area .blog-post .single-blog-post {
		margin-bottom: 60px;
	}

	#blog-area .single-blog-post .img-holder .published-date {
		position: absolute;
		top: 20px;
		left: 20px;
		width: 70px;
		height: 70px;
		padding: 10px 10px;
	}

	#blog-area .single-blog-post:hover .img-holder .published-date {
		left: 0;
		top: 0;
	}

	#blog-area .single-blog-post .img-holder .published-date h3 {
		font-size: 18px;
		line-height: 24px;
	}

	#blog-area .single-blog-post .text-holder .blog-title {
		font-size: 24px;
		line-height: 30px;
	}

	.blog-single-area .single-blog-post:hover .img-holder img {
		transform: none;
	}

	.blog-single-area .single-blog-post .text-holder .blog-title:hover {
		color: #222222;
	}

	.blog-single-area .middle-content-box {
		margin: 10px 0 33px;
		overflow: hidden;
	}

	.blog-single-area .middle-content-box .img-holder {
		width: 300px;
	}

	.blog-single-area .middle-content-box .img-holder,
	.blog-single-area .middle-content-box .text-box {
		display: table-cell;
		vertical-align: top;
	}

	.blog-single-area .middle-content-box .text-box {
		padding-left: 30px;
		position: relative;
	}

	.blog-single-area .middle-content-box .text-box:before {
		content: "\f10d";
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		color: #f1f1f1;
		font-size: 24px;
		padding-right: ;
		position: absolute;
		top: -3px;
		left: 30px;
	}

	.blog-single-area .middle-content-box .text-box {
		padding-left: 30px;
		padding-top: 32px;
		position: relative;
	}

	.blog-single-area .middle-content-box .text-box h3 {
		color: #222222;
		font-size: 20px;
		font-weight: 400;
		margin: 20px 0 7px;
	}

	.blog-single-area .middle-content-box .text-box h5 {
		color: #ad2727;
		font-size: 16px;
		font-weight: 300;
		margin: 0;
		font-family: 'Hind', sans-serif;
	}

	.blog-single-area .bottom-content-box {
		padding-bottom: 21px;
	}

	.blog-single-area .comment-box {
		overflow: hidden;
		padding-bottom: 50px;
		padding-top: 30px;
	}

	.blog-single-area .comment-box .sec-title {
		padding-bottom: 31px;
	}

	.blog-single-area .comment-box .sec-title h3 {
		color: #222222;
		font-size: 24px;
		font-weight: 400;
		text-transform: capitalize;
	}

	.blog-single-area .comment-box .single-comment-box {
		padding-left: 60px;
		position: relative;
		margin-bottom: 30px;
	}

	.blog-single-area .comment-box .single-comment-box .img-holder {
		left: 0;
		position: absolute;
		top: 16px;
		width: 70px;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder {
		border: 1px solid #f7f7f7;
		margin-left: 20px;
		padding: 15px 20px 5px;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder .top {
		overflow: hidden;
		padding-bottom: 8px;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder .top .date h5 {
		color: #222222;
		font-size: 16px;
		font-weight: 400;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box {
		position: relative;
		top: -3px;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box ul {
		margin-left: -0.5px;
		margin-right: -0.5px;
		overflow: hidden;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box ul li {
		display: inline-block;
		margin: 0 0.5px;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box ul li i {
		color: #ad2727;
		font-size: 14px;
	}

	.blog-single-area .add-comment-box {
		overflow: hidden;
	}

	.blog-single-area .add-comment-box .sec-title {
		padding-bottom: 30px;
	}

	.blog-single-area .add-comment-box .sec-title h3 {
		color: #222222;
		font-size: 24px;
		font-weight: 400;
		text-transform: capitalize;
	}

	.blog-single-area .add-comment-box .add-rating-box {
		padding-bottom: 17px;
	}

	.blog-single-area .add-comment-box .add-rating-box h4 {
		color: #999999;
		font-size: 14px;
		font-weight: 400;
		margin: 0 0 12px;
	}

	.blog-single-area .add-comment-box .add-rating-box ul {}

	.blog-single-area .add-comment-box .add-rating-box ul li {
		border-right: 1px solid #ebebeb;
		display: inline-block;
		line-height: 20px;
		margin-right: 6px;
		padding-right: 10px;
	}

	.blog-single-area .add-comment-box .add-rating-box ul li:last-child {
		border-right: none;
		margin-right: 0;
		padding-right: 0;
	}

	.blog-single-area .add-comment-box .add-rating-box ul li a i {
		color: #d6d6d6;
		font-size: 12px;
	}

	.blog-single-area .add-comment-box .add-rating-box ul li a:hover i {
		color: #ad2727;
		transition: all 500ms ease;
	}

	.blog-single-area .add-comment-box form {}

	.blog-single-area .add-comment-box form .field-label {
		color: #222222;
		display: block;
		font-size: 16px;
		font-weight: 400;
		padding: 0 0 2px;
	}

	.blog-single-area .add-comment-box form input[type="text"],
	.blog-single-area .add-comment-box form input[type="email"],
	.blog-single-area .add-comment-box form textarea {
		background: #fff none repeat scroll 0 0;
		border: 2px solid #f4f4f4;
		display: block;
		font-size: 14px;
		font-weight: 400;
		height: 50px;
		padding: 0 15px;
		width: 100%;
		margin-bottom: 15px;
		transition: all 500ms ease;
	}

	.blog-single-area .add-comment-box form textarea {
		height: 160px;
		padding: 10px 15px;
		margin-bottom: 30px;
	}

	.blog-single-area .add-comment-box form button {
		padding: 0;
		width: 100%;
	}

	.blog-single-area .add-comment-box form input[type="text"]:focus {
		border-color: #ad2727;
	}

	.blog-single-area .add-comment-box form input[type="email"]:focus {
		border-color: #ad2727;
	}

	.blog-single-area .add-comment-box form textarea:focus {
		border-color: #ad2727;
	}

	.blog-single-area .add-comment-box form button:hover {}













	/* Cards */
	.blog-section2 {
	}

	.blog-section2 .section-title {
		margin-bottom: 30px;
		border-bottom: solid #ad2727 3px;
		-webkit-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.5);
		box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.5);
	}

	.default-blog-news {
		max-width: 300px;
		height: 400px;
		position: relative;
		transition: .5s ease-in-out;
		margin-bottom: 50px;
		border: solid 1px #ad2727 ;
	}
	.default-blog-news figure{
		height: 50%;
	}

	.default-blog-news:hover {
		box-shadow: 0 15px 16px 0 rgba(0, 0, 0, 0.03), 0 0px 82px 0 rgba(0, 0, 0, 0.02);
		-webkit-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.5);
		box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.5);
		transition: .2s cubic-bezier(0.4, 0, 1, 1);
	}

	.default-blog-news .lower-content {
		position: relative;
		padding: 30px 20px 20px;
		border: 1px solid #f4f4f4;
		border-top: 0;
	}

	.default-blog-news .date {
		position: absolute;
		left: 0px;
		top: 30px;
		height: 64px;
		width: 64px;
		background: #ad2727;
		line-height: 20px;
		padding-top: 13px;
		z-index: 9;
		color: #fff;
		text-align: center;
	}

	.default-blog-news .lower-content .text p {
		margin-bottom: 10px;
	}

	.default-blog-news .lower-content h4 {
		color: #303030;
		font-weight: 400;
		margin-bottom: 10px;
		line-height: 26px;
	}

	.default-blog-news .lower-content h4 a {
		color: #222;
		transition: all 300ms ease;
		font-size: 18px;
	}

	.default-blog-news .lower-content h4 a:hover {
		color: #ad2727;
		transition: all 300ms ease;
	}

	.default-blog-news .lower-content .post-meta {
		color: #888;
		font-size: 16px;
		margin-bottom: 7px;
	}


	.default-blog-news .lower-content .default_link {
		text-transform: uppercase;
		color: #303030;
		transition: .5s ease;
		font-family: 'Montserrat', sans-serif;
	}

	.default-blog-news .lower-content .default_link:hover {
		transition: .5s ease;
		color: #ad2727;
	}


	.default-blog-news .img-holder {
		display: block;
		overflow: hidden;
		position: relative;
	}

	.default-blog-news .img-holder a {
		width: 100%;
	}

	.default-blog-news .img-holder img {
		transform: scale(1);
		transition: all 0.5s ease 0s;
		width: 100%;
	}

	.default-blog-news:hover .img-holder img {
		transform: scale(1.1);
	}

	.default-blog-news .overlay {
		background-color: rgba(3, 15, 27, 0.77);
		text-align: center;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		color: #fff;
		opacity: 0;
		filter: alpha(opacity=0);
		transition: all 450ms ease-out 0s;
		transform: rotateY(180deg) scale(0.5, 0.5);
	}

	.default-blog-news:hover .img-holder .overlay {
		opacity: 1;
		filter: alpha(opacity=100);
		transform: rotateY(0deg) scale(1, 1);
	}

	.default-blog-news .overlay .box {
		display: table;
		height: 100%;
		width: 100%;
	}

	.default-blog-news .overlay .box .content {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}

	.default-blog-news .img-holder .overlay .box .content a i {
		background: #ad2727;
		border-radius: 50%;
		color: #ffffff;
		display: inline-block;
		font-size: 16px;
		height: 45px;
		line-height: 48px;
		transition: all 500ms ease 0s;
		width: 45px;
	}

	.default-blog-news .img-holder .overlay .box .content a:hover i {
		background: #ad2727;
	}


	.bg-clr2{
  background: #222;
  color: #fff;
  position: relative;
}
.bg-clr2:before {
  background-color: #ad2727;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0.5, 1);
  transition: all 0.4s ease 0s;
  width: 100%;
  z-index: -1;
}
.bg-clr2:hover:before{
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);    
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}

.call-out2 {
  background: #ad2727;
  padding: 5px 0 25px;
}
.call-out2 .logo {
  margin-top: 23px;
}
.call-out2 h4 {
  color: #fff;
  margin-top: 30px;
  font-size: 20px;
}
.call-out2 .thm-btn {
  margin-top: 20px;
  line-height: 50px;
  padding: 0 21px;
}
.call-out2 .thm-btn:hover {
  color: #ad2727
}

.call-out2 .thm-btn.bg-clr2:before {
  background-color: #fff;
}


.thm-btn {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  transition: all 0.5s ease 0s;
  cursor: pointer;
  padding: 0 30px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  z-index: 1;
}

.thm-btn:hover{
  color: #fff;
}


.thm-btn:before {
  background-color: #444;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0.5, 1);
  transition: all 0.4s ease 0s;
  width: 100%;
  z-index: -1;
}
.bg-clr1{
  background: #ad2727;  
  color: #fff;
}
.thm-btn:hover::before{
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.bg-clr2{
  background: #222;
  color: #fff;
  position: relative;
}
.bg-clr2:before {
  background-color: #ad2727;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0.5, 1);
  transition: all 0.4s ease 0s;
  width: 100%;
  z-index: -1;
}
.bg-clr2:hover:before{
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);    
}

.text{
	font-family: 'Hind', sans-serif;
    font-size: 1.3rem;
    color: #848484;
    line-height: 26px;
    font-weight: 300;
}
.text h4,h3{
	color: #ad2727;
	margin-top: 1rem;

}

#lista3 {
    counter-reset: li; 
    list-style: none; 
    *list-style: decimal; 
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#lista3 ol {
    margin: 0 0 0 2em; 
}

#lista3 li{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;   
}

#lista3 li:hover{
    background: #eee;
}   

#lista3 li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #fa8072;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

#lista3 li:after{
    position: absolute; 
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;               
}

#lista3 li:hover:after{
    left: -.5em;
    border-left-color: #fa8072;             
}

</style>