---
import Layout from '../layouts/Layout.astro';
---

<Layout>

	<section class="breadcrumb-area"
		style="background-image: url(images/Productos/Accesorios/medidores-de-flujo-portada.webp);">
		<div class="container text-center">
			<h1>INSTRUMENTACIÓN MONITOREO Y CALIDAD DE AIRE</h1>
		</div>
	</section>
	<!--End breadcrumb area-->

	<section class="blog-section2 sec-padd2 mt-3">
		<div class="container">
			<div class="section-title">
				<h2>MEDIDORES DE FLUJO</h2>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<button type="button" class="btn btn-link text-decoration-none butt" data-bs-toggle="modal" data-bs-target="#ModalS401">
						<div class="default-blog-news wow fadeInUp animated animated"
							style="visibility: visible; animation-name: fadeInUp;">
							<figure class="img-holder">
								<img class="object-fit-contain"  src="images/Productos/Medidores/s401.webp" alt="News">
								<figcaption class="overlay">
									<div class="box">
										<div class="content">
											<i class="bi bi-arrows-angle-expand"></i>
										</div>
									</div>
								</figcaption>
							</figure>
							<div class="lower-content">			
									<h4>Medidor S401/421</h4>
							</div>
						</div>
					</button>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<button type="button" class="btn btn-link text-decoration-none butt" data-bs-toggle="modal" data-bs-target="#ModalS415">
						<div class="default-blog-news wow fadeInUp animated animated"
							style="visibility: visible; animation-name: fadeInUp;">
							<figure class="img-holder">
								<img class="object-fit-contain"  src="images/Productos/Medidores/medidores-de-flujo-s415-418.webp" alt="News">
								<figcaption class="overlay">
									<div class="box">
										<div class="content">
											<i class="bi bi-arrows-angle-expand"></i>
										</div>
									</div>
								</figcaption>
							</figure>
							<div class="lower-content">			
									<h4>Medidor S415/418</h4>
							</div>
						</div>
					</button>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<button type="button" class="btn btn-link text-decoration-none butt" data-bs-toggle="modal" data-bs-target="#ModalS450">
						<div class="default-blog-news wow fadeInUp animated animated"
							style="visibility: visible; animation-name: fadeInUp;">
							<figure class="img-holder">
								<img class="object-fit-contain"  src="images/Productos/Medidores/s450.webp" alt="News">
								<figcaption class="overlay">
									<div class="box">
										<div class="content">
											<i class="bi bi-arrows-angle-expand"></i>
										</div>
									</div>
								</figcaption>
							</figure>
							<div class="lower-content">			
									<h4>Medidor S450/452</h4>
							</div>
						</div>
					</button>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<button type="button" class="btn btn-link text-decoration-none butt" data-bs-toggle="modal" data-bs-target="#ModalS430">
						<div class="default-blog-news wow fadeInUp animated animated"
							style="visibility: visible; animation-name: fadeInUp;">
							<figure class="img-holder">
								<img class="object-fit-contain"  src="images/Productos/Medidores/s430.webp" alt="News">
								<figcaption class="overlay">
									<div class="box">
										<div class="content">
											<i class="bi bi-arrows-angle-expand"></i>
										</div>
									</div>
								</figcaption>
							</figure>
							<div class="lower-content">			
									<h4>Medidor S430</h4>
							</div>
						</div>
					</button>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<button type="button" class="btn btn-link text-decoration-none butt" data-bs-toggle="modal" data-bs-target="#ModalS460">
						<div class="default-blog-news wow fadeInUp animated animated"
							style="visibility: visible; animation-name: fadeInUp;">
							<figure class="img-holder">
								<img class="object-fit-contain"  src="images/Productos/Medidores/s460.webp" alt="News">
								<figcaption class="overlay">
									<div class="box">
										<div class="content">
											<i class="bi bi-arrows-angle-expand"></i>
										</div>
									</div>
								</figcaption>
							</figure>
							<div class="lower-content">			
									<h4>Medidor S460</h4>
							</div>
						</div>
					</button>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<button type="button" class="btn btn-link text-decoration-none butt" data-bs-toggle="modal" data-bs-target="#ModalS409">
						<div class="default-blog-news wow fadeInUp animated animated"
							style="visibility: visible; animation-name: fadeInUp;">
							<figure class="img-holder">
								<img class="object-fit-contain"  src="images/Productos/Medidores/s409.webp" alt="News">
								<figcaption class="overlay">
									<div class="box">
										<div class="content">
											<i class="bi bi-arrows-angle-expand"></i>
										</div>
									</div>
								</figcaption>
							</figure>
							<div class="lower-content">			
									<h4>Medidor S409</h4>
							</div>
						</div>
					</button>
				</div>
				
			</div>
		</div>
	</section>
	<div class="call-out2">
		<div class="container">
			<div class="clearfix">
				<div class="float_left">
					<h4>¿Tiene alguna pregunta o necesita alguna consulta comercial?</h4>
				</div>
				<div class="float_right">
					<a href="contact.html" class="thm-btn bg-clr2 text-decoration-none">Solicitud De Cotización</a>
				</div>
			</div>

		</div>
	</div>
  
  <!-- Modal -->
  <div class="modal fade" id="ModalS401" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="exampleModalLabel">Medidores de Flujo S 401/421</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<div class="text ">
                                
				<div class="row">
					<h3>Medidores de Flujo S 401/421</h3>
					<div class="col-lg-9 col-md-12 col-sm-12">
						<h3>Características Medidores de Flujo S 401/421</h3>
							<ul id="list">
								<li>Mediciones estándar: flujo, consumo y temperatura.</li>
								<li>Flujo de masa térmica, independiente de la presión y cambios de temperatura.</li>
								<li>Carcasa IP65 que proporciona protección en entornos industriales difíciles.</li>
								<li>Respuesta Rápida.</li>
								<li>Alta exactitud y rangos amplios de medición.</li>
								<li>Señales de salida de pulsos y mA aisladas o Interfaz RTU Modbus.</li>
								<li>Selección de tipo de Gas.</li>
								<li>Aplicación para celulares y tablet’s para configuraciones inalámbrica del sensor.</li>
								<li>El sensor puede ser calibrado en dos diferentes gases.</li>
								<li>Energía eólica.</li>
								<li>Y muchos más</li>
							</ul>
					</div>
					<div class="col-lg-3 col-md-12">
						<img class="object-fit-contain w-75"  src="images/Productos/Medidores/s401.webp" alt="">
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-lg-4 col-md-12">
						<img src="images/Productos/Medidores/s421instalacion.webp" alt="">

					</div>
					<div class="col-lg-8 col-md-12 col-sm-12">
							<h3>Características Medidores de Flujo S421</h3>
		
							<ul id="list">
								<li>Disponible para tamaños de tubería: DN125, DN20, DN32,DN40, DN50, DN65,DN80.</li>
								<li>Disponible para procesos de conexión: R Thread, Flange En 1092-1, ANSI/B16.5.</li>
								<li>Unidad de sensor intercambiable.</li>
							</ul>
							
					</div>
				</div>
				<div class="row">
					<div class="col-lg-8 col-md-12">
						<h3>Display & Software</h3>
						<p>Las versiones de medidores de flujo S 401/421, cuentan con un pantalla para visualizar valores en tiempo real, también se pueden configurar características del sensor.</p>	
					</div>
					<div class="col-lg-4 col-md-12">
						<img class="mt-4" src="images/Productos/Medidores/display.webp" alt="">
						
					</div>
				</div>


				<div class="row align-items-center">
					<div class="col-lg-3 col-md-12 col-sm-12">
						<img src="images/Productos/Medidores/app-e1585587155891.webp" alt="">
					</div>
					<div class="col-lg-9 col-md-12 col-sm-12">
						<p>También se puede acceder a los ajustes del sensor por la aplicación S4C-FS (Solamente S 401), la aplicación corre para dispositivos móviles con sistema operativo Android con Bluetooth, mediante el escaneo del código QR en el certificado de calibración.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 table-responsive">
						<table class="table mt-4  ">
						  <thead>
							<tr>
							  <th class="bg-danger text-white" scope="col">Pulgadas</th>
							  <th class="bg-danger text-white" scope="col">DN</th>
							  <th class="bg-danger text-white" scope="col">Di (mm)</th>
							  <th class="bg-danger text-white" scope="col">S 401-S <br> (m3/h) </th>
							  <th class="bg-danger text-white" scope="col">S 401-M <br> (m3/h)</th>
							  <th class="bg-danger text-white" scope="col">S 401-H <br> (m3/h)</th>
							</tr>
						  </thead>
						  <tbody>
							<tr>
							  <td>1”</td>
							  <td>DN25</td>
							  <td>27.3</td>
							  <td>0.5 … 147.7</td>
							  <td>0.6 … 294.7</td>
							  <td>0.6 … 356.9</td>
							</tr>
							<tr>
								<td>1¼”</td>
								<td>DN32</td>
								<td>36.0</td>
								<td>0.9 … 266.3</td>
								<td>1.2 … 531.5</td>
								<td>1.2 … 643.5</td>
							</tr>
							<tr>
								<td>1½”</td>
								<td>DN40</td>
								<td>41.9</td>
								<td>1.2 … 366.7</td>
								<td>1.5 … 731.9</td>
								<td>1.5 … 886.2</td>
							</tr>
							<tr>
								<td>2”</td>
								<td>DN50</td>
								<td>53.1</td>
								<td>2.0 … 600.1</td>
								<td>2.5 … 1197.6	</td>
								<td>3.0 … 1450.0</td>
							</tr>
							<tr>
								<td>2½”</td>
								<td>DN65</td>
								<td>68.9</td>
								<td>3.5 … 1026.5</td>
								<td>5.0 … 2048.6</td>
								<td>5.0 … 2480.4</td>
							</tr>
							<tr>
								<td>3”</td>
								<td>DN80</td>
								<td>80.9</td>
								<td>5.0 … 1424.4</td>
								<td>7.0 … 2842.7</td>
								<td>7.0 … 3441.9</td>
							</tr>
							<tr>
								<td>4”</td>
								<td>DN100</td>
								<td>100.0</td>
								<td>10 … 2183.3</td>
								<td>12 … 4357.2</td>
								<td>12.0 … 5275.7</td>
							</tr>
							<tr>
								<td>5”</td>
								<td>DN125</td>
								<td>125.0</td>
								<td>13 … 3419.6</td>
								<td>18 … 6824.4</td>
								<td>18.0 … 8263.1</td>
							</tr>
							<tr>
								<td>6”</td>
								<td>DN150</td>
								<td>150.0</td>
								<td>18 … 4930.1</td>
								<td>25 … 9838.9</td>
								<td>25.0 … 11913.1</td>
							</tr>
							<tr>
								<td>8”</td>
								<td>DN200</td>
								<td>200.0</td>
								<td>26 … 8785.6</td>
								<td>33 … 17533.3</td>
								<td>42.0 … 21229.5</td>
							</tr>
							<tr>
								<td>10”</td>
								<td>DN250</td>
								<td>250.0</td>
								<td>40 … 13743.9</td>
								<td>52 … 27428.5</td>
								<td>60.0 … 33210.7</td>
							</tr>
							<tr>
								<td>12”</td>
								<td>DN300</td>
								<td>300.0</td>
								<td>60 … 19814.8</td>
								<td>80 … 39544.1</td>
								<td>100.0 … 47880.4</td>
							</tr>
						  </tbody>
						</table>
					  </div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						
							<h3>Información Técnica</h3>
						
						
							<ul id="list">
								<li>Precisión: 1,5% lectura + 0.3 completo, Opcional 1%.</li>
								<li>Repetibilidad: 0.25%.</li>
								<li>Rango de Muestreo: >10 muestras/seg.</li>
								<li>Condiciones de Referencia: Se puede Configurar por el usuario.</li>
								<li>Temperatura de Operación: -30°C …. +140°C temperatura del fluido, -30°C a +70°C Carcasa, -10°C a +50°C Carcasa con Display.</li>
								<li>Presión de Operación: S401: 0.50Mpa (>1.6MPa necesita instalación).</li>
								<li>Salida Análoga: Señal: 4 a 20 mA, Escalada: aislada 0… max, Carga Máxima: Flujo 250 R.</li>
								<li>Salida de Pulsos: Señal: Interruptor de salida aislado, normalmente abierto, VDC Máximo 30 Vdc, 20mA, Escalada: 1 pulso por unidad de consumo.</li>
								<li>Modus RTU: Aislada RS-485 con RTU Modbus.</li>
								<li>Alimentación eléctrica: 15… 30 VDC/200mA.</li>
								<li>Protocolo Wetted Material: Acero Inoxidable 1.4404 (SUS316L).</li>
							</ul>
					
						
					</div>
					
				</div>
			</div>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  
		</div>
	  </div>
	</div>
  </div>







  <!-- Modal -->
  <div class="modal fade" id="ModalS415" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="exampleModalLabel">Medidores de Flujo S 415/418</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<div class="text ">
				<div class="row align-items-center">
					<div class="col-lg-4 col-md-12 col-sm-12">
						<img src="images/Productos/Medidores/medidores-de-flujo-s415-418.webp" alt="">
					</div>
					<div class="col-lg-8 col-md-12 col-sm-12">
						<p>Los medidores de flujo másico térmico S 415 y S 418 ofrecen mediciones de flujo y consumo de gas directamente en punto de uso. En otras palabra, estas unidades permiten mejoras la eficiencia de un sistema energético, mientras ayudan a reducir el uso de aire comprimido y los costos operativos. Ambas versiones vienen con una aplicación de Servicio Wireless para ayudar al usuario en revisiones rápidas y lecturas de los medidores de flujo además de su configuración.
							El S415 es ideal para trabajar en procesos generales donde se requiere un monitoreo amplio y de bajo costo, mientras que el S418 es ideal para ubicaciones remotas o de alta precisión con data logger incorporado y opcional de detección de presión.
							</p>
					</div>
				</div>		
				<div class="row">
					
					<div class="col-lg-12 col-md-12 col-sm-12">
							<h3>Características Medidores de Flujo S 415/418</h3>
							<ul id="list">
								<li>Mediciones de Flujo Térmico de Masa, independiente de la presión y temperatura.</li>
								<li>Eco Versión S 415, Pro versión S 419.</li>
								<li>Servicio de App para Configuración de Sensor.</li>
								<li>Precisión de 1.5%.o. RDG (S 418) y 3% .o RDG(S415).</li>
								<li>Opciones de Salida:  Análoga 4 a 20 mA, Digital Modbus (Protocolo de Comunicación Estándar Europeo).</li>
								<li>Instalación Simple, no requiere tubería recta.</li>
								<li>Mide el flujo completo, sin derivación bypass.</li>
								<li>Display Led de 4 Dígitos.</li>
								<li>Disponible en DN8, DN15, DN20, DN25 conexión G Roscado Interno.</li>
								<li>S418  Standard Integrado con Data Logger.</li>
								<li>Medidas de Presión Opcionales solo disponible para S418.</li>
							</ul>
					

					</div>
				
				</div>
				<div class="row d-flex justify-content-center">
				
					<div class="col-lg-8 col-md-12 table-responsive">
						<table class="table mt-4  ">
						  <thead>
							<tr>
							  <th class="bg-danger text-white" scope="col">Datos Técnicos</th>
							  <th  scope="col">S 415</th>
							  <th  scope="col">S 418</th>
							  
							</tr>
						  </thead>
						  <tbody>
							<tr>
							  <td class="bg-danger text-white">Rango de Medición</td>
							  <td>Ver tabla</td>
							  <td>Ver tabla</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Precisión</td>
								<td>3% de lectura</td>
								<td>1.5% de Lectura</td>
					
							</tr>
							<tr>
								<td class="bg-danger text-white">Relación de Rechazo</td>
								<td>50:1</td>
								<td>100:1</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Rango de Presión</td>
								<td>0 … 1.0MPa</td>
								<td>0…1.0MPa</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Alimentación</td>
								<td>18 …30 VDC/120mA</td>
								<td>18 …30 VDC/120mA</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Mediciones Gas</td>
								<td>Aire,N2</td>
								<td>Gases no Corrosivos, hasta dos gases calibrados</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Condiciones Ambiente</td>
								<td>0°C… 50°C</td>
								<td>0°C… 50°C</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Transporte Temperatura</td>
								<td>-30°C…+70°C</td>
								<td>-30°C…+70°C</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Tiempo de Respuesta</td>
								<td>T_90=1sec</td>
								<td>T_90=1sec</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Señal de Salida</td>
								<td>4…20 mA <br> RS-485 (Modbus RTU) </td>
								<td>4…20 mA <br> RS-485 (Modbus RTU)</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Interfaz</td>
								<td>Wireless por servicios de App o USB para logger (S418 únicamente)</td>
							</tr>
						  </tbody>
						</table>
					  </div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<h3>Información de S418</h3>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12">
							<table class="table mt-4  ">
								<thead>
								  <tr>
									<th scope="col"></th>
									<th class="bg-danger text-white" scope="col">Tamaño:</th>
									<th class="bg-danger text-white" scope="col">10,000,000 Muestras</th>
									
								  </tr>
								</thead>
								<tbody>
								  <tr>
									<td class="bg-danger text-white">Dato</td>
									<td>Canales: <br>Rango de Muestreo:</td>
									<td> Hasta 3 canales<br> 1 sec…1h</td>
								  </tr>
								  <tr>
									  <td class="bg-danger text-white" >Opción de Presión</td>
									  <td>Rango: <br> Precisión:</td>
									  <td>0…1Mpa <br> 1% F.S.</td>
						  
								  </tr>
								</tbody>
							  </table>
						</div>
						
					</div>
					
				</div>
			</div>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  
		</div>
	  </div>
	</div>
  </div>



  <!-- Modal -->
  <div class="modal fade" id="ModalS450" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="exampleModalLabel">Medidores de Flujo Heavy Duty S 450/452</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<div class="text ">
				
					<p>Los medidores de flujo S 450 se basan en el principio de masa térmica. Miden el flujo volumétrico estándar en un amplio rango de medición. El resultado es independiente de la presión y la temperatura.
						El S 450 esta diseñado específicamente para entornos hostiles. La carcasa IP67 permite aplicaciones para todo clima. Todas las partes que entran en contacto con el medio de medición están hechas de acero inoxidable 316L. Esto permite aplicaciones en la industria farmacéutica y alimentaria, pero también la medición de gases corrosivos y contaminados.
						Las instalaciones se pueden realizar a través de la aprobación opcional ATEX. Se pueden medir varios gases como: aire, Oxigeno, Argón, Dióxido de Carbono, Gas Natural, Hidrogeno, Metano, etc. Básicamente, cualquier mezcla de gases se puede medir siempre que la relación de mezcla y sus componentes sean conocidos y constantes.
						</p>             
				<div class="row align-items-center">
					
					<div class="col-lg-9 col-md-12 col-sm-12">
							<h3>Características Medidores de Flujo S 450/452</h3>
							<ul id="list">
								<li>Medición directa de flujo másico y flujo estándar sin necesidad de compensación de presión.</li>
								<li>Se admite una amplia gama de tamaños de tubería con el tipo de inserción para diámetros de tubería grandes y los tipos en línea para diámetros de tubería pequeños.</li>
								<li>Sin partes móviles, sin obstrucciones.</li>
								<li>Todas las partes que entran en contacto con el medio de medición están hechas de acero inoxidable 316L.</li>
								<li>Carcasa robusta de metal ideal para aplicaciones al aire libre para entornos hostiles.</li>
								<li>Interfaz inalámbrica para la configuración del sensor.</li>
								<li>Pantalla que muestra los caudales, el consumo, la temperatura y los resultados de diagnostico.</li>
								<li>Dos salidas Análogas (4 a 20mA) y 1 salida de pulsos.</li>
								<li>Opciones disponibles: Interfaz de bus Hart Modbus; Aprobaciones: ATEX: II 2G Ex d IIC T4,IECEx  approval,   GB Ex approval; Medida bidireccional; Acondicionamiento de Flujo.</li>
							</ul>
					</div>
					<div class="col-lg-3 col-md-12">
						<img src="images/Productos/Medidores/s450.webp" alt="">
					</div>
				</div>
				<div class="row">
				
					<div class="col-lg-12 col-md-12 table-responsive">
						<table class="table mt-4  ">
						  <thead>
							<tr>
							  <th class="bg-danger text-white" scope="col">Pulgadas</th>
							  <th class="bg-danger text-white" scope="col">DN</th>
							  <th class="bg-danger text-white" scope="col">S-Range (m3/h)</th>
							  <th class="bg-danger text-white" scope="col">M-Range (m3/h)</th>
							  <th class="bg-danger text-white" scope="col">HS-Range (m3/h)</th>
							</tr>
						  </thead>
						  <tbody>
							<tr>
							  <td>½”</td>
							  <td>DN15</td>
							  <td>0.2 … 45.6</td>
							  <td>0.4 … 91.0</td>
							  <td>0.48 … 110.16</td>
							</tr>
							<tr>
								<td>¾”</td>
								<td>DN20</td>
								<td>0.4 … 89.1</td>
								<td>0.9 … 177.8</td>
								<td>1.09 … 215.3</td>
							</tr>
							<tr>
								<td>1”</td>
								<td>DN25</td>
								<td>0.6 … 147.7</td>
								<td>1.2 … 294.7</td>
								<td>1.82 … 356.85</td>
							</tr>
							<tr>
								<td>1½”</td>
								<td>DN40</td>
								<td>1.5 … 366.7</td>
								<td>2.9 … 731.9</td>
								<td>4.36 … 886.18</td>
							</tr>
							<tr>
								<td>2”</td>
								<td>DN50</td>
								<td>2.4 … 600</td>
								<td>4.8 … 1198</td>
								<td>7.26 … 1450.04</td>
							</tr>
							<tr>
								<td>2½”</td>
								<td>DN65</td>
								<td>4.1 … 1027</td>
								<td>8.2 … 2049</td>
								<td>12.1 … 2480.44</td>
							</tr>
							<tr>
								<td>3”</td>
								<td>DN80</td>
								<td>5.7 … 1424</td>
								<td>11.4 … 2841</td>
								<td>16.94 … 3441.91</td>
							</tr>
							<tr>
								<td>4”</td>
								<td>DN100</td>
								<td>8.7 … 2183</td>
								<td>17.4 … 4357</td>
								<td>24.2 … 5275.71</td>
							</tr>

							<tr>
								<td>5”</td>
								<td>DN125</td>
								<td>20 … 3419.6</td>
								<td>38 … 6824.4</td>
								<td>45.9 … 8263.09</td>
							</tr>
							<tr>
								<td>6”</td>
								<td>DN150</td>
								<td>20 … 4930</td>
								<td>39 … 9839</td>
								<td>70.18 … 11913.10</td>
							</tr>
							<tr>
								<td>8”</td>
								<td>DN200</td>
								<td>35 … 8786</td>
								<td>70 … 17533</td>
								<td>106.48 … 21229.51</td>
							</tr>
							<tr>
								<td>10”</td>
								<td>DN250</td>
								<td>55 … 13744</td>
								<td>110 … 27429</td>
								<td>165.77 … 33210.69</td>
							</tr>
							<tr>
								<td>12”</td>
								<td>DN300</td>
								<td>79 … 19815</td>
								<td>158 … 39544</td>
								<td>239.58 … 47880.39</td>
							</tr>
						  </tbody>
						</table>
					  </div>
				</div>
			
			</div>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  
		</div>
	  </div>
	</div>
  </div>


  
  <!-- Modal -->
  <div class="modal fade" id="ModalS430" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="exampleModalLabel">Medidores de Flujo S 430</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<div class="text ">
					<p>El S 430 se basa en el principio del tubo de Pitot para medir el flujo. Instalado correctamente el sensor puede medir en gases húmedos y sucios como ocurre, por ejemplo, en la descarga de un compresor. Por lo tanto las características del Sensor le dan una Alta estabilidad y durabilidad, en aire comprimido y gases no corrosivos.
						El elemento puede ser instalado con una válvula de bola mientras el sistema esta presurizado. A demás cuenta con una gran variedad de señales de salida para lograr conectarlo a cualquier modulo de lectura y adquisición, así como otra marca de PLCs.
						</p>
				<div class="row align-items-center">
					
					<div class="col-lg-9 col-md-12 col-sm-12">

							<h3>Características Medidores de Flujo S 430</h3>
							<ul id="list">
								<li>Medición de Flujo (Caudal) y consumo para gases húmedos o con altas densidades.</li>
								<li>Medición a la salida del compresor.</li>
								<li>Diámetros de tubo de 1″ a 10″ a través de la instalación central, diámetros mayores a través de la instalación no central.</li>
								<li>Aplicaciones de Alta temperatura hasta 200°C.</li>
								<li>Tipo inserción, para fácil instalación bajo presión a través de una válvula de bola.</li>
								<li>Sin piezas de desgaste mecánico.</li>
								<li>Todas las partes que están en contacto con el medio (Gas) están hechas de acero inoxidable.</li>
								<li>Compresor-FAD-Medición.</li>
								<li> Medición de flujo másico de vapor y consumo.</li>
							</ul>
					</div>
					<div class="col-lg-3 col-md-12">
						<img src="images/Productos/Medidores/s430.webp" alt="">
					</div>
				</div>
				<div class="row d-flex justify-content-center">
				
					<div class="col-lg-9 col-md-12 table-responsive">
						<table class="table mt-4  ">
						  <thead>
							<tr>
							  <th class="bg-danger text-white text-center" colspan="2" scope="col">Ficha Técnica</th>
							  
							</tr>
						  </thead>
						  <tbody>
							<tr>
							  <td class="bg-danger text-white">Flujo</td>
							  <td>Ver Tabla De  Rangos Volumetricos</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Rango de Presión</td>
								<td>0 — 1.6 Mpa</td>
					
							</tr>
							<tr>
								<td class="bg-danger text-white">Rangos de Temperatura</td>
								<td>-40°C … +200°C</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Precisión</td>
								<td>Caudal:  ±(1.5%+0.3% full scale) <br>
									Presión: 0.5% F.S. <br>
									
									Temperatura: 0.5°C</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Condiciones de Referencia</td>
								<td>Programable, <br>
									Por defecto P= 1000hPa (a), T=20°C</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Medio</td>
								<td>Aire humedo y Seco, Gase No Corrosivos, Vapor</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Salida</td>
								<td>SDI (Especificaciones Solo de esta Marca) <br>
									4…20mA y Pulso <br>
									
									(Opcional) Modbus RTU</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Temperatura Medio</td>
								<td>-40°C … 230°C</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Temperatura Ambiente</td>
								<td>-20°C…+60°C</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Fuente de Alimentación</td>
								<td>24 VDC, 150 mA</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Opciones de Pantalla</td>
								<td>Display Gráfico 2.4” con botones</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Proceso de Conexión</td>
								<td>¾” tipo G (ISO 228-1)</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Material del Sensor</td>
								<td>Acero Inoxidable 1.4404 (SUS 316L)</td>
							</tr>
						  </tbody>
						</table>
					  </div>
				</div>
			
			</div>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  
		</div>
	  </div>
	</div>
  </div>


  
  <!-- Modal -->
  <div class="modal fade" id="ModalS460" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="exampleModalLabel">Medidores de Flujo S 460</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<div class="text ">
				
					<p>Los medidores de flujo S 460 utilizan la técnica probada de correlación de tiempo de tránsito con abrazadera. Así que transductores ultrasónicos simplemente se sujetan al exterior de la tubería y nunca entran en contacto con el fluido. Los transductores están conectados a un controlador que está disponible en versión portátil. Los modelos estacionarios se pueden conectar a la serie S 330/331 de pantallas y registradores de datos donde el modelo portátil se puede conectar al S 551.</p>
		
				<div class="row align-items-center">
					
					<div class="col-lg-9 col-md-12 col-sm-12">
							<h3>Características Medidores de Flujo S 460</h3>
							<p>Medición de flujos y consumo de líquidos como:</p>
							<ul id="list">
								<li>Adición química.</li>
								<li>Agua de refrigeración y calefacción.</li>
								<li>Agua potable.</li>
								<li>Amplia gama de hidrocarburos refinados.</li>
								<li>Agua para el consumo humano.</li>
								<li>Agua desionizada y desmineralizada.</li>
								<li>Mediciones de caudal sanitario.</li>
								<li>Agua purificada.</li>
							</ul>
					</div>
					<div class="col-lg-3 col-md-12">
						<img src="images/Productos/Medidores/s460.webp" alt="">
					</div>
				</div>
				<div class="row d-flex justify-content-center">
				
					<div class="col-lg-9 col-md-12 table-responsive">
						<table class="table mt-4  ">
						  <thead>
							<tr>
							  <th class="bg-danger text-white text-center" colspan="2" scope="col">Ficha Técnica</th>
							  
							</tr>
						  </thead>
						  <tbody>
							<tr>
							  <td class="bg-danger text-white">Velocidad</td>
							  <td>0.03…20</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Repetibilidad</td>
								<td>0.2%</td>
					
							</tr>
							<tr>
								<td class="bg-danger text-white">Precisión</td>
								<td>±1%</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Sensor Temperatura</td>
								<td>PT100 3 Cable</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Salida</td>
								<td>4 … 20 mA</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Comunicación</td>
								<td>Modbus RTU, Modbus ASCII</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Tamaños de Tubos</td>
								<td>32…6000mm <br>
									Depende del Tipo del Transductor, diámetro Interno</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Rangos de Temperatura <br>
									Controller Transducer</td>
								<td>-30°C … +80°C <br>
									-30°C …+90°C (Estándar) <br>
									
									-30°C …+160°C (Temperaturas Altas)</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Unidades Físicas</td>
								<td>Selecionable</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Fuente de Alimentación</td>
								<td>24 VDC/1.5W (S 460 -W) <br>
									230 VAC o 24 VDC (S 460-&lt;W ) </td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Dimensiones</td>
								<td>Versión Pared: 190x155x85 <br>
									Versión Portatil 177x177x60</td>
							</tr>
						  </tbody>
						</table>
					  </div>
				</div>
			
			</div>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  
		</div>
	  </div>
	</div>
  </div>


  
  <!-- Modal -->
  <div class="modal fade" id="ModalS409" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="exampleModalLabel">Medidores de Flujo S 409</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<div class="text ">
                
					<p class="">El interruptor S 409 permite la detección de la dirección del flujo. Se puede utilizar en aire comprimido y gases no corrosivos.

						El sensor es robusto y esta hecho completamente de acero inoxidable. A través de una válvula de bola tipo G de 1/2 ”, el interruptor se puede insertar en la tubería bajo presión.
						
						La información de flujo y dirección se emite a través de 2 interruptores de relé normalmente abiertos. Las señales se pueden transferir al sensor de flujo S 401 (Medidor de Flujo) para activar y desactivar la medición de flujo dependiendo de la dirección del flujo.</p>
				<div class="row align-items-center">
					<div class="col-lg-10 col-md-12 col-sm-12">
							<h3>Características Medidores de Flujo S 409</h3>
					
							<p>Medición de flujos y consumo de líquidos como:</p>
							<ul id="list">
								<li>Detecta los cambios más pequeños <0.1 m / s referidos a 20 ° C y 1000 hpa.</li>
								<li>Sin piezas de desgaste mecánico.</li>
								<li>Fácil instalación bajo presión.</li>
							</ul>
					</div>
					<div class="col-lg-2 col-md-12">
						<img class="imgH" src="images/Productos/Medidores/s409.webp" alt="">
					</div>
				</div>
				<div class="row d-flex justify-content-center">
				
					<div class="col-lg-9 col-md-12 table-responsive">
						<table class="table mt-4  ">
						  <thead>
							<tr>
							  <th class="bg-danger text-white text-center" colspan="2" scope="col">Información Técnica S 409</th>
							  
							</tr>
						  </thead>
						  <tbody>
							<tr>
							  <td class="bg-danger text-white">Detección</td>
							  <td>0.02…25m/s  @ /barg</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Sensor</td>
								<td>2xPt1000</td>
					
							</tr>
							<tr>
								<td class="bg-danger text-white">Temperatura Medio</td>
								<td>-20°C…+80°C</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Temperatura Ambiente</td>
								<td>-20°C…+70°C</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Presión de Operación</td>
								<td>0…1.6 Mpa</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Fuente de Alimentación</td>
								<td>24 VDC, 60mA</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Salida</td>
								<td>2x Relay , 60V, 1A</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Proceso de Conexión</td>
								<td>½” Tipo G (ISO 228-1)</td>
							</tr>
							<tr>
								<td class="bg-danger text-white">Material Sensor</td>
								<td>Acero Inoxidable 1.4404 (SUS 316L)</td>
							</tr>
						
						  </tbody>
						</table>
					  </div>
				</div>
			
			</div>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  
		</div>
	  </div>
	</div>
  </div>

</Layout>

<style>
	.imgH{
		margin-top: -30px;
	}
	.butt{
		width:100%;
	}
	.text img {
		text-align: center;
		width: 100%;
	}
	.modal-body img{
		text-align: center;
		width: 100%;
	}

	#blog-area {
		padding-bottom:0px;
		padding-top: 80px;
	}

	#blog-area .blog-post {}

	.blog-with-sidebar-area .blog-post .single-blog-post {
		margin-bottom: 60px;
	}

	#blog-area .single-blog-post .img-holder .published-date {
		position: absolute;
		top: 20px;
		left: 20px;
		width: 70px;
		height: 70px;
		padding: 10px 10px;
	}

	#blog-area .single-blog-post:hover .img-holder .published-date {
		left: 0;
		top: 0;
	}

	#blog-area .single-blog-post .img-holder .published-date h3 {
		font-size: 18px;
		line-height: 24px;
	}

	#blog-area .single-blog-post .text-holder .blog-title {
		font-size: 24px;
		line-height: 30px;
	}

	.blog-single-area .single-blog-post:hover .img-holder img {
		transform: none;
	}

	.blog-single-area .single-blog-post .text-holder .blog-title:hover {
		color: #222222;
	}

	.blog-single-area .middle-content-box {
		margin: 10px 0 33px;
		overflow: hidden;
	}

	.blog-single-area .middle-content-box .img-holder {
		width: 300px;
	}

	.blog-single-area .middle-content-box .img-holder,
	.blog-single-area .middle-content-box .text-box {
		display: table-cell;
		vertical-align: top;
	}

	.blog-single-area .middle-content-box .text-box {
		padding-left: 30px;
		position: relative;
	}

	.blog-single-area .middle-content-box .text-box:before {
		content: "\f10d";
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		color: #f1f1f1;
		font-size: 24px;
		padding-right: ;
		position: absolute;
		top: -3px;
		left: 30px;
	}

	.blog-single-area .middle-content-box .text-box {
		padding-left: 30px;
		padding-top: 32px;
		position: relative;
	}

	.blog-single-area .middle-content-box .text-box h3 {
		color: #222222;
		font-size: 20px;
		font-weight: 400;
		margin: 20px 0 7px;
	}

	.blog-single-area .middle-content-box .text-box h5 {
		color: #ad2727;
		font-size: 16px;
		font-weight: 300;
		margin: 0;
		font-family: 'Hind', sans-serif;
	}

	.blog-single-area .bottom-content-box {
		padding-bottom: 21px;
	}

	.blog-single-area .comment-box {
		overflow: hidden;
		padding-bottom: 50px;
		padding-top: 30px;
	}

	.blog-single-area .comment-box .sec-title {
		padding-bottom: 31px;
	}

	.blog-single-area .comment-box .sec-title h3 {
		color: #222222;
		font-size: 24px;
		font-weight: 400;
		text-transform: capitalize;
	}

	.blog-single-area .comment-box .single-comment-box {
		padding-left: 60px;
		position: relative;
		margin-bottom: 30px;
	}

	.blog-single-area .comment-box .single-comment-box .img-holder {
		left: 0;
		position: absolute;
		top: 16px;
		width: 70px;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder {
		border: 1px solid #f7f7f7;
		margin-left: 20px;
		padding: 15px 20px 5px;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder .top {
		overflow: hidden;
		padding-bottom: 8px;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder .top .date h5 {
		color: #222222;
		font-size: 16px;
		font-weight: 400;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box {
		position: relative;
		top: -3px;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box ul {
		margin-left: -0.5px;
		margin-right: -0.5px;
		overflow: hidden;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box ul li {
		display: inline-block;
		margin: 0 0.5px;
	}

	.blog-single-area .comment-box .single-comment-box .text-holder .top .review-box ul li i {
		color: #ad2727;
		font-size: 14px;
	}

	.blog-single-area .add-comment-box {
		overflow: hidden;
	}

	.blog-single-area .add-comment-box .sec-title {
		padding-bottom: 30px;
	}

	.blog-single-area .add-comment-box .sec-title h3 {
		color: #222222;
		font-size: 24px;
		font-weight: 400;
		text-transform: capitalize;
	}

	.blog-single-area .add-comment-box .add-rating-box {
		padding-bottom: 17px;
	}

	.blog-single-area .add-comment-box .add-rating-box h4 {
		color: #999999;
		font-size: 14px;
		font-weight: 400;
		margin: 0 0 12px;
	}

	.blog-single-area .add-comment-box .add-rating-box ul {}

	.blog-single-area .add-comment-box .add-rating-box ul li {
		border-right: 1px solid #ebebeb;
		display: inline-block;
		line-height: 20px;
		margin-right: 6px;
		padding-right: 10px;
	}

	.blog-single-area .add-comment-box .add-rating-box ul li:last-child {
		border-right: none;
		margin-right: 0;
		padding-right: 0;
	}

	.blog-single-area .add-comment-box .add-rating-box ul li a i {
		color: #d6d6d6;
		font-size: 12px;
	}

	.blog-single-area .add-comment-box .add-rating-box ul li a:hover i {
		color: #ad2727;
		transition: all 500ms ease;
	}

	.blog-single-area .add-comment-box form {}

	.blog-single-area .add-comment-box form .field-label {
		color: #222222;
		display: block;
		font-size: 16px;
		font-weight: 400;
		padding: 0 0 2px;
	}

	.blog-single-area .add-comment-box form input[type="text"],
	.blog-single-area .add-comment-box form input[type="email"],
	.blog-single-area .add-comment-box form textarea {
		background: #fff none repeat scroll 0 0;
		border: 2px solid #f4f4f4;
		display: block;
		font-size: 14px;
		font-weight: 400;
		height: 50px;
		padding: 0 15px;
		width: 100%;
		margin-bottom: 15px;
		transition: all 500ms ease;
	}

	.blog-single-area .add-comment-box form textarea {
		height: 160px;
		padding: 10px 15px;
		margin-bottom: 30px;
	}

	.blog-single-area .add-comment-box form button {
		padding: 0;
		width: 100%;
	}

	.blog-single-area .add-comment-box form input[type="text"]:focus {
		border-color: #ad2727;
	}

	.blog-single-area .add-comment-box form input[type="email"]:focus {
		border-color: #ad2727;
	}

	.blog-single-area .add-comment-box form textarea:focus {
		border-color: #ad2727;
	}

	.blog-single-area .add-comment-box form button:hover {}













	/* Cards */
	.blog-section2 {
	}

	.blog-section2 .section-title {
		margin-bottom: 30px;
		border-bottom: solid #ad2727 3px;
		-webkit-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.5);
		box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.5);
	}

	

	.default-blog-news {
		max-width: 300px;
		height: 400px;
		position: relative;
		transition: .5s ease-in-out;
		margin-bottom: 50px;
		border: solid 1px #ad2727 ;
	}
	.default-blog-news figure{
		height: 70%;
	}
	.default-blog-news img{
		max-height: 100%;
	}
	.default-blog-news:hover {
		box-shadow: 0 15px 16px 0 rgba(0, 0, 0, 0.03), 0 0px 82px 0 rgba(0, 0, 0, 0.02);
		-webkit-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.5);
		box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.5);
		transition: .2s cubic-bezier(0.4, 0, 1, 1);
	}

	.default-blog-news .lower-content {
		position: relative;
		padding: 30px 20px 20px;
		border: 1px solid #f4f4f4;
		border-top: 0;
	}

	.default-blog-news .date {
		position: absolute;
		left: 0px;
		top: 30px;
		height: 64px;
		width: 64px;
		background: #ad2727;
		line-height: 20px;
		padding-top: 13px;
		z-index: 9;
		color: #fff;
		text-align: center;
	}

	.default-blog-news .lower-content .text p {
		margin-bottom: 10px;
	}

	.default-blog-news .lower-content h4 {
		color: #303030;
		font-weight: 400;
		margin-bottom: 10px;
		line-height: 26px;
	}

	.default-blog-news .lower-content h4 a {
		color: #222;
		transition: all 300ms ease;
		font-size: 18px;
	}

	.default-blog-news .lower-content h4 a:hover {
		color: #ad2727;
		transition: all 300ms ease;
	}

	.default-blog-news .lower-content .post-meta {
		color: #888;
		font-size: 16px;
		margin-bottom: 7px;
	}


	.default-blog-news .lower-content .default_link {
		text-transform: uppercase;
		color: #303030;
		transition: .5s ease;
		font-family: 'Montserrat', sans-serif;
	}

	.default-blog-news .lower-content .default_link:hover {
		transition: .5s ease;
		color: #ad2727;
	}


	.default-blog-news .img-holder {
		display: block;
		overflow: hidden;
		position: relative;
	}

	.default-blog-news .img-holder a {
		width: 100%;
	}

	.default-blog-news .img-holder img {
		transform: scale(1);
		transition: all 0.5s ease 0s;
		width: 100%;
	}

	.default-blog-news:hover .img-holder img {
		transform: scale(1.1);
	}

	.default-blog-news .overlay {
		background-color: rgba(3, 15, 27, 0.77);
		text-align: center;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		color: #fff;
		opacity: 0;
		filter: alpha(opacity=0);
		transition: all 450ms ease-out 0s;
		transform: rotateY(180deg) scale(0.5, 0.5);
	}

	.default-blog-news:hover .img-holder .overlay {
		opacity: 1;
		filter: alpha(opacity=100);
		transform: rotateY(0deg) scale(1, 1);
	}

	.default-blog-news .overlay .box {
		display: table;
		height: 100%;
		width: 100%;
	}

	.default-blog-news .overlay .box .content {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}

	.default-blog-news .img-holder .overlay .box .content a i {
		background: #ad2727;
		border-radius: 50%;
		color: #ffffff;
		display: inline-block;
		font-size: 16px;
		height: 45px;
		line-height: 48px;
		transition: all 500ms ease 0s;
		width: 45px;
	}

	.default-blog-news .img-holder .overlay .box .content a:hover i {
		background: #ad2727;
	}


	.bg-clr2{
  background: #222;
  color: #fff;
  position: relative;
}
.bg-clr2:before {
  background-color: #ad2727;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0.5, 1);
  transition: all 0.4s ease 0s;
  width: 100%;
  z-index: -1;
}
.bg-clr2:hover:before{
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);    
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}

.call-out2 {
  background: #ad2727;
  padding: 5px 0 25px;
}
.call-out2 .logo {
  margin-top: 23px;
}
.call-out2 h4 {
  color: #fff;
  margin-top: 30px;
  font-size: 20px;
}
.call-out2 .thm-btn {
  margin-top: 20px;
  line-height: 50px;
  padding: 0 21px;
}
.call-out2 .thm-btn:hover {
  color: #ad2727
}

.call-out2 .thm-btn.bg-clr2:before {
  background-color: #fff;
}


.thm-btn {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  transition: all 0.5s ease 0s;
  cursor: pointer;
  padding: 0 30px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  z-index: 1;
}

.thm-btn:hover{
  color: #fff;
}


.thm-btn:before {
  background-color: #444;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0.5, 1);
  transition: all 0.4s ease 0s;
  width: 100%;
  z-index: -1;
}
.bg-clr1{
  background: #ad2727;  
  color: #fff;
}
.thm-btn:hover::before{
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.bg-clr2{
  background: #222;
  color: #fff;
  position: relative;
}
.bg-clr2:before {
  background-color: #ad2727;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0.5, 1);
  transition: all 0.4s ease 0s;
  width: 100%;
  z-index: -1;
}
.bg-clr2:hover:before{
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);    
}



</style>