
<section class="brand-logo sec-padd">
    <div class="container">
        <div class="owl-carousel brand-carousel">
            <div class="item"><a href="#"><img src="images/Clientes/Ajover.png" alt="" width="272" height="103"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/alfa.jpg" alt="" width="272" height="70"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/Alpina.png" alt="" width="272" height="103"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/Argos.png" alt="" width="272" height="103"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/AveryDennison.jpg" alt="" width="272" height="103"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/Baxter.png" alt="" width="272" height="70"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/Brinsa.png" alt="" width="272" height="103"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/Cemex.png" alt="" width="272" height="103"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/cerrejon.png" alt="" width="272" height="103"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/CerroMatoso.svg" alt="" width="272" height="103"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/Cetelsa.png" alt="" width="272" height="103"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/Colgate.png" alt="" width="272" height="103"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/Colombina.png" alt="" width="272" height="103"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/Corona.png" alt="" width="272" height="103"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/Familia.png" alt="" width="272" height="103"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/GerdauLogo.png" alt="" width="272" height="103"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/Gerfor.png" alt="" width="272" height="103"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/Goodyear.png" alt="" width="272" height="103"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/Grasco.png" alt="" width="272" height="103"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/Holcim.png" alt="" width="272" height="103"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/IngenioPichichi.png" alt="" width="272" height="103"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/kelloggs.png" alt="" width="272" height="103"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/Kimberly.png" alt="" width="272" ></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/Papelsa.png" alt="" width="272" height="103"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/peldar.png" alt="" width="272" height="103"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/PuertoSantaMarta.png" alt="" width="272" height="103"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/Rimax.png" alt="" width="272" height="103"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/SanMarcos.png" alt="" width="272" height="103"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/schott.webp" alt="" width="272" height="103"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/Sidenal.png" alt="" width="272" height="103"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/Sika.png" alt="" width="272" height="103"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/Smurfit.png" alt="" width="272" height="103"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/Solla.png" alt="" width="272" height="103"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/Thomas.png" alt="" width="272" height="103"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/unilever.png" alt="" width="272" height="103"></a></li>
            <div class="item"><a href="#"><img src="images/Clientes/Yamaha.jpg" alt="" width="272" height="103"></a></li>
        </ul>
    </div>
</section>

<script is:inline >
    $(document).ready(function(){
        $(".brand-carousel").owlCarousel({
            items: 4, // Cantidad de elementos a mostrar en el carrusel
            loop: true, // Repetir el carrusel
            margin: 20, // Margen entre elementos
            autoplay: true, // Autoplay activado
            autoplayTimeout: 3000, // Intervalo de tiempo en milisegundos
            autoplayHoverPause: true // Pausar autoplay al hacer hover
        });
    });
</script>
<style>
.brand-logo {
  position: relative;
  background: #f8f9f9;
}
.brand-logo .brand-carousel li {
  
}
.brand-logo .brand-carousel li a {
  display: block;
  text-align: center;
}
.brand-logo .brand-carousel li a img {
  width: auto;
  display: inline-block;
}



/*nav*/
.brand-logo .owl-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -20px;
    left: 0;
}
.brand-logo .owl-carousel {
  position: inherit;
}
.brand-logo .owl-theme .owl-nav {
    margin: 0;
    padding: 0;
}

.brand-logo .owl-theme .owl-nav [class*=owl-] {
    color: #999999;
    font-size: 24px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    padding: 0 5px;
    display: inline-block;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}

.brand-logo .owl-theme .owl-prev {
    float: left;
    width: 25%;
    text-align: center;
}
.brand-logo .owl-theme .owl-prev span {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #2c3e50;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.brand-logo .owl-theme .owl-prev span:hover {
    color: #fff;
    background-color: #ad2727;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.brand-logo .owl-theme .owl-next {
    float: right;
    width: 20%;
    text-align: center;
}

.brand-logo .owl-theme .owl-next span {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #2c3e50;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.brand-logo .owl-theme .owl-next span:hover {
    color: #fff;
    background-color: #ad2727;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}



</style>