<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Factor de Servicio (F.S)
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>
            El factor de servicio es un criterio que le permite evaluar cuantitativamente las condiciones de trabajo del mecanismo donde se implementara el sistema de lubricación, este criterio será decisivo para determinar la cantidad de insumo que requiera cada mecanismo.

            Para calcular el factor de servicio seleccione en una escala de 0 a 3 el tipo de severidad de las condiciones de la aplicación. Seleccione “0” para condiciones de trabajo bajas, “1” para condiciones de trabajo altas,»2″ para condiciones de trabajo severas o «3» para condiciones de trabajo extremadamente severas.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Rodamientos de bola (R.B)
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>Este tipo de rodamiento contiene elementos rodantes en su interior que cumplen la función de reducir la fricción entre dos superficies por el movimiento angular además es uno de los encargados de  resistir esfuerzos debidos a las cargas.</p>
          <h2>Ingrese los datos del rodamiento</h2>
            <form id="formularioRodamiento" action="#" method="post">
                <label for="eje_mm">Ingrese el diámetro del eje:</label>
                <input type="number" id="eje_mm" name="eje_mm" step="0.1" placeholder="0" required>
                <span>mm</span>

                <br>

                <label for="filas">Introduce el número de filas de bolas en el rodamiento:</label>
                <input type="number" id="filas" name="filas" placeholder="0" required>
                <span>N° filas</span>

                <br>

                <label for="fs">Ingrese el factor de seguridad:</label>
                <input type="number" id="fs" name="fs" step="0.1" placeholder="0" required>
                <span>F.S</span>

                <br>

                <input type="submit" value="Enviar">

            </form>

            <div id="resultado"></div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBujeLiso" aria-expanded="false" aria-controls="collapseThree">
            Cojinetes lisos bujes (C.B)
        </button>
      </h2>
      <div id="collapseBujeLiso" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>Este tipo de cojinetes o rodamientos es implementado para realizar movimientos deslizantes, oscilantes, rotatorios, entre otros. Este tipo de cojinetes además son altamente implementados ya que reducen el ruido debido al movimiento mecánico de piezas y exigen poca cantidad de insumos de lubricación.</p>
          <h2>Ingrese los datos del buje liso</h2>

            <form id="formularioBujeLiso" action="#" method="post">

                <label for="eje_mm">Ingrese el diámetro del eje:</label>
                <input type="number" id="eje_mm" name="eje_mm" step="0.1" placeholder="0" required>
                <span>mm</span>

                <br>

                <label for="longitud_mm">Introduzca la longitud del rodamiento:</label>
                <input type="number" id="longitud_mm" name="longitud_mm" step="0.1" placeholder="0" required>
                <span>mm</span>

                <br>

                <label for="fs">Ingrese el factor de seguridad:</label>
                <input type="number" id="fs" name="fs" step="0.1" placeholder="0" required>
                <span>F.S</span>

                <br>

                <input type="submit" value="Enviar">

            </form>

            <div id="resultadoBujeLiso"></div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTDezlizante" aria-expanded="false" aria-controls="collapseThree">
            Guías deslizantes  (G.D)
          </button>
        </h2>
        <div id="collapseTDezlizante" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <p>Las guías deslizantes son piezas de metal ajustable, que se utiliza para fijar en un punto exacto las partes móviles de una maquina o reducir la fricción que se genera por el movimiento, ademas también restringen el movimiento lineal de una pieza o herramienta en una máquina.</p>
            <h2>Ingrese los datos de las guías deslizantes</h2>

            <form id="formularioGuiasDeslizantes" action="#" method="post">

                <label for="longitud_mm">Introduzca la longitud de la superficie de mayor contacto:</label>
                <input type="number" id="longitud_mm" name="longitud_mm" step="0.1" placeholder="0" required>
                <span>Long. mm</span>

                <br>

                <label for="ancho_mm">Introduzca el ancho de la superficie de mayor contacto:</label>
                <input type="number" id="ancho_mm" name="ancho_mm" step="0.1" placeholder="0" required>
                <span>Ancho en mm</span>

                <br>

                <label for="fs">Ingrese el factor de seguridad:</label>
                <input type="number" id="fs" name="fs" step="0.1" placeholder="0" required>
                <span>F.S</span>

                <br>

                <input type="submit" value="Enviar">

            </form>

            <div id="resultadoGuiasDeslizantes"></div>
            </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Engranaje abierto (E.A)
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>Este tipo de mecanismo consiste en un grupo de engranajes que se conectan entre sí para trasmitir energía mecánica, es empleado como reductor de velocidad en máquinas industriales.</p> 
            <h2>Ingrese los datos del engranaje</h2>

            <form id="formularioEngranaje" action="#" method="post">

                <label for="diametro_mm">Introduzca el diámetro de paso:</label>
                <input type="number" id="diametro_mm" name="diametro_mm" step="0.1" placeholder="0" required>
                <span>Diamet. mm</span>

                <br>

                <label for="ancho_mm">Introduzca el ancho del rodamiento:</label>
                <input type="number" id="ancho_mm" name="ancho_mm" step="0.1" placeholder="0" required>
                <span>Ancho en mm</span>

                <br>

                <label for="fs">Ingrese el factor de seguridad:</label>
                <input type="number" id="fs" name="fs" step="0.1" placeholder="0" required>
                <span>F.S</span>

                <br>

                <input type="submit" value="Enviar">

            </form>

            <div id="resultadoEngranaje"></div>
        </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEngranajeGiro" aria-expanded="false" aria-controls="collapseThree">
            Engranaje de giro (E.G)
          </button>
        </h2>
        <div id="collapseEngranajeGiro" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>Este mecanismo de transmisión está compuesto por engranajes rectos, son dos ruedas dentadas que se acoplan entre sí, donde se denomina engranaje de toro al engranaje mas grande y piñón al engranaje mas pequeño, donde uno actúa como la transmisión y otro como el engranaje que es impulsado respectivamente. Ofrece prestaciones de alta velocidad y gran precisión.</p>
            <h2>Ingrese los datos del engranaje de giro</h2>

            <form id="formularioEngranajeGiro" action="#" method="post">

                <label for="diametro_mm">Introduzca el diámetro de paso (P.D.) del piñón:</label>
                <input type="number" id="diametro_mm" name="diametro_mm" step="0.1" placeholder="0" required>
                <span>Diamet. mm</span>

                <br>

                <label for="ancho_mm">Introduzca el ancho del rodamiento:</label>
                <input type="number" id="ancho_mm" name="ancho_mm" step="0.1" placeholder="0" required>
                <span>Ancho en mm</span>

                <br>

                <label for="fs">Ingrese el factor de seguridad:</label>
                <input type="number" id="fs" name="fs" step="0.1" placeholder="0" required>
                <span>F.S</span>

                <br>

                <input type="submit" value="Enviar">

            </form>

            <div id="resultadoEngranajeGiro"></div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSinFin" aria-expanded="false" aria-controls="collapseThree">
            Engranajes de tornillo sin fin (T.F)
          </button>
        </h2>
        <div id="collapseSinFin" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>Este tipo de engranajes consiste en un eje roscado en espiral acoplado con una rueda dentada para la transmisión de movimiento rotacional entre dos ejes que sean perpendiculares el uno con el otro.</p>

            <h2>Ingrese los datos del tornillo sin fin</h2>

            <form id="formularioTornilloSinFin" action="#" method="post">

                <label for="diametro1_mm">Introduzca el diámetro de paso (P.D.1) del tornillo sin fin:</label>
                <input type="number" id="diametro1_mm" name="diametro1_mm" step="0.1" placeholder="0" required>
                <span>Diamet. mm</span>

                <br>

                <label for="diametro2_mm">Introduzca el diámetro de paso (P.D.2) del tornillo sin fin:</label>
                <input type="number" id="diametro2_mm" name="diametro2_mm" step="0.1" placeholder="0" required>
                <span>Diamet. mm</span>

                <br>

                <label for="ancho_mm">Introduzca el ancho del tornillo sin fin:</label>
                <input type="number" id="ancho_mm" name="ancho_mm" step="0.1" placeholder="0" required>
                <span>Ancho en mm</span>

                <br>

                <label for="fs">Ingrese el factor de seguridad:</label>
                <input type="number" id="fs" name="fs" step="0.1" placeholder="0" required>
                <span>F.S</span>

                <br>

                <input type="submit" value="Enviar">

            </form>

            <div id="resultadoTornilloSinFin"></div>
        
        </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSello" aria-expanded="false" aria-controls="collapseSello">
            Sellos de laberinto (S.L)
          </button>
        </h2>
        <div id="collapseSello" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>En la industria es muy común que los rodamientos se encuentren en exposición prolongada de partículas de polvo abrasivo, virutas, escombros o lodo, para proteger un Sistema de rodamientos de contaminación se utiliza un sello mecánico llamado sello de laberintos.</p>
            <h2>Ingrese los datos del sello de laberinto</h2>

            <form id="formularioSellosLaberinto" action="#" method="post">
        
                <label for="diametro_mm">Introducir el diámetro del eje:</label>
                <input type="number" id="diametro_mm" name="diametro_mm" step="0.1" placeholder="0" required>
                <span>Diamet. mm</span>
        
                <br>
        
                <label for="longitudes_mm">Introduzca la suma de las longitudes de cada superficie de contacto:</label>
                <input type="number" id="longitudes_mm" name="longitudes_mm" step="0.1" placeholder="0" required>
                <span>Long. en mm</span>
        
                <br>
        
                <label for="fs">Ingrese el factor de seguridad:</label>
                <input type="number" id="fs" name="fs" step="0.1" placeholder="0" required>
                <span>F.S</span>
        
                <br>
        
                <input type="submit" value="Enviar">
        
            </form>
        
            <div id="resultadoSellosLaberinto"></div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBola" aria-expanded="false" aria-controls="collapseThree">
            Tornillo de Bola (T.B)
          </button>
        </h2>
        <div id="collapseBola" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <p>El tornillo de bola está compuesto por un eje roscado que sirve de guía para rodamientos de bola, el eje actúa como tornillo y el rodamiento de bola actúa como la tuerca. Este mecanismo soporta altas cargas de empuje con una fricción interna mínima, además de tener un alto grado de  precisión.</p>
            <h2>Ingrese los datos del tornillo de bola</h2>

            <form id="formularioTornilloBola" action="#" method="post">

                <label for="diametro_mm">Introduzca el diámetro del paso (P.D.) de la carrera de bolas:</label>
                <input type="number" id="diametro_mm" name="diametro_mm" step="0.1" placeholder="0" required>
                <span>Diamet. mm</span>

                <br>

                <label for="longitudes_mm">Introduzca la longitud del recorrido de la carrera de bolas en el eje:</label>
                <input type="number" id="longitudes_mm" name="longitudes_mm" step="0.1" placeholder="0" required>
                <span>Long. en mm</span>

                <br>

                <label for="filas">Introduzca el número de filas de bolas que se encuentran en el eje:</label>
                <input type="number" id="filas" name="filas" placeholder="0" required>
                <span>filas</span>

                <br>

                <label for="fs">Ingrese el factor de seguridad:</label>
                <input type="number" id="fs" name="fs" step="0.1" placeholder="0" required>
                <span>F.S</span>

                <br>

                <input type="submit" value="Enviar">

            </form>

            <div id="resultadoTornilloBola"></div>
            </div>
        </div>
      </div>

  </div>

  <script>
    document.getElementById('formularioRodamiento').addEventListener('submit', function (e) {
        e.preventDefault(); // Evitar que el formulario se envíe de la manera tradicional

        // Obtener los valores de los campos
        var diametroEje = parseFloat(document.getElementById('eje_mm').value);
        var numeroFilas = parseInt(document.getElementById('filas').value);

        // Calcular A = D^2 * R
        var resultadoA = Math.pow(diametroEje, 2) * numeroFilas;

        // Mostrar el resultado debajo del formulario
        document.getElementById('resultado').innerHTML = '<p>El resultado de A es: ' + resultadoA + '</p>';
    });
    document.getElementById('formularioBujeLiso').addEventListener('submit', function (e) {
            e.preventDefault(); // Evitar que el formulario se envíe de la manera tradicional

            // Obtener los valores de los campos
            var diametroEjeBujeLiso = parseFloat(document.getElementById('eje_mm').value);
            var longitudBujeLiso = parseFloat(document.getElementById('longitud_mm').value);

            // Calcular A = π D L
            var resultadoA = 3.14 * diametroEjeBujeLiso * longitudBujeLiso;

            // Mostrar el resultado debajo del formulario
            document.getElementById('resultadoBujeLiso').innerHTML = '<p>El resultado de A es: ' + resultadoA + '</p>';
        });
    document.getElementById('formularioGuiasDeslizantes').addEventListener('submit', function (e) {
        e.preventDefault(); // Evitar que el formulario se envíe de la manera tradicional

        // Obtener los valores de los campos
        var longitudSuperficie = parseFloat(document.getElementById('longitud_mm').value);
        var anchoSuperficie = parseFloat(document.getElementById('ancho_mm').value);

        // Calcular A = L x W
        var resultadoA = longitudSuperficie * anchoSuperficie;

        // Mostrar el resultado debajo del formulario
        document.getElementById('resultadoGuiasDeslizantes').innerHTML = '<p>El resultado de A es: ' + resultadoA + '</p>';
    });
    document.getElementById('formularioEngranaje').addEventListener('submit', function (e) {
            e.preventDefault(); // Evitar que el formulario se envíe de la manera tradicional

            // Obtener los valores de los campos
            var diametroPaso = parseFloat(document.getElementById('diametro_mm').value);
            var anchoEngranaje = parseFloat(document.getElementById('ancho_mm').value);

            // Calcular A = π P.D. x W
            var resultadoA = 3.14 * diametroPaso * anchoEngranaje;

            // Mostrar el resultado debajo del formulario
            document.getElementById('resultadoEngranaje').innerHTML = '<p>El resultado de A es: ' + resultadoA + '</p>';
        });
    document.getElementById('formularioEngranajeGiro').addEventListener('submit', function (e) {
        e.preventDefault(); // Evitar que el formulario se envíe de la manera tradicional

            // Obtener los valores de los campos
            var diametroPasoPinion = parseFloat(document.getElementById('diametro_mm').value);
            var anchoPinion = parseFloat(document.getElementById('ancho_mm').value);

            // Calcular A = 2 π P.D. x W
            var resultadoA = 2 * 3.14 * diametroPasoPinion * anchoPinion;

            // Mostrar el resultado debajo del formulario
            document.getElementById('resultadoEngranajeGiro').innerHTML = '<p>El resultado de A es: ' + resultadoA + '</p>';
    });
    document.getElementById('formularioTornilloSinFin').addEventListener('submit', function (e) {
            e.preventDefault(); // Evitar que el formulario se envíe de la manera tradicional

            // Obtener los valores de los campos
            var diametroPaso1 = parseFloat(document.getElementById('diametro1_mm').value);
            var diametroPaso2 = parseFloat(document.getElementById('diametro2_mm').value);
            var anchoTornilloSinFin = parseFloat(document.getElementById('ancho_mm').value);

            // Calcular A = π (P.D.1 + P.D.2) W
            var resultadoA = 3.14 * (diametroPaso1 + diametroPaso2) * anchoTornilloSinFin;

            // Mostrar el resultado debajo del formulario
            document.getElementById('resultadoTornilloSinFin').innerHTML = '<p>El resultado de A es: ' + resultadoA + '</p>';
        });
    document.getElementById('formularioSellosLaberinto').addEventListener('submit', function (e) {
            e.preventDefault(); // Evitar que el formulario se envíe de la manera tradicional

            // Obtener los valores de los campos
            var diametroEje = parseFloat(document.getElementById('diametro_mm').value);
            var longitudesSuperficie = parseFloat(document.getElementById('longitudes_mm').value);

            // Calcular A = π D L x 3
            var resultadoA = 3.14 * diametroEje * longitudesSuperficie * 3;

            // Mostrar el resultado debajo del formulario
            document.getElementById('resultadoSellosLaberinto').innerHTML = '<p>El resultado de A es: ' + resultadoA + '</p>';
    });
    document.getElementById('formularioTornilloBola').addEventListener('submit', function (e) {
            e.preventDefault(); // Evitar que el formulario se envíe de la manera tradicional

            // Obtener los valores de los campos
            var diametroPasoBola = parseFloat(document.getElementById('diametro_mm').value);
            var longitudesRecorridoBola = parseFloat(document.getElementById('longitudes_mm').value);
            var numeroFilasBolas = parseInt(document.getElementById('filas').value);

            // Calcular A = π P.D. x (Rows + Length of Travel)
            var resultadoA = 3.14 * diametroPasoBola * (numeroFilasBolas + longitudesRecorridoBola);

            // Mostrar el resultado debajo del formulario
            document.getElementById('resultadoTornilloBola').innerHTML = '<p>El resultado de A es: ' + resultadoA + '</p>';
        });
</script>