---

---

<section class="container">
    <div class="section-title">
        <h2>Nuestros Clientes</h2>
    </div>
    <div id="carouselExample" class="carousel slide  my-5">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row align-items-center">
                    <div class="col-2">
                        <img src="images/Clientes/Ajover.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-2">
                        <img src="images/Clientes/alfa.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-2">
                        <img src="images/Clientes/Alpina.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-2">
                        <img src="images/Clientes/Argos.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-2">
                        <img src="images/Clientes/AveryDennison.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-2 ">
                        <img src="images/Clientes/Baxter.webp" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row align-items-center">
                    <div class="col-2">
                        <img src="images/Clientes/Brinsa.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-2">
                        <img src="images/Clientes/Cemex.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-2">
                        <img src="images/Clientes/cerrejon.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-2">
                        <img src="images/Clientes/Cetelsa.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-2">
                        <img src="images/Clientes/Colgate.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-2 ">
                        <img src="images/Clientes/Colombina.webp" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row align-items-center">
                    <div class="col-2">
                        <img src="images/Clientes/Corona.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-2">
                        <img src="images/Clientes/Familia.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-2">
                        <img src="images/Clientes/GerdauLogo.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-2">
                        <img src="images/Clientes/Gerfor.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-2">
                        <img src="images/Clientes/Goodyear.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-2 ">
                        <img src="images/Clientes/Grasco.webp" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row align-items-center">
                    <div class="col-2">
                        <img src="images/Clientes/Holcim.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-2">
                        <img src="images/Clientes/IngenioPichichi.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-2">
                        <img src="images/Clientes/kelloggs.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-2">
                        <img src="images/Clientes/Kimberly.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-2">
                        <img src="images/Clientes/Papelsa.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-2 ">
                        <img src="images/Clientes/peldar.webp" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row align-items-center">
                    <div class="col-2">
                        <img src="images/Clientes/PuertoSantaMarta.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-2">
                        <img src="images/Clientes/Rimax.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-2">
                        <img src="images/Clientes/SanMarcos.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-2">
                        <img src="images/Clientes/schott.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-2">
                        <img src="images/Clientes/Sidenal.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-2 ">
                        <img src="images/Clientes/Sika.webp" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row align-items-center">
                    <div class="col-2">
                        <img src="images/Clientes/Smurfit.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-2">
                        <img src="images/Clientes/Solla.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-2">
                        <img src="images/Clientes/Thomas.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-2">
                        <img src="images/Clientes/unilever.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-2">
                        <img src="images/Clientes/Yamaha.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-2 ">
                        <img src="images/Clientes/Ajover.webp" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<style>
    .carousel-item img{
        max-height: 125px;
    }


    .section-title {
		position: relative;
		margin-bottom: 50px;
	}

	.section-title:after {
		content: "";
		position: absolute;
		bottom: 0px;
		left: 0;
		width: 70px;
		height: 1px;
		background: #ad2727;
	}

	.section-title.center:after {
		left: 50%;
		margin-left: -35px;
	}
</style>