
<footer>
    <div class="footer-main sec-padd2">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-col">
                        <div class="logo-part">
                            <a href="#" class="footer-logo text-uppercase">
                                <img src="images/logo/logo-header.webp" alt="logo">
                            </a>
                        </div>
                        <p class="footer-words">Con 30 años de liderazgo en automatización industrial (neumática, hidráulica, etc.), ofrecemos soluciones de calidad, asesoría y capacitación personalizada. Su socio confiable para el progreso. </p>
                        <ul class="list-inline footer-social">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-col service-col">
                        <h3 class="footer-title">Servicios</h3>
                        <ul class="footer-list">
                            <li><a href="service.html">Auditoría En Lubricación</a></li>
                            <li><a href="single-service.html">Auditoría En Aire Comprimido</a></li>
                            <li><a href="single-service.html">Lubricacion Basa en Confiabilidad</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-col post-column">
                        <h3 class="footer-title">Noticias Recientes</h3>
                        <div class="post-list">
                            <div class="post">
                                <div class="post-thumb"><a href="#"><img src="images/Blog/Blog1/ajapp.jpg" alt=""></a></div>
                                <a class="text-decoration-none" href="#"><h5>Air Jet</h5></a>
                                <div class="post-info"><i class="fa fa-calendar"></i>  27 Agost, 2023</div>
                            </div>
                            <div class="post">
                                <div class="post-thumb"><a href="#"><img src="images/Blog/Blog2/varistat.png" alt=""></a></div>
                                <a class="text-decoration-none" href="#"><h5>Varistat Benchop Ionize</h5></a>
                                <div class="post-info"><i class="fa fa-calendar"></i> 21 Apr, 2017</div>
                            </div>
                            <div class="post">
                                <div class="post-thumb"><a href="#"><img class="object-fit-fill" src="images/Blog/Blog3/SBMart_pipe900.webp" alt=""></a></div>
                                <a class="text-decoration-none" href="#"><h5>Optimización del Aire comprimido</h5></a>
                                <div class="post-info"><i class="fa fa-calendar"></i> 21 Apr, 2017</div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-col">
                        <h3 class="footer-title">Subscribe Us</h3>
                        <div class="footer-widget contact-column">

                            <h5>Subscribe to our newsletter!</h5>
                            <form action="#">
                                <input type="email" placeholder="Email address....">
                                <button type="submit"><i class="fa fa-paper-plane"></i></button>
                            </form>
                            <p>We dont’t do spam and Your mail id very confidential.</p>
                            
                            <ul class="social-icon">
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <p class="copyright">© 2023 all rights reserved</p>
                </div>
                <div class="col-md-9">
                    <nav class="footer-menu pull-right">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a  class="text-decoration-none" href="index.html">Inicio</a></li>
                            <li class="list-inline-item"><a  class="text-decoration-none" href="our-service-1.html">Servicios</a></li>
                            <li class="list-inline-item"><a  class="text-decoration-none" href="contact-us.html">contact us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>

<style>
    
.footer-col {
  margin-bottom: 40px;
}
.logo-part img{
width: 100%;
}
.footer-main {
    background: #ccc9c9;
}
.footer-col a,
.footer-col p,
.footer-col span {
    color: #000000;
}

.footer-col a:hover {
    color: #ad2727;
}
.footer-col.service-col {
    padding-left: 20px;
}
.footer-list{
    list-style-type: none;
}
.footer-list a{
    text-decoration: none;
}

.footer-words {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-top: 28px;
}

.footer-social {
    padding-top: 18px;
}

.footer-social li:not(:first-of-type) {
    margin-left: 0px;
    padding: 0 3px;
}

.footer-social a {
    font-size: 14px;
    line-height: 26px;
    background-color: hsl(224, 22%, 14%);
    border: 1px solid hsl(224, 22%, 14%);
    box-shadow: 0 2px 2px #000;
    border-radius: 50%;
    display: block;
    height: 44px;
    color: #ad2727;
    line-height: 45px;
    text-align: center;
    width: 44px;
}

.footer-title {
    font-weight: 400;
    padding-bottom: 30px;
    color: #000000;
    text-transform: uppercase;
}

.footer-list li:not(:first-of-type) {
    margin-top: 10px;
}

.footer-list a {
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: .20px;
}

.footer-list a:before {
    content: "\f104";
    font-family: 'FontAwesome';
    margin-right: 10px;
}



/*============ post-column =================*/

.footer-main .post-column .post {
  position: relative;
  padding-left: 95px;
  margin-bottom: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid #363636;
}
.footer-main .post-column .post:last-child {
  border-bottom: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.footer-main .post-column .post-thumb {
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 70px;
}
.post-thumb img{
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.footer-main .post-column h5 {
  position: relative;
  top: -5px;
  font-size: 16px;
  color: #999;
  line-height: 20px;
  margin-bottom: 9px;
}
.footer-main .post-column .post-info {
  color: #ad2727;
  font-size: 15px;
}



/*============ contact-column =================*/

.footer-main .contact-column{
  position:relative;
}

.footer-main .contact-column h5 {
  font-size: 16px;
  color: #999;
  margin-bottom: 18px;
}

.footer-main .contact-column form {
  position: relative;
  margin-bottom: 25px;
}
.footer-main .contact-column input {
  background: #2e2e2e;
  border: 1px solid #363636;
  width: 100%;
  padding: 0 15px;
  line-height: 40px;
}
.footer-main .contact-column input:focus {
  border-color: #ad2727;
}
.footer-main .contact-column button {
  position: absolute;
  right: 0;
  top: 0;
  height: 42px;
  width: 40px;
  line-height: 42px;
  background: #ad2727;
  color: #fff;
}

.footer-main .contact-column p {
  padding-bottom: 19px;
  margin-bottom: 20px;
  border-bottom: 1px solid #363636;
}


/*============ social icon ===================*/

.footer-main .contact-column .social-icon li {
  display: inline-block;
}
.footer-main .contact-column .social-icon li a {
  display: inline-block;
  color: #999;
  margin-right: 15px;
  font-size: 16px;
  transition: .5s ease;
}
.footer-main .contact-column .social-icon li a:hover {
  color: #ad2727;
  transition: .5s ease;
}






/*footer bttom*/

.footer-bottom {
    padding-top: 23px;
    padding-bottom: 24px;
    background: #1a1a1a;
    color: #999;
}

.copyright,
.footer-menu a {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: #999;
}

.copyright {
    letter-spacing: .40px;
    line-height: 18px;
}

.footer-menu a {
    line-height: 14px;
    letter-spacing: .80px;
}
.pull-right{
    float: right;
}

.footer-menu a:hover {
    color: #ad2727;
}

.footer-menu li:not(:first-of-type) {
    margin-left: 35px;
}

</style>