<!--Start Top bar area -->
<section class="top-bar-area">
    <div class="container">
        <div class="clearfix">
            <div class="float-start">
                <p>Bienvenido a Global Automation</p>
            </div>
            <div class="float-end">
                <p><i class="fa fa-clock-o"></i>Lunes - Sabado : 8:00 AM - 5:30 Pm</p>
            </div>
        </div>

    </div>
</section>
<!--End Top bar area -->
<!--Start header area-->
<header class="header-area">
    <div class="container">
        <div class="row ">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="logo">
                    <a href="index.html">
                        <img src="images/logo/logo-header.webp" width="240px" alt="Global Automation">
                    </a>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 d-flex align-items-center">
                <div class="header-contact-info ">
                    <ul>
                        <li>
                            <div class="iocn-holder">

                                <i class="bi bi-house-fill"></i>
                            </div>
                            <div class="text-holder">

                                <h6 class="text-uppercase">Cra. 54 # 137A - 21, Casa 74</h6>
                                <p>Bogotá.- Cundinamarca</p>
                            </div>
                        </li>
                        <li>
                            <div class="iocn-holder">
                                <i class="bi bi-telephone-outbound-fill"></i>
                            </div>
                            <div class="text-holder">
                                <h6>Llámenos al</h6>
                                <p>Comercial: (57) 310 224 73 18</p>
                                <p>Administrativo: (57) 311 257 5882</p>
                            </div>
                        </li>
                        <li>
                            <div class="iocn-holder">
                                <i class="bi bi-envelope-at-fill"></i>
                            </div>
                            <div class="text-holder">
                                <h6>Correo:</h6>
                                <a href="#">
                                    <p>info@globalautomation.com.co</p>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
</header>
<!--End header area-->

<div class="main-menu">
    <div class="container">
        <div class="main-menu-bg">
            <div class="row">
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <nav class="navbar navbar-expand-lg bg-body-tertiary  " data-bs-theme="dark">
                        <div class="container-fluid">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                <ul class="navbar-nav desktop">
                                    <li class="menu-item">
                                        <a href="/">Inicio</a>
                                    </li>
                                    <li class="menu-item">
                                        <a  href="#">Productos</a>
                                        <ul class="drop-menu">
                                            <li class="drop-menu-item"><a>Lubricacion Industrial</a>
                                                <ul class="drop-submenu">
                                                    <li><a class="drop-menu-item" href="LubricacionIndustrial">Lubricacion Centralizada</a></li>
                                                    <li><a class="drop-menu-item" href="LubricadoresMonopunto">Lubricadores Monopunto</a></li>
                                                    <li><a class="drop-menu-item" href="VisoresEindicadores">Visores e Indicadores de Nivel</a></li>
                                                    <li><a class="drop-menu-item" href="ValvulasDeMuestreo">Válvulas de Muestreo</a></li>
                                                </ul>
                                            </li>
                                            <li class="drop-menu-item"><a  href="/Neumatica">Neumatica</a></li>
                                            <li class="drop-menu-item"><a href="/ValvulasIndustriales">Válvulas Industriales</a></li>
                                            <li class="drop-menu-item"><a>Vacío</a>
                                                <ul class="drop-submenu">
                                                    <li><a class="drop-menu-item" href="VentonsasDeVacio">Ventosas</a></li>
                                                    <li><a class="drop-menu-item" href="BombasDeVacio">Bombas De Vacio</a></li>
                                                </ul>
                                            </li>
                                            <li class="drop-menu-item"><a>Ahorro De Energía en Aire Comprimido</a>
                                                    <ul class="drop-submenu">
                                                        <li><a class="drop-menu-item" href="CaudalimetroDectertorDeFugas">Caudalimetro de aire / Detector de fugas</a></li>
                                                        <li><a class="drop-menu-item" href="PistolasAireComprimido">Pistolas para Aire Comprimido</a></li>
                                                        <li><a class="drop-menu-item" href="BoquillasAireComprimido">Boquillas para Aire Comprimido</a></li>
                                                        <li><a class="drop-menu-item" href="CuchillasAireComprimido">Cuchillas para Aire Comprimido</a></li>
                                                        <li><a class="drop-menu-item" href="AmplificadoresAireComprimido">Amplificadores de Aire Comprimido</a></li>
                                                        <li><a class="drop-menu-item" href="PurgadoresCondensado">Purgadores de Condensado ( Drenajes de Condensado) </a></li>
                                                    </ul>
                                                </li>
                                            <li class="drop-menu-item"><a href="/BoquillasAtomizadoras">Boquillas
                                                    Atomizadoras</a></li>
                                            <li class="drop-menu-item"><a href="/AspiradorasIndustriales">Higiene
                                                    Industrial (ASPIRADORAS INDUSTRIALES)</a></li>
                                            <li class="drop-menu-item"><a>High Tech Aire
                                                    Comprimido</a>
                                                    <ul class="drop-submenu">
                                                        <li><a class="drop-menu-item" href="EliminadoresEstatica">ELIMINADORES DE ESTATICA</a></li>
                                                        <li><a class="drop-menu-item" href="GeneradorVacio">GENERADOR DE VACIO</a></li>
                                                        <li><a class="drop-menu-item" href="TransporteVacio">TRANSPORTE POR VACIO</a></li>
                                                        <li><a class="drop-menu-item" href="EnfriadoresTableros">ENFRIADORES DE TABLEROS ELECTRICOS</a></li>
                                                        <li><a class="drop-menu-item" href="TuboVortex">TUBO VORTEX de ENFRIAMIENTO</a></li>
                                                        <li><a class="drop-menu-item" href="PurgadoresCondensado">ACCESORIOS</a></li>
                                                    </ul>
                                                </li>
                                            <li class="drop-menu-item"><a>Instrumentación
                                                    Monitoreo y Calidad del Aire</a>
                                                    <ul class="drop-submenu">
                                                        <li><a class="drop-menu-item" href="MedidoresDeFlujo">MEDIDORES DE FLUJO </a></li>
                                                        <li><a class="drop-menu-item" href="MedidoresPuntoRocio">MEDIDORES DE PUNTO DE ROCIO</a></li>
                                                        
                                                    </ul>
                                                </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">Servicios</a>
                                        <ul class="drop-menu">
                                            <li class="drop-menu-item"><a href="/">Auditoría En
                                                    Lubricación</a></li>
                                            <li class="drop-menu-item"><a href="/">Auditoría En Aire
                                                    Comprimido</a></li>
                                            <li class="drop-menu-item"><a href="/">Lubricacion Basa en
                                                    Confiabilidad</a></li>

                                        </ul>
                                    </li>

                                    <li class="menu-item">
                                        <a href="#">Calculos</a>
                                        <ul class="drop-menu">
                                            <li class="drop-menu-item"><a href="/">Introducción Modulo De
                                                    Lubricación</a></li>
                                            <li class="drop-menu-item"><a href="/">Cálculos De Ahorro
                                                    Energético En El Soplado De Aire Comprimido</a></li>
                                            <li class="drop-menu-item"><a href="/">Dimensionamiento de
                                                    Sistema de Refrigeración de Gabinetes por medio de Tubo Vórtex</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">Proyectos</a>
                                        <ul class="drop-menu">
                                            <li class="drop-menu-item"><a href="/">Blog Default</a></li>
                                            <li class="drop-menu-item"><a href="/">Blog Single Post</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">Blog</a>
                                        <ul class="drop-menu">
                                            <li class="drop-menu-item"><a href="BlogAirJet">Air Jet</a></li>
                                            <li class="drop-menu-item"><a href="/">Blog Default</a></li>
                                            <li class="drop-menu-item"><a href="/">Blog Single Post</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="navbar-nav mobile">
                                    <li class="nav-item">
                                        <a class="nav-link text-uppercase text-light" role="button" href="/">Inicio</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link text-uppercase text-light" href="/" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Productos
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown2"><a class="nav-link text-uppercase text-light" role="button"
                                                data-bs-toggle="dropdown2" aria-expanded="false">Lubricacion Industrial</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="LubricacionIndustrial">Lubricacion Centralizada</a></li>
                                                <li><a class="dropdown-item" href="LubricadoresMonopunto">Lubricadores Monopunto</a></li>
                                                <li><a class="dropdown-item" href="LubricacionIndustrial">Visores e Indicadores de Nivel</a></li>
                                                <li><a class="dropdown-item" href="LubricacionIndustrial">Respiradores Desecantes</a></li>
                                                <li><a class="dropdown-item" href="LubricacionIndustrial">Válvulas de Muestreo</a></li>
                                            </ul>
                                            </li>
                                            <li><a class="dropdown-item" href="/">Neumatica</a></li>
                                            <li><a class="dropdown-item" href="/">Válvulas Industriales</a></li>
                                            <li><a class="dropdown-item" href="/">Vacío</a></li>
                                            <li><a class="dropdown-item" href="/">Ahorro De Energía en
                                                    Aire Comprimido</a></li>
                                            <li><a class="dropdown-item" href="/">Boquillas
                                                    Atomizadoras</a></li>
                                            <li><a class="dropdown-item" href="/">Higiene Industrial</a>
                                            </li>
                                            <li><a class="dropdown-item" href="/">High Tech Aire
                                                    Comprimido</a></li>
                                            <li><a class="dropdown-item" href="/">Instrumentación
                                                    Monitoreo y Calidad del Aire </a></li>

                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link text-uppercase text-light" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Servicios
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="/">Auditoría En
                                                    Lubricación</a></li>
                                            <li><a class="dropdown-item" href="/">Auditoría En Aire
                                                    Comprimido</a></li>
                                            <li><a class="dropdown-item" href="/">Lubricacion Basa en
                                                    Confiabilidad</a></li>
                                        </ul>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link text-uppercase text-light" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Calculos
                                        </a>
                                        <ul class="dropdown-menu">

                                            <li><a class="dropdown-item" href="/">Introducción Modulo De
                                                    Lubricación</a></li>
                                            <li><a class="dropdown-item" href="/">Cálculos De Ahorro
                                                    Energético En El Soplado De Aire Comprimido</a></li>
                                            <li><a class="dropdown-item" href="/">Dimensionamiento de
                                                    Sistema de Refrigeración de Gabinetes por medio de Tubo Vórtex</a>
                                            </li>

                                        </ul>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link text-uppercase text-light" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Proyectos
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="/">Blog Default</a></li>
                                            <li><a class="dropdown-item" href="blog-single.html">Blog Single Post</a>
                                            </li>

                                        </ul>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link text-uppercase text-light" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Blog
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="BlogAirJet">Air Jet</a></li>
                                            <li><a class="dropdown-item" href="/">Blog Single Post</a>
                                            </li>

                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">

                    <div class="link_btn float_right">
                        <a href="contact.html" class="thm-btn bg-clr1">CONTÁCTANOS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--End mainmenu area-->


<style>
    .top-bar-area {
        background: #292929;
        padding: 7px 0 8px;
    }

    .top-bar-area p {
        font-family: 'Hind', sans-serif;
        color: #fff;
        font-size: 14px;
        line-height: 24px;
        margin: 6px 0;
        font-weight: 300;
    }

    .top-bar-area p i {
        color: #ad2727;
        margin-right: 8px;
    }

    /* Header */

    .header-area {
        padding: 12px 0 60px;
    }

    .header-area.style-2 {
        padding: 0px 0;
    }

    .header-area.style-2 .logo {
        margin-top: 14px;
    }

    .header-contact-info {
        overflow: hidden;
    }

    .header-contact-info ul {}

    .header-contact-info ul li {
        border-right: 1px solid #f7f7f7;
        display: inline-block;
        float: left;
        margin-right: 30px;
        position: relative;
        padding-top: 4px;
        padding-bottom: 2px;
        max-width: 300px;
    }

    .header-contact-info ul li:last-child {
        margin-right: 0;
        border-right: none;
        padding-right: 0;
    }

    .header-contact-info ul li .iocn-holder {
        width: 48px;
        border: 1px dashed #ad2727;
        border-radius: 50%;
        height: 48px;
    }

    .header-contact-info ul li .iocn-holder i {
        color: #ad2727;
        display: block;
        font-size: 24px;
        font-weight: 500;
        height: 48px;
        line-height: 48px;
        text-align: center;
        transition: all 500ms ease 0s;
        width: 48px;
    }

    .header-contact-info ul li .iocn-holder i.top-envelop {
        font-size: 40px;
    }

    .header-contact-info ul li:hover .iocn-holder i {
        color: #2b2c36;
    }

    .header-contact-info ul li .iocn-holder,
    .header-contact-info ul li .text-holder {
        display: table-cell;
        vertical-align: middle;
    }

    .header-contact-info ul li .text-holder {
        padding-left: 10px;
    }

    .header-contact-info ul li .text-holder h6 {
        color: #222222;
        font-size: 14px;
        font-weight: 600;
        text-transform: capitalize;
        margin: 0;
    }

    .header-contact-info ul li .text-holder p {
        color: #999;
        font-size: 16px;
        font-weight: 400;
        margin: 0;
        line-height: 16px;
    }

    .top-social-links {
        float: right;
        margin: 15px 0;
    }

    .top-social-links li {
        display: inline-block;
        margin: 0 0 0 15px;
    }

    .top-social-links li:first-child {
        margin: 0;
    }

    .top-social-links li a i {
        color: #999;
        font-size: 16px;
        transition: all 500ms ease;
    }

    .top-social-links li a:hover i {
        color: #ad2727;
    }


    /* Mainmenu Navbar */
    .main-menu {
        margin-bottom: -35px;
        margin-top: -35px;
        position: relative;
        z-index: 999999;
    }

    .main-menu-bg {
        max-width: 1320px;
        background-color: #2b3035;
    }

    .float_right {
        float: right;
    }

    .link_btn {
        width: 100%;
        height: 100%;
    }

    .bg-clr1 {
        width: 100%;
        height: 100%;
        text-decoration: none;
        background: #ad2727;
        color: #fff;
    }

    .thm-btn {
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        position: relative;
        transition: all 0.5s ease 0s;
        cursor: pointer;
        padding: 0 30px;
        line-height: 50px;
        display: inline-block;
        text-align: center;
        z-index: 1;
    }

    .thm-btn:hover {
        color: #fff;
    }

    .thm-btn:hover::before {
        opacity: 1;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    .thm-btn:before {
        background-color: #444;
        content: "";
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        transform: scale(0.5, 1);
        transition: all 0.4s ease 0s;
        width: 100%;
        z-index: -1;
    }

    .mainmenu-area .link_btn .thm-btn {
        background: #ad2727;
        line-height: 67px;
        padding: 0 50px;
    }


    .mobile {
        display: none;
    }

    .menu,
    .drop-menu,
    .drop-menu2 {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .menu-item {
        display: inline-block;
        position: relative;
    }

    .menu-item a {
        text-decoration: none;
        text-transform: uppercase;
        padding: 6px 10px;
        color: #fff;
        display: block;

    }
    .menu-item2 {
        display: inline-block;
        position: relative;
    }

    .menu-item2 a {
        text-decoration: none;
        text-transform: uppercase;
        padding: 6px 10px;
        color: #fff;
        display: block;

    }


    .drop-menu li{
        position: relative;
    }

    .drop-menu {
        display: none;
        position: absolute;
        background-color: #292929;
        min-width: 250px;
        border-top: solid 2px #fff;
        margin-top: 0px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    }
    .drop-submenu {
        display: none;
        position: absolute;
        background-color: #292929;
        left: auto;
        right: -100%;
        top: 7px;
        padding-left: 0;
        min-width: 250px;
        max-width: 250px;
        border-top: solid 2px #fff;
        list-style-type: none;
        margin-top: 2px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    }

    .drop-menu-item,
    .drop-menu-item2 {
        width: 100%;

    }

    .drop-menu-item a:hover,
    .drop-menu-item2 a:hover {
        background-color: #ad2727;

    }

    .drop-menu-item:hover,
    .drop-menu-item2:hover {
        background-color: #292929;
    }

    .drop-menu-item a,
    .drop-menu-item2 a {
        color: #fff;
        font-size: 0.8rem;
    }

    .drop-menu-item:hover .drop-submenu{
        display: block;
    }
    
    .menu-item:hover .drop-menu {
        display: block;
    }

    
    /*medias */




    @media only screen and (max-width: 991px) {}


    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .header-area .logo {
            text-align: center;
            margin: 0 0 30px;
        }

        .header-contact-info {
            overflow: hidden;
            width: 400px;
            margin: 0 auto;
            margin-bottom: 20px;
        }

        .top-social-links {
            float: none;
            margin: 20px 0 0;
            text-align: center;
        }
        .mobile{
            display: block;
        }
        .desktop{
            display: none;
        }
    }


    @media only screen and (max-width: 767px) {


        .header-area {
            padding: 30px 0 10px;
        }

        .header-area .logo {
            text-align: center;
            margin: 0 0 20px;
        }

        .header-area .logo img {
            position: relative;
            left: -20px;
        }

        .header-contact-info {
            overflow: hidden;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 20px;
        }

        .header-contact-info ul li {
            border-right: none;
            float: left;
            margin-right: 0;
            padding-right: 0;
            padding-top: 15px;
        }

        .top-social-links {
            float: none;
            width: 280px;
            margin: 0 auto;
            margin-top: 20px;
        }
        .mobile{
            display: block;
        }
        .desktop{
            display: none;
        }
    }
</style>