---
import { ViewTransitions } from "astro:transitions";
import Header from '../components/Header.astro';
export const prerender = true;
---

<!doctype html>
<html lang="es" transition:animate="none">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/images/favicon/GlobalIcon.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>Global Automation - Soluciones Integrales En Automatizacion</title>
		<script src="https://kit.fontawesome.com/aa233720b7.js" crossorigin="anonymous"></script>

		
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
		
		<link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;500;600&family=Montserrat:wght@100;300;500;600;700&family=Spline+Sans+Mono:wght@700&family=Spline+Sans:wght@400;600&display=swap" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
		<ViewTransitions />
	</head>
	<body>
		<div class="wrapper">
	        <Header />

			<slot transition:animate="slide" />
		</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
	</body>
</html>
<style is:global>
	.wrapper{
		width: 100%;
		background: #fff;
		overflow-x: hidden;
	}
	body{
		margin: 0;
		height: 1000px;
	}
	.breadcrumb-area {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 190px 0 170px;
  position: relative;
}

.breadcrumb-area:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    z-index: 0;
}

.breadcrumb-area h1 {
    color: #ffffff;
    position: relative;
    font-weight: 600;
    line-height: 40px;
    text-transform: uppercase;
}
.text{
	font-family: 'Hind', sans-serif;
    font-size: 1.3rem;
    color: #848484;
    line-height: 26px;
    font-weight: 300;
}
h2, h4,h3{
	color: #ad2727;
	margin-top: 1rem;

}
table{
		font-size: 1rem;
	}

#list{ 
    background: white; 
    } 
  
    
#list li{ 
    list-style: none; 
} 

  
#list li::before{ 
    content: "\00BB"; 
	font-size: 30px; 
	margin-right: 5px;
	color: #ad2727
} 

#list2{ 
    background: #ad2727; 
    color: white;

    } 
  
    
#list2 li{ 
    list-style: none; 
} 

  
#list2 li::before{ 
    content: "\00BB"; 
	font-size: 30px; 
	margin-right: 5px;
	color: #292929;
}
	
#lista3 {
    counter-reset: li; 
    list-style: none; 
    *list-style: decimal; 
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#lista3 ol {
    margin: 0 0 0 2em; 
}

#lista3 li{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;   
}

#lista3 li:hover{
    background: #eee;
}   

#lista3 li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #fa8072;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

#lista3 li:after{
    position: absolute; 
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;               
}

#lista3 li:hover:after{
    left: -.5em;
    border-left-color: #fa8072;             
}
</style>
